In [1]:
import pandas as pd

tmp = pd.read_csv('./data/SpeedDatingExData.csv', encoding='cp949')

In [2]:
# tmp2에 samerace가 1인 데이터만 추출
tmp2 = tmp[tmp['samerace'] == 1]

In [3]:
tmp2.wave.value_counts().sort_index()

1     102
2     260
3      46
4     240
5      52
6      16
7     252
8      50
9     338
10     46
11    310
12    200
13     44
14    236
15    460
16     44
17    102
18     34
19    122
20     26
21    336
Name: wave, dtype: int64

In [4]:
tmp2.columns

Index(['iid', 'id', 'gender', 'idg', 'condtn', 'wave', 'round', 'position',
       'positin1', 'order',
       ...
       'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3', 'attr5_3',
       'sinc5_3', 'intel5_3', 'fun5_3', 'amb5_3'],
      dtype='object', length=195)

In [9]:
col = ['id', 'iid', 'pid', 'wave', 'gender', 'match',
       'attr3_1','sinc3_1', 'intel3_1', 'fun3_1', 'amb3_1',
       'pf_o_att', 'pf_o_sin', 'pf_o_int', 'pf_o_fun', 'pf_o_amb',
       'pf_o_sha']
col2 = 'attr	sinc	intel	fun	amb	shar	like'.split()
col2

['attr', 'sinc', 'intel', 'fun', 'amb', 'shar', 'like']

In [10]:
col += col2
col

['id',
 'iid',
 'pid',
 'wave',
 'gender',
 'match',
 'attr3_1',
 'sinc3_1',
 'intel3_1',
 'fun3_1',
 'amb3_1',
 'pf_o_att',
 'pf_o_sin',
 'pf_o_int',
 'pf_o_fun',
 'pf_o_amb',
 'pf_o_sha',
 'attr',
 'sinc',
 'intel',
 'fun',
 'amb',
 'shar',
 'like']

In [11]:
tmp2[col]

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,pf_o_fun,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like
2,1.0,1,13.0,1,0,1,6.0,8.0,8.0,8.0,...,18.0,14.0,12.0,5.0,8.0,9.0,8.0,5.0,7.0,7.0
10,2.0,2,11.0,1,0,0,7.0,5.0,8.0,10.0,...,20.0,0.0,5.0,5.0,7.0,8.0,4.0,6.0,3.0,6.0
11,2.0,2,12.0,1,0,0,7.0,5.0,8.0,10.0,...,40.0,0.0,0.0,8.0,5.0,6.0,6.0,9.0,6.0,7.0
13,2.0,2,14.0,1,0,1,7.0,5.0,8.0,10.0,...,40.0,5.0,5.0,7.0,9.0,7.0,6.0,5.0,7.0,7.0
15,2.0,2,16.0,1,0,0,7.0,5.0,8.0,10.0,...,10.0,0.0,10.0,8.0,7.0,8.0,3.0,6.0,2.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8365,22.0,552,518.0,21,1,0,8.0,7.0,7.0,6.0,...,30.0,5.0,5.0,5.0,8.0,8.0,7.0,7.0,8.0,6.0
8366,22.0,552,519.0,21,1,0,8.0,7.0,7.0,6.0,...,15.0,5.0,5.0,3.0,4.0,7.0,6.0,6.0,NaN,6.0
8368,22.0,552,521.0,21,1,0,8.0,7.0,7.0,6.0,...,15.0,15.0,10.0,3.0,4.0,6.0,4.0,4.0,4.0,4.0
8369,22.0,552,522.0,21,1,0,8.0,7.0,7.0,6.0,...,20.0,15.0,20.0,3.0,3.0,9.0,6.0,9.0,6.0,6.0
8372,22.0,552,525.0,21,1,0,8.0,7.0,7.0,6.0,...,20.0,15.0,10.0,7.0,5.0,5.0,5.0,6.0,NaN,4.0

In [12]:
# tmp2에서 사용할 칼럼 추출, null값 제거
tmp3 = tmp2[col].dropna()

In [13]:
# 3개의 그룹으로 나누기
# 1~7 wave =  group 1
# 8~14 wave = group 2
# 15~21 wave =  group 3
tmp3['group'] = tmp3.wave.apply(lambda x: 1 if x <= 7 else (2 if x <= 14 else 3))

In [14]:
tmp3.group.value_counts().sort_index()

1     816
2    1016
3     886
Name: group, dtype: int64

In [19]:
g1 = tmp3[tmp3.group == 1]

In [20]:
g1.to_csv('./data/group1_3.csv')

In [21]:
g2 = tmp3[tmp3.group == 2]
g2.to_csv('./data/group2_3.csv')

g3 = tmp3[tmp3.group == 3]
g3.to_csv('./data/group3_3.csv')

In [22]:
print(len(g1))
print(len(g2))
print(len(g3))

816
1016
886