In [2]:
import pandas as pd

tmp = pd.read_csv('./data/SpeedDatingExData.csv', encoding='cp949')

In [3]:
tmp.samerace.value_counts()

0    5062
1    3316
Name: samerace, dtype: int64

In [4]:
tmp2 = tmp[tmp.samerace == 1]
tmp2

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
10,2,2.0,0,3,1,1,10,3,NaN,10,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
11,2,2.0,0,3,1,1,10,3,NaN,9,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
13,2,2.0,0,3,1,1,10,3,NaN,1,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
15,2,2.0,0,3,1,1,10,3,NaN,2,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8365,552,22.0,1,44,2,21,22,6,10.0,19,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8366,552,22.0,1,44,2,21,22,20,10.0,11,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8368,552,22.0,1,44,2,21,22,8,10.0,21,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8369,552,22.0,1,44,2,21,22,4,10.0,17,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8372,552,22.0,1,44,2,21,22,17,10.0,8,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0

In [5]:
tmp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3316 entries, 2 to 8372
Columns: 195 entries, iid to amb5_3
dtypes: float64(174), int64(13), object(8)
memory usage: 5.0+ MB

In [6]:
tmp2.describe()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
count,3316.000000,3316.000000,3316.000000,3316.000000,3316.000000,3316.000000,3316.000000,3316.000000,2616.000000,3316.000000,...,1712.000000,1712.000000,1712.000000,1712.000000,1712.000000,866.000000,866.000000,866.000000,866.000000,866.000000
mean,281.590772,8.870024,0.500000,17.175513,1.861279,11.240048,17.055489,9.253317,9.587156,8.986128,...,7.382009,8.122664,8.551986,7.784463,7.449182,6.960739,7.628176,8.062356,7.279446,7.116628
std,155.988227,5.350265,0.500075,10.677811,0.345708,5.857455,4.105024,5.555023,5.707937,5.528027,...,1.523662,1.658839,1.452013,1.823842,2.019423,1.351798,1.388754,1.295003,1.704253,1.740779
min,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,...,2.000000,2.000000,4.000000,2.000000,1.000000,2.000000,2.000000,5.000000,1.000000,1.000000
25%,155.000000,4.000000,0.000000,8.000000,2.000000,7.000000,15.000000,4.000000,5.000000,4.000000,...,7.000000,7.000000,8.000000,7.000000,6.000000,6.000000,7.000000,7.000000,6.000000,6.000000
50%,285.500000,8.000000,0.500000,16.000000,2.000000,11.000000,18.000000,9.000000,9.000000,8.000000,...,7.000000,8.000000,8.000000,8.000000,8.000000,7.000000,8.000000,8.000000,7.000000,7.000000
75%,401.000000,13.000000,1.000000,26.000000,2.000000,15.000000,20.000000,13.000000,14.000000,13.000000,...,8.000000,9.000000,9.000000,9.000000,9.000000,8.000000,9.000000,9.000000,8.000000,8.000000
max,552.000000,22.000000,1.000000,44.000000,2.000000,21.000000,22.000000,22.000000,22.000000,22.000000,...,12.000000,12.000000,12.000000,12.000000,12.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [7]:
tmp2.shape

(3316, 195)

In [8]:
col = ['gender', 'match', 'attr3_1',
           'sinc3_1', 'intel3_1', 'fun3_1', 
           'amb3_1', 'attr5_1', 'sinc5_1', 
           'intel5_1', 'fun5_1', 'amb5_1']

In [9]:
# cols = ['gender', 'match', 'attr3_1', 'sinc3_1',
#         'fun3_1', 'amb3_1', 'attr5_1',
#         'sinc5_1', 'fun5_1', 'amb5_1',
#         'attr3_s', 'sinc3_s', 'intel3_s', 'fun3_s',
#         'amb3_s', 'attr3_2', 'sinc3_2',
#         'fun3_2', 'amb3_2', 'attr5_2', 'sinc5_2',
#         'fun5_2', 'amb5_2', 'sinc7_3',
#         'intel7_3', 'fun7_3', 'amb7_3', 'shar7_3',
#         'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3',
#         'attr5_3', 'sinc5_3', 'intel5_3', 'fun5_3', 'amb5_3']

In [10]:
tmp2[col].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3316 entries, 2 to 8372
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gender    3316 non-null   int64
 1   match     3316 non-null   int64
 2   attr3_1   3291 non-null   float64
 3   sinc3_1   3291 non-null   float64
 4   intel3_1  3291 non-null   float64
 5   fun3_1    3291 non-null   float64
 6   amb3_1    3291 non-null   float64
 7   attr5_1   1945 non-null   float64
 8   sinc5_1   1945 non-null   float64
 9   intel5_1  1945 non-null   float64
 10  fun5_1    1945 non-null   float64
 11  amb5_1    1945 non-null   float64
dtypes: float64(10), int64(2)
memory usage: 336.8 KB

In [11]:
tmp3 = tmp2[col]

In [12]:
tmp3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3316 entries, 2 to 8372
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gender    3316 non-null   int64
 1   match     3316 non-null   int64
 2   attr3_1   3291 non-null   float64
 3   sinc3_1   3291 non-null   float64
 4   intel3_1  3291 non-null   float64
 5   fun3_1    3291 non-null   float64
 6   amb3_1    3291 non-null   float64
 7   attr5_1   1945 non-null   float64
 8   sinc5_1   1945 non-null   float64
 9   intel5_1  1945 non-null   float64
 10  fun5_1    1945 non-null   float64
 11  amb5_1    1945 non-null   float64
dtypes: float64(10), int64(2)
memory usage: 336.8 KB

In [13]:
tmp4 = tmp3[tmp3.amb3_1.notnull()]
# tmp3.amb3_1.isnull().sum()

In [14]:
tmp4.amb3_1.isnull().sum()

0

In [15]:
tmp4.to_csv('./data/in_preprocessing.csv')