In [1]:
import pandas as pd

tmp = pd.read_csv('./data/SpeedDatingExData.csv', encoding='cp949')

In [2]:
# tmp2에 samerace가 1인 데이터만 추출
tmp2 = tmp[tmp['samerace'] == 1]

In [3]:
tmp2.wave.value_counts().sort_index()

1     102
2     260
3      46
4     240
5      52
6      16
7     252
8      50
9     338
10     46
11    310
12    200
13     44
14    236
15    460
16     44
17    102
18     34
19    122
20     26
21    336
Name: wave, dtype: int64

In [4]:
tmp2.columns

Index(['iid', 'id', 'gender', 'idg', 'condtn', 'wave', 'round', 'position',
       'positin1', 'order',
       ...
       'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3', 'attr5_3',
       'sinc5_3', 'intel5_3', 'fun5_3', 'amb5_3'],
      dtype='object', length=195)

In [5]:
col = ['id', 'iid', 'pid', 'wave', 'gender', 'match',
       'attr3_1','sinc3_1', 'intel3_1', 'fun3_1', 'amb3_1',
       'pf_o_att', 'pf_o_sin', 'pf_o_int', 'pf_o_fun', 'pf_o_amb',
       'pf_o_sha']

In [6]:
# 사용할 칼럼 추가
col2 = 'attr	sinc	intel	fun	amb	shar	like'.split()
col2

['attr', 'sinc', 'intel', 'fun', 'amb', 'shar', 'like']

In [7]:
col += col2
col

['id',
 'iid',
 'pid',
 'wave',
 'gender',
 'match',
 'attr3_1',
 'sinc3_1',
 'intel3_1',
 'fun3_1',
 'amb3_1',
 'pf_o_att',
 'pf_o_sin',
 'pf_o_int',
 'pf_o_fun',
 'pf_o_amb',
 'pf_o_sha',
 'attr',
 'sinc',
 'intel',
 'fun',
 'amb',
 'shar',
 'like']

In [8]:
# 사용할 컬럼 추가
col3 = 'condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1'.split(', ')
col3

['condtn',
 'round',
 'int_corr',
 'age_o',
 'age',
 'attr1_1',
 'sinc1_1',
 'intel1_1',
 'fun1_1',
 'amb1_1',
 'shar1_1',
 'attr4_1',
 'sinc4_1',
 'intel4_1',
 'fun4_1',
 'amb4_1',
 'shar4_1',
 'attr2_1',
 'sinc2_1',
 'intel2_1',
 'fun2_1',
 'amb2_1',
 'shar2_1',
 'attr5_1',
 'sinc5_1',
 'intel5_1',
 'fun5_1',
 'amb5_1']

In [9]:
# 사용할 칼럼들만 추출
col += col3
tmp3 = tmp2[col]
tmp3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3316 entries, 2 to 8372
Data columns (total 52 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3316 non-null   float64
 1   iid       3316 non-null   int64
 2   pid       3316 non-null   float64
 3   wave      3316 non-null   int64
 4   gender    3316 non-null   int64
 5   match     3316 non-null   int64
 6   attr3_1   3291 non-null   float64
 7   sinc3_1   3291 non-null   float64
 8   intel3_1  3291 non-null   float64
 9   fun3_1    3291 non-null   float64
 10  amb3_1    3291 non-null   float64
 11  pf_o_att  3306 non-null   float64
 12  pf_o_sin  3306 non-null   float64
 13  pf_o_int  3306 non-null   float64
 14  pf_o_fun  3306 non-null   float64
 15  pf_o_amb  3301 non-null   float64
 16  pf_o_sha  3301 non-null   float64
 17  attr      3244 non-null   float64
 18  sinc      3215 non-null   float64
 19  intel     3206 non-null   float64
 20  fun       3176 non-null   float64
 21  amb       3009 non-null   float64
 22  shar      2887 non-null   float64
 23  like      3241 non-null   float64
 24  condtn    3316 non-null   int64
 25  round     3316 non-null   int64
 26  int_corr  3296 non-null   float64
 27  age_o     3298 non-null   float64
 28  age       3298 non-null   float64
 29  attr1_1   3306 non-null   float64
 30  sinc1_1   3306 non-null   float64
 31  intel1_1  3306 non-null   float64
 32  fun1_1    3306 non-null   float64
 33  amb1_1    3301 non-null   float64
 34  shar1_1   3301 non-null   float64
 35  attr4_1   2616 non-null   float64
 36  sinc4_1   2616 non-null   float64
 37  intel4_1  2616 non-null   float64
 38  fun4_1    2616 non-null   float64
 39  amb4_1    2616 non-null   float64
 40  shar4_1   2616 non-null   float64
 41  attr2_1   3306 non-null   float64
 42  sinc2_1   3306 non-null   float64
 43  intel2_1  3306 non-null   float64
 44  fun2_1    3306 non-null   float64
 45  amb2_1    3306 non-null   float64
 46  shar2_1   3306 non-null   float64
 47  attr5_1   1945 non-null   float64
 48  sinc5_1   1945 non-null   float64
 49  intel5_1  1945 non-null   float64
 50  fun5_1    1945 non-null   float64
 51  amb5_1    1945 non-null   float64
dtypes: float64(46), int64(6)
memory usage: 1.3 MB

In [12]:
tmp3.describe()

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1
count,3316.000000,3316.000000,3316.000000,3316.000000,3316.000000,3316.000000,3291.000000,3291.000000,3291.000000,3291.000000,...,3306.000000,3306.000000,3306.000000,3306.000000,3306.000000,1945.000000,1945.000000,1945.000000,1945.000000,1945.000000
mean,8.870024,281.590772,281.590772,11.240048,0.500000,0.170688,7.145245,8.255849,8.457308,7.667882,...,12.806785,14.316476,18.772396,11.689501,11.671464,6.898715,7.869409,8.265296,7.388175,7.622622
std,5.350265,155.988227,155.988227,5.857455,0.500075,0.376292,1.339665,1.418781,1.052822,1.541522,...,6.700299,6.220634,6.470080,7.137152,6.261896,1.375313,1.629655,1.283623,1.759151,1.782835
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,3.000000,2.000000,1.000000
25%,4.000000,155.000000,155.000000,7.000000,0.000000,0.000000,7.000000,8.000000,8.000000,7.000000,...,10.000000,10.000000,15.000000,5.000000,10.000000,6.000000,7.000000,8.000000,6.000000,7.000000
50%,8.000000,285.500000,285.500000,11.000000,0.500000,0.000000,7.000000,8.000000,8.000000,8.000000,...,14.290000,15.000000,20.000000,10.000000,10.000000,7.000000,8.000000,8.000000,8.000000,8.000000
75%,13.000000,401.000000,401.000000,15.000000,1.000000,0.000000,8.000000,9.000000,9.000000,9.000000,...,18.000000,20.000000,20.690000,15.000000,15.630000,8.000000,9.000000,9.000000,9.000000,9.000000
max,22.000000,552.000000,552.000000,21.000000,1.000000,1.000000,10.000000,10.000000,10.000000,10.000000,...,40.000000,40.000000,50.000000,50.000000,30.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [13]:
# tmp3에서 null값 을 중앙값으로 체우기
tmp3[col] = tmp3[col].fillna(tmp[col].median())

/var/folders/p4/ybhgl5113q57lp0vhqc2znhr0000gn/T/ipykernel_75846/3751871771.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp3[col] = tmp3[col].fillna(tmp[col].median())

In [14]:
tmp3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3316 entries, 2 to 8372
Data columns (total 52 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3316 non-null   float64
 1   iid       3316 non-null   int64
 2   pid       3316 non-null   float64
 3   wave      3316 non-null   int64
 4   gender    3316 non-null   int64
 5   match     3316 non-null   int64
 6   attr3_1   3316 non-null   float64
 7   sinc3_1   3316 non-null   float64
 8   intel3_1  3316 non-null   float64
 9   fun3_1    3316 non-null   float64
 10  amb3_1    3316 non-null   float64
 11  pf_o_att  3316 non-null   float64
 12  pf_o_sin  3316 non-null   float64
 13  pf_o_int  3316 non-null   float64
 14  pf_o_fun  3316 non-null   float64
 15  pf_o_amb  3316 non-null   float64
 16  pf_o_sha  3316 non-null   float64
 17  attr      3316 non-null   float64
 18  sinc      3316 non-null   float64
 19  intel     3316 non-null   float64
 20  fun       3316 non-null   float64
 21  amb       3316 non-null   float64
 22  shar      3316 non-null   float64
 23  like      3316 non-null   float64
 24  condtn    3316 non-null   int64
 25  round     3316 non-null   int64
 26  int_corr  3316 non-null   float64
 27  age_o     3316 non-null   float64
 28  age       3316 non-null   float64
 29  attr1_1   3316 non-null   float64
 30  sinc1_1   3316 non-null   float64
 31  intel1_1  3316 non-null   float64
 32  fun1_1    3316 non-null   float64
 33  amb1_1    3316 non-null   float64
 34  shar1_1   3316 non-null   float64
 35  attr4_1   3316 non-null   float64
 36  sinc4_1   3316 non-null   float64
 37  intel4_1  3316 non-null   float64
 38  fun4_1    3316 non-null   float64
 39  amb4_1    3316 non-null   float64
 40  shar4_1   3316 non-null   float64
 41  attr2_1   3316 non-null   float64
 42  sinc2_1   3316 non-null   float64
 43  intel2_1  3316 non-null   float64
 44  fun2_1    3316 non-null   float64
 45  amb2_1    3316 non-null   float64
 46  shar2_1   3316 non-null   float64
 47  attr5_1   3316 non-null   float64
 48  sinc5_1   3316 non-null   float64
 49  intel5_1  3316 non-null   float64
 50  fun5_1    3316 non-null   float64
 51  amb5_1    3316 non-null   float64
dtypes: float64(46), int64(6)
memory usage: 1.3 MB

In [15]:
# 3개의 그룹으로 나누기
# 1~7 wave =  group 1
# 8~14 wave = group 2
# 15~21 wave =  group 3
tmp3['group'] = tmp3.wave.apply(lambda x: 1 if x <= 7 else (2 if x <= 14 else 3))

/var/folders/p4/ybhgl5113q57lp0vhqc2znhr0000gn/T/ipykernel_75846/3907601548.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp3['group'] = tmp3.wave.apply(lambda x: 1 if x <= 7 else (2 if x <= 14 else 3))

In [17]:
tmp3.group.value_counts().sort_index()

1     968
2    1224
3    1124
Name: group, dtype: int64

In [18]:
g1 = tmp3[tmp3.group == 1]

In [19]:
g1.to_csv('./data/group1_4.csv')

In [20]:
g2 = tmp3[tmp3.group == 2]
g2.to_csv('./data/group2_4.csv')

g3 = tmp3[tmp3.group == 3]
g3.to_csv('./data/group3_4.csv')

In [21]:
print(len(g1))
print(len(g2))
print(len(g3))

968
1224
1124