In [14]:
import pandas as pd

g2 = pd.read_csv('../data/group2_4.csv')

In [15]:
g2.drop(['Unnamed: 0'], axis=1, inplace=True)

In [16]:
# 성별 분류 확인
g2.gender.value_counts()

0    612
1    612
Name: gender, dtype: int64

In [17]:
g2.gender == 0

0        True
1        True
2        True
3        True
4        True
        ...
1219    False
1220    False
1221    False
1222    False
1223    False
Name: gender, Length: 1224, dtype: bool

In [18]:
# iid 와 pid 관계 확인
g2[g2.pid == 22]

Empty DataFrame
Columns: [id, iid, pid, wave, gender, match, attr3_1, sinc3_1, intel3_1, fun3_1, amb3_1, pf_o_att, pf_o_sin, pf_o_int, pf_o_fun, pf_o_amb, pf_o_sha, attr, sinc, intel, fun, amb, shar, like, condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1, group]
Index: []

[0 rows x 53 columns]

In [19]:
g2[g2.iid == 22]

Empty DataFrame
Columns: [id, iid, pid, wave, gender, match, attr3_1, sinc3_1, intel3_1, fun3_1, amb3_1, pf_o_att, pf_o_sin, pf_o_int, pf_o_fun, pf_o_amb, pf_o_sha, attr, sinc, intel, fun, amb, shar, like, condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1, group]
Index: []

[0 rows x 53 columns]

In [20]:
# iid의 유니크한 값 확인
len(g2.iid.unique())

190

In [21]:
# pid의 유니크한 값 확인
len(g2.pid.unique())

190

In [22]:
# 누락된 평가 확인
omission_list = list(set(g1.pid.unique()) - set(g1.iid.unique()))
omission_list

[]

In [23]:
# 누락된 평가를 가지고 있는 row의 인덱스 확인
df_omission_list = []
for omission in omission_list:
    df_omission_list.append(g2[g2.pid == omission].index)  

df_omission_list

[]

In [24]:
len(df_omission_list)

0

In [25]:
# 누락된 평가를 가지고 있는 row 제거

for i in range(len(df_omission_list)):
    g2.drop(df_omission_list[i], axis=0, inplace=True)

In [26]:
g2

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,group
0,1.0,174,185.0,8,0,0,9.0,10.0,8.0,8.0,...,14.63,19.51,12.20,19.51,7.0,8.0,8.0,8.0,8.0,2
1,1.0,174,186.0,8,0,0,9.0,10.0,8.0,8.0,...,14.63,19.51,12.20,19.51,7.0,8.0,8.0,8.0,8.0,2
2,1.0,174,193.0,8,0,0,9.0,10.0,8.0,8.0,...,14.63,19.51,12.20,19.51,7.0,8.0,8.0,8.0,8.0,2
3,2.0,175,189.0,8,0,0,7.0,10.0,8.0,8.0,...,13.33,20.00,17.78,15.56,7.0,8.0,8.0,8.0,8.0,2
4,3.0,176,185.0,8,0,0,6.0,9.0,8.0,7.0,...,16.67,18.75,12.50,14.58,7.0,8.0,8.0,8.0,8.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,18.0,378,350.0,14,1,0,6.0,7.0,9.0,7.0,...,10.00,15.00,30.00,10.00,6.0,6.0,9.0,8.0,7.0,2
1220,18.0,378,354.0,14,1,0,6.0,7.0,9.0,7.0,...,10.00,15.00,30.00,10.00,6.0,6.0,9.0,8.0,7.0,2
1221,18.0,378,355.0,14,1,0,6.0,7.0,9.0,7.0,...,10.00,15.00,30.00,10.00,6.0,6.0,9.0,8.0,7.0,2
1222,18.0,378,356.0,14,1,0,6.0,7.0,9.0,7.0,...,10.00,15.00,30.00,10.00,6.0,6.0,9.0,8.0,7.0,2
1223,18.0,378,359.0,14,1,0,6.0,7.0,9.0,7.0,...,10.00,15.00,30.00,10.00,6.0,6.0,9.0,8.0,7.0,2

In [27]:
g2[g2.pid == 347]

Empty DataFrame
Columns: [id, iid, pid, wave, gender, match, attr3_1, sinc3_1, intel3_1, fun3_1, amb3_1, pf_o_att, pf_o_sin, pf_o_int, pf_o_fun, pf_o_amb, pf_o_sha, attr, sinc, intel, fun, amb, shar, like, condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1, group]
Index: []

[0 rows x 53 columns]

In [28]:
g2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 53 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1224 non-null   float64
 1   iid       1224 non-null   int64
 2   pid       1224 non-null   float64
 3   wave      1224 non-null   int64
 4   gender    1224 non-null   int64
 5   match     1224 non-null   int64
 6   attr3_1   1224 non-null   float64
 7   sinc3_1   1224 non-null   float64
 8   intel3_1  1224 non-null   float64
 9   fun3_1    1224 non-null   float64
 10  amb3_1    1224 non-null   float64
 11  pf_o_att  1224 non-null   float64
 12  pf_o_sin  1224 non-null   float64
 13  pf_o_int  1224 non-null   float64
 14  pf_o_fun  1224 non-null   float64
 15  pf_o_amb  1224 non-null   float64
 16  pf_o_sha  1224 non-null   float64
 17  attr      1224 non-null   float64
 18  sinc      1224 non-null   float64
 19  intel     1224 non-null   float64
 20  fun       1224 non-null   float64
 21  amb       1224 non-null   float64
 22  shar      1224 non-null   float64
 23  like      1224 non-null   float64
 24  condtn    1224 non-null   int64
 25  round     1224 non-null   int64
 26  int_corr  1224 non-null   float64
 27  age_o     1224 non-null   float64
 28  age       1224 non-null   float64
 29  attr1_1   1224 non-null   float64
 30  sinc1_1   1224 non-null   float64
 31  intel1_1  1224 non-null   float64
 32  fun1_1    1224 non-null   float64
 33  amb1_1    1224 non-null   float64
 34  shar1_1   1224 non-null   float64
 35  attr4_1   1224 non-null   float64
 36  sinc4_1   1224 non-null   float64
 37  intel4_1  1224 non-null   float64
 38  fun4_1    1224 non-null   float64
 39  amb4_1    1224 non-null   float64
 40  shar4_1   1224 non-null   float64
 41  attr2_1   1224 non-null   float64
 42  sinc2_1   1224 non-null   float64
 43  intel2_1  1224 non-null   float64
 44  fun2_1    1224 non-null   float64
 45  amb2_1    1224 non-null   float64
 46  shar2_1   1224 non-null   float64
 47  attr5_1   1224 non-null   float64
 48  sinc5_1   1224 non-null   float64
 49  intel5_1  1224 non-null   float64
 50  fun5_1    1224 non-null   float64
 51  amb5_1    1224 non-null   float64
 52  group     1224 non-null   int64
dtypes: float64(46), int64(7)
memory usage: 506.9 KB

In [29]:
# iid 기준으로 그룹한 것을 iid_tmp에 저장
iid_tmp = g2.groupby('iid').mean()
iid_tmp

,id,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,group
iid,,,,,,,,,,,,,,,,,,,,,
174,1.0,188.000000,8.0,0.0,0.000000,9.0,10.0,8.0,8.0,6.0,...,14.63,19.51,12.20,19.51,7.0,8.0,8.0,8.0,8.0,2.0
175,2.0,189.000000,8.0,0.0,0.000000,7.0,10.0,8.0,8.0,9.0,...,13.33,20.00,17.78,15.56,7.0,8.0,8.0,8.0,8.0,2.0
176,3.0,188.000000,8.0,0.0,0.333333,6.0,9.0,8.0,7.0,6.0,...,16.67,18.75,12.50,14.58,7.0,8.0,8.0,8.0,8.0,2.0
177,4.0,188.666667,8.0,0.0,0.000000,9.0,9.0,9.0,8.0,9.0,...,15.00,17.50,12.50,15.00,7.0,8.0,8.0,8.0,8.0,2.0
178,5.0,188.000000,8.0,0.0,0.333333,9.0,9.0,8.0,7.0,7.0,...,11.36,18.18,18.18,18.18,7.0,8.0,8.0,8.0,8.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,14.0,351.333333,14.0,1.0,0.166667,6.0,7.0,7.0,6.0,7.0,...,10.00,10.00,5.00,5.00,7.0,7.0,6.0,6.0,6.0,2.0
375,15.0,351.375000,14.0,1.0,0.125000,8.0,9.0,8.0,9.0,9.0,...,10.00,15.00,25.00,10.00,9.0,8.0,8.0,8.0,9.0,2.0
376,16.0,351.333333,14.0,1.0,0.333333,6.0,10.0,9.0,8.0,10.0,...,20.00,10.00,20.00,10.00,6.0,9.0,10.0,8.0,10.0,2.0
377,17.0,351.333333,14.0,1.0,0.000000,7.0,8.0,7.0,8.0,7.0,...,20.00,20.00,10.00,5.00,7.0,6.0,7.0,8.0,7.0,2.0
378,18.0,351.375000,14.0,1.0,0.000000,6.0,7.0,9.0,7.0,7.0,...,10.00,15.00,30.00,10.00,6.0,6.0,9.0,8.0,7.0,2.0

In [30]:
# iid 기준 그룹화 df에서 결과를 보고 필요한 칼럼들 추출
# ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']
iid_result_cols = ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']

In [31]:
# pid(상대방의 아이디)를 기준으로 그룹화
pid_tmp = g2.groupby('pid').mean()
pid_tmp

,id,iid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,group
pid,,,,,,,,,,,,,,,,,,,,,
174.0,5.000000,188.000000,8.0,1.0,0.000000,7.000000,9.000000,8.333333,5.333333,7.000000,...,16.253333,20.973333,17.463333,10.990000,7.000000,8.000,8.000000,8.000000,8.000000,2.0
175.0,6.000000,189.000000,8.0,1.0,0.000000,8.000000,8.000000,8.000000,8.000000,9.000000,...,16.980000,16.980000,16.980000,15.090000,7.000000,8.000,8.000000,8.000000,8.000000,2.0
176.0,5.000000,188.000000,8.0,1.0,0.333333,7.000000,9.000000,8.333333,5.333333,7.000000,...,16.253333,20.973333,17.463333,10.990000,7.000000,8.000,8.000000,8.000000,8.000000,2.0
177.0,5.666667,188.666667,8.0,1.0,0.000000,7.000000,8.000000,8.666667,7.166667,7.833333,...,17.023333,18.275000,17.988333,15.161667,7.000000,8.000,8.000000,8.000000,8.000000,2.0
178.0,5.000000,188.000000,8.0,1.0,0.333333,7.000000,9.000000,8.333333,5.333333,7.000000,...,16.253333,20.973333,17.463333,10.990000,7.000000,8.000,8.000000,8.000000,8.000000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374.0,11.333333,351.333333,14.0,0.0,0.166667,6.833333,8.666667,7.666667,7.833333,7.833333,...,11.500000,18.166667,8.000000,15.500000,7.166667,7.500,7.333333,7.333333,7.166667,2.0
375.0,11.375000,351.375000,14.0,0.0,0.125000,6.500000,9.000000,8.750000,6.875000,7.375000,...,11.250000,24.375000,7.250000,12.500000,6.375000,8.125,8.250000,6.875000,7.750000,2.0
376.0,11.333333,351.333333,14.0,0.0,0.333333,6.833333,8.666667,7.666667,7.833333,7.833333,...,11.500000,18.166667,8.000000,15.500000,7.166667,7.500,7.333333,7.333333,7.166667,2.0
377.0,11.333333,351.333333,14.0,0.0,0.000000,6.833333,8.666667,7.666667,7.833333,7.833333,...,11.500000,18.166667,8.000000,15.500000,7.166667,7.500,7.333333,7.333333,7.166667,2.0
378.0,11.375000,351.375000,14.0,0.0,0.000000,6.500000,9.000000,8.750000,6.875000,7.375000,...,11.250000,24.375000,7.250000,12.500000,6.375000,8.125,8.250000,6.875000,7.750000,2.0

In [32]:
# pid 기준 그룹화 df에서 결과에 필요한 칼럼들
pid_result_cols = 'pf_o_att	pf_o_sin	pf_o_int	pf_o_fun	pf_o_amb	pf_o_sha'.split('\t')
pid_result_cols += 'attr	sinc	intel	fun	amb	shar	like'.split()
pid_result_cols  += 'condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1'.split(', ')
pid_tmp = pid_tmp[pid_result_cols]

In [33]:
pid_tmp

,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,...,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1
pid,,,,,,,,,,,,,,,,,,,,,
174.0,9.52,23.81,16.67,16.67,16.67,16.67,4.333333,7.000000,6.666667,6.000000,...,14.833333,16.253333,20.973333,17.463333,10.990000,7.000000,8.000,8.000000,8.000000,8.000000
175.0,12.24,20.41,16.33,14.29,20.41,16.33,6.000000,6.000000,5.000000,5.000000,...,16.980000,16.980000,16.980000,16.980000,15.090000,7.000000,8.000,8.000000,8.000000,8.000000
176.0,13.04,21.74,19.57,17.39,15.22,13.04,5.666667,8.000000,8.000000,4.333333,...,14.833333,16.253333,20.973333,17.463333,10.990000,7.000000,8.000,8.000000,8.000000,8.000000
177.0,15.09,16.98,16.98,16.98,18.87,15.09,5.166667,7.166667,6.666667,7.166667,...,17.905000,17.023333,18.275000,17.988333,15.161667,7.000000,8.000,8.000000,8.000000,8.000000
178.0,15.22,17.39,17.39,17.39,15.22,17.39,3.666667,7.333333,7.333333,4.666667,...,14.833333,16.253333,20.973333,17.463333,10.990000,7.000000,8.000,8.000000,8.000000,8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374.0,50.00,10.00,10.00,10.00,5.00,15.00,6.166667,8.166667,8.000000,7.000000,...,9.666667,11.500000,18.166667,8.000000,15.500000,7.166667,7.500,7.333333,7.333333,7.166667
375.0,30.00,20.00,15.00,15.00,8.00,12.00,8.000000,7.125000,6.500000,7.000000,...,7.125000,11.250000,24.375000,7.250000,12.500000,6.375000,8.125,8.250000,6.875000,7.750000
376.0,30.00,10.00,15.00,20.00,15.00,10.00,7.333333,8.000000,9.000000,7.000000,...,9.666667,11.500000,18.166667,8.000000,15.500000,7.166667,7.500,7.333333,7.333333,7.166667
377.0,25.00,20.00,10.00,20.00,15.00,10.00,5.833333,6.666667,7.166667,5.000000,...,9.666667,11.500000,18.166667,8.000000,15.500000,7.166667,7.500,7.333333,7.333333,7.166667
378.0,25.00,15.00,20.00,20.00,10.00,10.00,6.750000,7.000000,7.250000,7.125000,...,7.125000,11.250000,24.375000,7.250000,12.500000,6.375000,8.125,8.250000,6.875000,7.750000

In [34]:
# pid 칼럼 명 변경
result_cols = ['tmp_att', 'tmp_sin', 'tmp_int', 'tmp_fun', 'tmp_amb', 'tmp_sha', 
               'tmp2_attr', 'tmp2_sinc', 'tmp2_intel', 'tmp2_fun', 'tmp2_amb', 'tmp2_shar', 'tmp2_like']
result_cols += 'condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1'.split(', ')
pid_tmp.columns = result_cols 
pid_tmp

,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,...,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1
pid,,,,,,,,,,,,,,,,,,,,,
174.0,9.52,23.81,16.67,16.67,16.67,16.67,4.333333,7.000000,6.666667,6.000000,...,14.833333,16.253333,20.973333,17.463333,10.990000,7.000000,8.000,8.000000,8.000000,8.000000
175.0,12.24,20.41,16.33,14.29,20.41,16.33,6.000000,6.000000,5.000000,5.000000,...,16.980000,16.980000,16.980000,16.980000,15.090000,7.000000,8.000,8.000000,8.000000,8.000000
176.0,13.04,21.74,19.57,17.39,15.22,13.04,5.666667,8.000000,8.000000,4.333333,...,14.833333,16.253333,20.973333,17.463333,10.990000,7.000000,8.000,8.000000,8.000000,8.000000
177.0,15.09,16.98,16.98,16.98,18.87,15.09,5.166667,7.166667,6.666667,7.166667,...,17.905000,17.023333,18.275000,17.988333,15.161667,7.000000,8.000,8.000000,8.000000,8.000000
178.0,15.22,17.39,17.39,17.39,15.22,17.39,3.666667,7.333333,7.333333,4.666667,...,14.833333,16.253333,20.973333,17.463333,10.990000,7.000000,8.000,8.000000,8.000000,8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374.0,50.00,10.00,10.00,10.00,5.00,15.00,6.166667,8.166667,8.000000,7.000000,...,9.666667,11.500000,18.166667,8.000000,15.500000,7.166667,7.500,7.333333,7.333333,7.166667
375.0,30.00,20.00,15.00,15.00,8.00,12.00,8.000000,7.125000,6.500000,7.000000,...,7.125000,11.250000,24.375000,7.250000,12.500000,6.375000,8.125,8.250000,6.875000,7.750000
376.0,30.00,10.00,15.00,20.00,15.00,10.00,7.333333,8.000000,9.000000,7.000000,...,9.666667,11.500000,18.166667,8.000000,15.500000,7.166667,7.500,7.333333,7.333333,7.166667
377.0,25.00,20.00,10.00,20.00,15.00,10.00,5.833333,6.666667,7.166667,5.000000,...,9.666667,11.500000,18.166667,8.000000,15.500000,7.166667,7.500,7.333333,7.333333,7.166667
378.0,25.00,15.00,20.00,20.00,10.00,10.00,6.750000,7.000000,7.250000,7.125000,...,7.125000,11.250000,24.375000,7.250000,12.500000,6.375000,8.125,8.250000,6.875000,7.750000

## 전처리한 데이터 프레임 만들기

In [35]:
result = iid_tmp.copy()

In [36]:
result[result_cols] = pid_tmp[result_cols]

In [37]:
result

,id,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
iid,,,,,,,,,,,,,,,,,,,,,
174,1.0,188.000000,8.0,0.0,0.000000,9.0,10.0,8.0,8.0,6.0,...,16.67,16.67,16.67,4.333333,7.000000,6.666667,6.000000,5.333333,6.666667,6.333333
175,2.0,189.000000,8.0,0.0,0.000000,7.0,10.0,8.0,8.0,9.0,...,14.29,20.41,16.33,6.000000,6.000000,5.000000,5.000000,4.000000,5.000000,6.000000
176,3.0,188.000000,8.0,0.0,0.333333,6.0,9.0,8.0,7.0,6.0,...,17.39,15.22,13.04,5.666667,8.000000,8.000000,4.333333,7.666667,6.666667,4.666667
177,4.0,188.666667,8.0,0.0,0.000000,9.0,9.0,9.0,8.0,9.0,...,16.98,18.87,15.09,5.166667,7.166667,6.666667,7.166667,7.000000,6.166667,5.166667
178,5.0,188.000000,8.0,0.0,0.333333,9.0,9.0,8.0,7.0,7.0,...,17.39,15.22,17.39,3.666667,7.333333,7.333333,4.666667,8.333333,7.666667,6.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,14.0,351.333333,14.0,1.0,0.166667,6.0,7.0,7.0,6.0,7.0,...,10.00,5.00,15.00,6.166667,8.166667,8.000000,7.000000,7.333333,6.333333,6.666667
375,15.0,351.375000,14.0,1.0,0.125000,8.0,9.0,8.0,9.0,9.0,...,15.00,8.00,12.00,8.000000,7.125000,6.500000,7.000000,6.750000,4.625000,6.125000
376,16.0,351.333333,14.0,1.0,0.333333,6.0,10.0,9.0,8.0,10.0,...,20.00,15.00,10.00,7.333333,8.000000,9.000000,7.000000,8.333333,6.833333,7.000000
377,17.0,351.333333,14.0,1.0,0.000000,7.0,8.0,7.0,8.0,7.0,...,20.00,15.00,10.00,5.833333,6.666667,7.166667,5.000000,6.333333,5.500000,5.166667
378,18.0,351.375000,14.0,1.0,0.000000,6.0,7.0,9.0,7.0,7.0,...,20.00,10.00,10.00,6.750000,7.000000,7.250000,7.125000,6.375000,5.500000,6.125000

In [38]:
result
result.iloc[-1]

id             18.000
pid           351.375
wave           14.000
gender          1.000
match           0.000
               ...
tmp2_intel      7.250
tmp2_fun        7.125
tmp2_amb        6.375
tmp2_shar       5.500
tmp2_like       6.125
Name: 378, Length: 65, dtype: float64

In [39]:
real_cols = 'gender	match	attr3_1	sinc3_1	intel3_1	fun3_1	amb3_1	tmp_att	tmp_sin	tmp_int	tmp_fun	tmp_amb tmp_sha'.split()
real_cols += ['tmp2_attr', 'tmp2_sinc', 'tmp2_intel', 'tmp2_fun', 'tmp2_amb', 'tmp2_shar', 'tmp2_like']
real_cols  += 'condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1'.split(', ')
result = result[real_cols] 
result

,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,tmp_int,...,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1
iid,,,,,,,,,,,,,,,,,,,,,
174,0.0,0.000000,9.0,10.0,8.0,8.0,6.0,9.52,23.81,16.67,...,14.833333,16.253333,20.973333,17.463333,10.990000,7.000000,8.000,8.000000,8.000000,8.000000
175,0.0,0.000000,7.0,10.0,8.0,8.0,9.0,12.24,20.41,16.33,...,16.980000,16.980000,16.980000,16.980000,15.090000,7.000000,8.000,8.000000,8.000000,8.000000
176,0.0,0.333333,6.0,9.0,8.0,7.0,6.0,13.04,21.74,19.57,...,14.833333,16.253333,20.973333,17.463333,10.990000,7.000000,8.000,8.000000,8.000000,8.000000
177,0.0,0.000000,9.0,9.0,9.0,8.0,9.0,15.09,16.98,16.98,...,17.905000,17.023333,18.275000,17.988333,15.161667,7.000000,8.000,8.000000,8.000000,8.000000
178,0.0,0.333333,9.0,9.0,8.0,7.0,7.0,15.22,17.39,17.39,...,14.833333,16.253333,20.973333,17.463333,10.990000,7.000000,8.000,8.000000,8.000000,8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,1.0,0.166667,6.0,7.0,7.0,6.0,7.0,50.00,10.00,10.00,...,9.666667,11.500000,18.166667,8.000000,15.500000,7.166667,7.500,7.333333,7.333333,7.166667
375,1.0,0.125000,8.0,9.0,8.0,9.0,9.0,30.00,20.00,15.00,...,7.125000,11.250000,24.375000,7.250000,12.500000,6.375000,8.125,8.250000,6.875000,7.750000
376,1.0,0.333333,6.0,10.0,9.0,8.0,10.0,30.00,10.00,15.00,...,9.666667,11.500000,18.166667,8.000000,15.500000,7.166667,7.500,7.333333,7.333333,7.166667
377,1.0,0.000000,7.0,8.0,7.0,8.0,7.0,25.00,20.00,10.00,...,9.666667,11.500000,18.166667,8.000000,15.500000,7.166667,7.500,7.333333,7.333333,7.166667
378,1.0,0.000000,6.0,7.0,9.0,7.0,7.0,25.00,15.00,20.00,...,7.125000,11.250000,24.375000,7.250000,12.500000,6.375000,8.125,8.250000,6.875000,7.750000

In [40]:
result.to_csv('../data/group2_4_fin.csv')