In [4]:
import pandas as pd
g1 = pd.read_csv('../data/group1_2_fin.csv')
g2 = pd.read_csv('../data/group2_2_fin.csv')
g3 = pd.read_csv('../data/group3_2_fin.csv')

In [5]:
g1

,iid,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb,tmp_sha
0,1,0.0,1.00,6.0,8.0,8.0,8.0,7.0,15.00,20.00,20.00,15.00,15.00,15.00
1,2,0.0,0.25,7.0,5.0,8.0,10.0,3.0,45.00,5.00,25.00,20.00,0.00,5.00
2,3,0.0,0.00,8.0,9.0,9.0,8.0,8.0,35.00,10.00,35.00,10.00,10.00,0.00
3,4,0.0,0.25,7.0,8.0,7.0,9.0,8.0,20.00,20.00,20.00,20.00,10.00,10.00
4,5,0.0,0.25,6.0,3.0,10.0,6.0,8.0,20.00,5.00,25.00,25.00,10.00,15.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,169,1.0,0.20,7.0,9.0,8.0,7.0,7.0,17.78,20.00,17.78,15.56,15.56,13.33
146,170,1.0,0.00,7.0,8.0,9.0,6.0,8.0,16.28,20.93,18.60,18.60,13.95,11.63
147,171,1.0,0.30,10.0,10.0,10.0,10.0,10.0,19.57,10.87,19.57,19.57,19.57,10.87
148,172,1.0,0.30,5.0,6.0,8.0,9.0,9.0,17.78,17.78,22.22,20.00,15.56,6.67
149,173,1.0,0.40,7.0,9.0,9.0,9.0,9.0,18.37,18.37,20.41,20.41,16.33,6.12

In [6]:
print(len(g1))
print(len(g2))
print(len(g3))

150
190
161

In [7]:
real_result = pd.concat([g1, g2, g3])

In [8]:
real_result.match *= 100

In [9]:
real_result.match.value_counts()

0.000000      222
25.000000      30
50.000000      28
16.666667      22
20.000000      22
33.333333      19
10.000000      19
100.000000     14
14.285714      11
6.666667       10
30.000000       8
40.000000       8
11.111111       6
9.090909        6
66.666667       6
22.222222       6
8.333333        6
13.333333       5
28.571429       5
42.857143       4
26.666667       4
54.545455       4
15.384615       4
12.500000       4
75.000000       4
46.666667       3
18.181818       3
7.692308        3
23.076923       3
27.272727       2
38.461538       2
37.500000       1
80.000000       1
60.000000       1
53.333333       1
83.333333       1
46.153846       1
30.769231       1
44.444444       1
Name: match, dtype: int64

In [10]:
real_result.match.nunique()

39

In [11]:
real_result.to_csv('../data/train2.csv')