In [1]:
import pandas as pd

g2 = pd.read_csv('../data/group2_3.csv')

In [2]:
g2.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
g2

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like,group
0,1.0,174,186.0,8,0,0,9.0,10.0,8.0,8.0,...,11.11,11.11,5.0,5.0,6.0,6.0,6.0,6.0,6.0,2
1,1.0,174,193.0,8,0,0,9.0,10.0,8.0,8.0,...,11.63,11.63,6.0,5.0,6.0,7.0,7.0,7.0,7.0,2
2,2.0,175,189.0,8,0,0,7.0,10.0,8.0,8.0,...,16.98,15.09,4.0,7.0,7.0,6.0,6.0,7.0,7.0,2
3,3.0,176,185.0,8,0,0,6.0,9.0,8.0,7.0,...,18.87,15.09,6.0,5.0,6.0,6.0,7.0,4.0,6.0,2
4,3.0,176,186.0,8,0,1,6.0,9.0,8.0,7.0,...,11.11,11.11,7.0,8.0,7.0,6.0,5.0,6.0,7.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,18.0,378,349.0,14,1,0,6.0,7.0,9.0,7.0,...,20.00,5.00,6.0,7.0,6.0,6.0,5.0,3.0,6.0,2
1012,18.0,378,350.0,14,1,0,6.0,7.0,9.0,7.0,...,15.00,15.00,8.0,8.0,6.0,8.0,9.0,7.0,7.0,2
1013,18.0,378,354.0,14,1,0,6.0,7.0,9.0,7.0,...,20.00,10.00,6.0,6.0,5.0,8.0,6.0,5.0,6.0,2
1014,18.0,378,355.0,14,1,0,6.0,7.0,9.0,7.0,...,10.00,5.00,7.0,8.0,5.0,8.0,6.0,5.0,8.0,2
1015,18.0,378,359.0,14,1,0,6.0,7.0,9.0,7.0,...,14.00,22.00,6.0,7.0,8.0,5.0,8.0,4.0,4.0,2

In [3]:
# 성별 분류 확인
g2.gender.value_counts()

1    527
0    489
Name: gender, dtype: int64

In [4]:
g2.gender == 0

0        True
1        True
2        True
3        True
4        True
        ...
1011    False
1012    False
1013    False
1014    False
1015    False
Name: gender, Length: 1016, dtype: bool

In [6]:
# iid의 유니크한 값 확인
len(g2.iid.unique())

179

In [7]:
# pid의 유니크한 값 확인
len(g2.pid.unique())

189

In [8]:
# 누락된 평가 확인
omission_list = list(set(g2.pid.unique()) - set(g2.iid.unique()))
omission_list

[320.0, 322.0, 200.0, 233.0, 178.0, 243.0, 246.0, 187.0, 284.0, 286.0]

In [11]:
# 누락된 평가를 가지고 있는 row의 인덱스 확인
df_omission_list = []
for omission in omission_list:
    df_omission_list.append(g2[g2.pid == omission].index)  

df_omission_list

[Int64Index([639, 649, 659, 671, 681, 692, 702], dtype='int64'),
 Int64Index([813, 821], dtype='int64'),
 Int64Index([166, 180, 192, 204, 215, 230, 253, 267, 279, 304, 318], dtype='int64'),
 Int64Index([70], dtype='int64'),
 Int64Index([24, 37], dtype='int64'),
 Int64Index([330, 335, 338, 342], dtype='int64'),
 Int64Index([333, 337, 341, 345], dtype='int64'),
 Int64Index([15], dtype='int64'),
 Int64Index([375, 395, 425, 439, 451, 457, 473, 489, 501], dtype='int64'),
 Int64Index([376, 396, 408, 426, 440, 452, 474, 490, 502], dtype='int64')]

In [12]:
len(df_omission_list)

10

In [13]:
# 누락된 평가를 가지고 있는 row 제거

for i in range(len(df_omission_list)):
    g2.drop(df_omission_list[i], axis=0, inplace=True)

In [14]:
g2

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like,group
0,1.0,174,186.0,8,0,0,9.0,10.0,8.0,8.0,...,11.11,11.11,5.0,5.0,6.0,6.0,6.0,6.0,6.0,2
1,1.0,174,193.0,8,0,0,9.0,10.0,8.0,8.0,...,11.63,11.63,6.0,5.0,6.0,7.0,7.0,7.0,7.0,2
2,2.0,175,189.0,8,0,0,7.0,10.0,8.0,8.0,...,16.98,15.09,4.0,7.0,7.0,6.0,6.0,7.0,7.0,2
3,3.0,176,185.0,8,0,0,6.0,9.0,8.0,7.0,...,18.87,15.09,6.0,5.0,6.0,6.0,7.0,4.0,6.0,2
4,3.0,176,186.0,8,0,1,6.0,9.0,8.0,7.0,...,11.11,11.11,7.0,8.0,7.0,6.0,5.0,6.0,7.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,18.0,378,349.0,14,1,0,6.0,7.0,9.0,7.0,...,20.00,5.00,6.0,7.0,6.0,6.0,5.0,3.0,6.0,2
1012,18.0,378,350.0,14,1,0,6.0,7.0,9.0,7.0,...,15.00,15.00,8.0,8.0,6.0,8.0,9.0,7.0,7.0,2
1013,18.0,378,354.0,14,1,0,6.0,7.0,9.0,7.0,...,20.00,10.00,6.0,6.0,5.0,8.0,6.0,5.0,6.0,2
1014,18.0,378,355.0,14,1,0,6.0,7.0,9.0,7.0,...,10.00,5.00,7.0,8.0,5.0,8.0,6.0,5.0,8.0,2
1015,18.0,378,359.0,14,1,0,6.0,7.0,9.0,7.0,...,14.00,22.00,6.0,7.0,8.0,5.0,8.0,4.0,4.0,2

In [15]:
g2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 966 entries, 0 to 1015
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        966 non-null    float64
 1   iid       966 non-null    int64
 2   pid       966 non-null    float64
 3   wave      966 non-null    int64
 4   gender    966 non-null    int64
 5   match     966 non-null    int64
 6   attr3_1   966 non-null    float64
 7   sinc3_1   966 non-null    float64
 8   intel3_1  966 non-null    float64
 9   fun3_1    966 non-null    float64
 10  amb3_1    966 non-null    float64
 11  pf_o_att  966 non-null    float64
 12  pf_o_sin  966 non-null    float64
 13  pf_o_int  966 non-null    float64
 14  pf_o_fun  966 non-null    float64
 15  pf_o_amb  966 non-null    float64
 16  pf_o_sha  966 non-null    float64
 17  attr      966 non-null    float64
 18  sinc      966 non-null    float64
 19  intel     966 non-null    float64
 20  fun       966 non-null    float64
 21  amb       966 non-null    float64
 22  shar      966 non-null    float64
 23  like      966 non-null    float64
 24  group     966 non-null    int64
dtypes: float64(20), int64(5)
memory usage: 196.2 KB

In [16]:
# iid 기준으로 그룹한 것을 iid_tmp에 저장
iid_tmp = g2.groupby('iid').mean()
iid_tmp

,id,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like,group
iid,,,,,,,,,,,,,,,,,,,,,
174,1.0,189.500000,8.0,0.0,0.000000,9.0,10.0,8.0,8.0,6.0,...,11.370000,11.370000,5.500000,5.000000,6.000000,6.500000,6.500000,6.500000,6.500000,2.0
175,2.0,189.000000,8.0,0.0,0.000000,7.0,10.0,8.0,8.0,9.0,...,16.980000,15.090000,4.000000,7.000000,7.000000,6.000000,6.000000,7.000000,7.000000,2.0
176,3.0,188.000000,8.0,0.0,0.333333,6.0,9.0,8.0,7.0,6.0,...,13.870000,12.610000,6.666667,7.000000,7.000000,6.000000,6.333333,5.333333,6.666667,2.0
177,4.0,189.000000,8.0,0.0,0.000000,9.0,9.0,9.0,8.0,9.0,...,16.680000,11.730000,5.200000,6.800000,7.000000,6.000000,6.800000,4.800000,6.000000,2.0
180,7.0,188.000000,8.0,0.0,0.000000,9.0,9.0,9.0,10.0,9.0,...,13.870000,12.610000,5.666667,6.000000,6.000000,5.333333,4.666667,4.666667,5.333333,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,14.0,351.333333,14.0,1.0,0.166667,6.0,7.0,7.0,6.0,7.0,...,15.000000,9.166667,6.666667,6.000000,5.833333,4.833333,5.333333,5.666667,7.000000,2.0
375,15.0,352.571429,14.0,1.0,0.142857,8.0,9.0,8.0,9.0,9.0,...,13.428571,11.714286,4.571429,5.857143,5.857143,4.571429,4.857143,3.714286,4.714286,2.0
376,16.0,351.333333,14.0,1.0,0.333333,6.0,10.0,9.0,8.0,10.0,...,15.000000,9.166667,7.000000,9.166667,7.666667,6.833333,6.833333,6.833333,6.666667,2.0
377,17.0,351.333333,14.0,1.0,0.000000,7.0,8.0,7.0,8.0,7.0,...,15.000000,9.166667,6.833333,8.166667,8.500000,7.000000,7.833333,4.666667,5.000000,2.0
378,18.0,350.714286,14.0,1.0,0.000000,6.0,7.0,9.0,7.0,7.0,...,15.571429,12.428571,6.428571,7.285714,6.428571,7.000000,7.142857,4.714286,6.285714,2.0

In [17]:
# iid 기준 그룹화 df에서 결과를 보고 필요한 칼럼들 추출
# ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']
iid_result_cols = ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']

In [18]:
# pid(상대방의 아이디)를 기준으로 그룹화
pid_tmp = g2.groupby('pid').mean()
pid_tmp

,id,iid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like,group
pid,,,,,,,,,,,,,,,,,,,,,
174.0,6.000000,189.000000,8.0,1.0,0.000000,8.500000,9.500000,9.000000,6.000000,7.500000,...,16.67,16.67,4.500000,7.50,7.0,5.500000,5.500000,7.000000,7.000000,2.0
175.0,6.000000,189.000000,8.0,1.0,0.000000,8.000000,8.000000,8.000000,8.000000,9.000000,...,20.41,16.33,6.000000,6.00,5.0,5.000000,4.000000,5.000000,6.000000,2.0
176.0,5.000000,188.000000,8.0,1.0,0.333333,7.000000,9.000000,8.333333,5.333333,7.000000,...,15.22,13.04,5.666667,8.00,8.0,4.333333,7.666667,6.666667,4.666667,2.0
177.0,5.750000,188.750000,8.0,1.0,0.000000,6.750000,8.000000,8.750000,7.250000,8.250000,...,18.87,15.09,5.500000,7.25,7.0,7.000000,7.500000,6.250000,5.500000,2.0
180.0,6.000000,189.000000,8.0,1.0,0.000000,8.500000,9.500000,9.000000,6.000000,7.500000,...,13.46,17.31,8.000000,9.00,8.0,7.000000,7.500000,6.500000,8.500000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374.0,11.000000,351.000000,14.0,0.0,0.200000,7.000000,9.200000,8.000000,8.200000,8.200000,...,5.00,15.00,6.200000,8.40,8.2,7.200000,7.600000,6.400000,6.600000,2.0
375.0,11.000000,351.000000,14.0,0.0,0.000000,6.750000,9.000000,8.250000,7.750000,7.750000,...,8.00,12.00,8.750000,7.50,7.0,7.000000,6.500000,4.750000,6.750000,2.0
376.0,11.333333,351.333333,14.0,0.0,0.333333,6.833333,8.666667,7.666667,7.833333,7.833333,...,15.00,10.00,7.333333,8.00,9.0,7.000000,8.333333,6.833333,7.000000,2.0
377.0,11.000000,351.000000,14.0,0.0,0.000000,7.000000,9.200000,8.000000,8.200000,8.200000,...,15.00,10.00,6.200000,7.00,7.2,5.200000,6.400000,5.400000,5.400000,2.0
378.0,10.600000,350.600000,14.0,0.0,0.000000,6.800000,8.800000,8.400000,7.800000,7.600000,...,10.00,10.00,7.000000,7.40,7.4,7.000000,7.000000,6.200000,6.400000,2.0

In [19]:
# pid 기준 그룹화 df에서 결과에 필요한 칼럼들
pid_result_cols = 'pf_o_att	pf_o_sin	pf_o_int	pf_o_fun	pf_o_amb	pf_o_sha'.split('\t')
pid_result_cols += 'attr	sinc	intel	fun	amb	shar	like'.split()
pid_tmp = pid_tmp[pid_result_cols]

In [20]:
pid_tmp

,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like
pid,,,,,,,,,,,,,
174.0,9.52,23.81,16.67,16.67,16.67,16.67,4.500000,7.50,7.0,5.500000,5.500000,7.000000,7.000000
175.0,12.24,20.41,16.33,14.29,20.41,16.33,6.000000,6.00,5.0,5.000000,4.000000,5.000000,6.000000
176.0,13.04,21.74,19.57,17.39,15.22,13.04,5.666667,8.00,8.0,4.333333,7.666667,6.666667,4.666667
177.0,15.09,16.98,16.98,16.98,18.87,15.09,5.500000,7.25,7.0,7.000000,7.500000,6.250000,5.500000
180.0,15.38,17.31,17.31,19.23,13.46,17.31,8.000000,9.00,8.0,7.000000,7.500000,6.500000,8.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
374.0,50.00,10.00,10.00,10.00,5.00,15.00,6.200000,8.40,8.2,7.200000,7.600000,6.400000,6.600000
375.0,30.00,20.00,15.00,15.00,8.00,12.00,8.750000,7.50,7.0,7.000000,6.500000,4.750000,6.750000
376.0,30.00,10.00,15.00,20.00,15.00,10.00,7.333333,8.00,9.0,7.000000,8.333333,6.833333,7.000000
377.0,25.00,20.00,10.00,20.00,15.00,10.00,6.200000,7.00,7.2,5.200000,6.400000,5.400000,5.400000
378.0,25.00,15.00,20.00,20.00,10.00,10.00,7.000000,7.40,7.4,7.000000,7.000000,6.200000,6.400000

In [21]:
# pid 칼럼 명 변경
result_cols = ['tmp_att', 'tmp_sin', 'tmp_int', 'tmp_fun', 'tmp_amb', 'tmp_sha', 
               'tmp2_attr', 'tmp2_sinc', 'tmp2_intel', 'tmp2_fun', 'tmp2_amb', 'tmp2_shar', 'tmp2_like']
pid_tmp.columns = result_cols 
pid_tmp

,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
pid,,,,,,,,,,,,,
174.0,9.52,23.81,16.67,16.67,16.67,16.67,4.500000,7.50,7.0,5.500000,5.500000,7.000000,7.000000
175.0,12.24,20.41,16.33,14.29,20.41,16.33,6.000000,6.00,5.0,5.000000,4.000000,5.000000,6.000000
176.0,13.04,21.74,19.57,17.39,15.22,13.04,5.666667,8.00,8.0,4.333333,7.666667,6.666667,4.666667
177.0,15.09,16.98,16.98,16.98,18.87,15.09,5.500000,7.25,7.0,7.000000,7.500000,6.250000,5.500000
180.0,15.38,17.31,17.31,19.23,13.46,17.31,8.000000,9.00,8.0,7.000000,7.500000,6.500000,8.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
374.0,50.00,10.00,10.00,10.00,5.00,15.00,6.200000,8.40,8.2,7.200000,7.600000,6.400000,6.600000
375.0,30.00,20.00,15.00,15.00,8.00,12.00,8.750000,7.50,7.0,7.000000,6.500000,4.750000,6.750000
376.0,30.00,10.00,15.00,20.00,15.00,10.00,7.333333,8.00,9.0,7.000000,8.333333,6.833333,7.000000
377.0,25.00,20.00,10.00,20.00,15.00,10.00,6.200000,7.00,7.2,5.200000,6.400000,5.400000,5.400000
378.0,25.00,15.00,20.00,20.00,10.00,10.00,7.000000,7.40,7.4,7.000000,7.000000,6.200000,6.400000

## 전처리한 데이터 프레임 만들기

In [22]:
result = iid_tmp.copy()

In [23]:
result[result_cols] = pid_tmp[result_cols]

In [24]:
result

,id,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
iid,,,,,,,,,,,,,,,,,,,,,
174,1.0,189.500000,8.0,0.0,0.000000,9.0,10.0,8.0,8.0,6.0,...,16.67,16.67,16.67,4.500000,7.50,7.0,5.500000,5.500000,7.000000,7.000000
175,2.0,189.000000,8.0,0.0,0.000000,7.0,10.0,8.0,8.0,9.0,...,14.29,20.41,16.33,6.000000,6.00,5.0,5.000000,4.000000,5.000000,6.000000
176,3.0,188.000000,8.0,0.0,0.333333,6.0,9.0,8.0,7.0,6.0,...,17.39,15.22,13.04,5.666667,8.00,8.0,4.333333,7.666667,6.666667,4.666667
177,4.0,189.000000,8.0,0.0,0.000000,9.0,9.0,9.0,8.0,9.0,...,16.98,18.87,15.09,5.500000,7.25,7.0,7.000000,7.500000,6.250000,5.500000
180,7.0,188.000000,8.0,0.0,0.000000,9.0,9.0,9.0,10.0,9.0,...,19.23,13.46,17.31,8.000000,9.00,8.0,7.000000,7.500000,6.500000,8.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,14.0,351.333333,14.0,1.0,0.166667,6.0,7.0,7.0,6.0,7.0,...,10.00,5.00,15.00,6.200000,8.40,8.2,7.200000,7.600000,6.400000,6.600000
375,15.0,352.571429,14.0,1.0,0.142857,8.0,9.0,8.0,9.0,9.0,...,15.00,8.00,12.00,8.750000,7.50,7.0,7.000000,6.500000,4.750000,6.750000
376,16.0,351.333333,14.0,1.0,0.333333,6.0,10.0,9.0,8.0,10.0,...,20.00,15.00,10.00,7.333333,8.00,9.0,7.000000,8.333333,6.833333,7.000000
377,17.0,351.333333,14.0,1.0,0.000000,7.0,8.0,7.0,8.0,7.0,...,20.00,15.00,10.00,6.200000,7.00,7.2,5.200000,6.400000,5.400000,5.400000
378,18.0,350.714286,14.0,1.0,0.000000,6.0,7.0,9.0,7.0,7.0,...,20.00,10.00,10.00,7.000000,7.40,7.4,7.000000,7.000000,6.200000,6.400000

In [25]:
result
result.iloc[-1]

id             18.000000
pid           350.714286
wave           14.000000
gender          1.000000
match           0.000000
attr3_1         6.000000
sinc3_1         7.000000
intel3_1        9.000000
fun3_1          7.000000
amb3_1          7.000000
pf_o_att       18.714286
pf_o_sin       19.571429
pf_o_int       19.285714
pf_o_fun       14.428571
pf_o_amb       15.571429
pf_o_sha       12.428571
attr            6.428571
sinc            7.285714
intel           6.428571
fun             7.000000
amb             7.142857
shar            4.714286
like            6.285714
group           2.000000
tmp_att        25.000000
tmp_sin        15.000000
tmp_int        20.000000
tmp_fun        20.000000
tmp_amb        10.000000
tmp_sha        10.000000
tmp2_attr       7.000000
tmp2_sinc       7.400000
tmp2_intel      7.400000
tmp2_fun        7.000000
tmp2_amb        7.000000
tmp2_shar       6.200000
tmp2_like       6.400000
Name: 378, dtype: float64

In [26]:
real_cols = 'gender	match	attr3_1	sinc3_1	intel3_1	fun3_1	amb3_1	tmp_att	tmp_sin	tmp_int	tmp_fun	tmp_amb tmp_sha'.split()
real_cols += ['tmp2_attr', 'tmp2_sinc', 'tmp2_intel', 'tmp2_fun', 'tmp2_amb', 'tmp2_shar', 'tmp2_like']
result = result[real_cols] 
result

,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
iid,,,,,,,,,,,,,,,,,,,,
174,0.0,0.000000,9.0,10.0,8.0,8.0,6.0,9.52,23.81,16.67,16.67,16.67,16.67,4.500000,7.50,7.0,5.500000,5.500000,7.000000,7.000000
175,0.0,0.000000,7.0,10.0,8.0,8.0,9.0,12.24,20.41,16.33,14.29,20.41,16.33,6.000000,6.00,5.0,5.000000,4.000000,5.000000,6.000000
176,0.0,0.333333,6.0,9.0,8.0,7.0,6.0,13.04,21.74,19.57,17.39,15.22,13.04,5.666667,8.00,8.0,4.333333,7.666667,6.666667,4.666667
177,0.0,0.000000,9.0,9.0,9.0,8.0,9.0,15.09,16.98,16.98,16.98,18.87,15.09,5.500000,7.25,7.0,7.000000,7.500000,6.250000,5.500000
180,0.0,0.000000,9.0,9.0,9.0,10.0,9.0,15.38,17.31,17.31,19.23,13.46,17.31,8.000000,9.00,8.0,7.000000,7.500000,6.500000,8.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,1.0,0.166667,6.0,7.0,7.0,6.0,7.0,50.00,10.00,10.00,10.00,5.00,15.00,6.200000,8.40,8.2,7.200000,7.600000,6.400000,6.600000
375,1.0,0.142857,8.0,9.0,8.0,9.0,9.0,30.00,20.00,15.00,15.00,8.00,12.00,8.750000,7.50,7.0,7.000000,6.500000,4.750000,6.750000
376,1.0,0.333333,6.0,10.0,9.0,8.0,10.0,30.00,10.00,15.00,20.00,15.00,10.00,7.333333,8.00,9.0,7.000000,8.333333,6.833333,7.000000
377,1.0,0.000000,7.0,8.0,7.0,8.0,7.0,25.00,20.00,10.00,20.00,15.00,10.00,6.200000,7.00,7.2,5.200000,6.400000,5.400000,5.400000
378,1.0,0.000000,6.0,7.0,9.0,7.0,7.0,25.00,15.00,20.00,20.00,10.00,10.00,7.000000,7.40,7.4,7.000000,7.000000,6.200000,6.400000

In [27]:
result.to_csv('../data/group2_3_fin.csv')