In [1]:
import pandas as pd

g1 = pd.read_csv('../data/group1_3.csv')

In [2]:
g1.drop(['Unnamed: 0'], axis=1, inplace=True)

In [3]:
# 성별 분류 확인
g1.gender.value_counts()

1    422
0    394
Name: gender, dtype: int64

In [4]:
g1.gender == 0

0       True
1       True
2       True
3       True
4       True
       ...
811    False
812    False
813    False
814    False
815    False
Name: gender, Length: 816, dtype: bool

In [5]:
# iid 와 pid 관계 확인
g1[g1.pid == 22]

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like,group
300,16.0,55,22.0,2,1,0,6.0,10.0,9.0,10.0,...,10.0,20.0,5.0,8.0,9.0,7.0,10.0,8.0,7.0,1

In [6]:
g1[g1.iid == 22]

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like,group
99,2.0,22,50.0,2,0,0,7.0,8.0,8.0,7.0,...,10.0,10.0,5.0,6.0,7.0,7.0,7.0,7.0,6.0,1
100,2.0,22,55.0,2,0,0,7.0,8.0,8.0,7.0,...,10.0,10.0,6.0,7.0,7.0,7.0,7.0,7.0,7.0,1

In [7]:
# iid의 유니크한 값 확인
len(g1.iid.unique())

144

In [8]:
# pid의 유니크한 값 확인
len(g1.pid.unique())

149

In [24]:
# 누락된 평가 확인
omission_list = list(set(g1.pid.unique()) - set(g1.iid.unique()))
omission_list

[98.0, 135.0, 41.0, 139.0, 50.0, 91.0, 60.0]

In [39]:
# 누락된 평가를 가지고 있는 row의 인덱스 확인
df_omission_list = []
for omission in omission_list:
    df_omission_list.append(g1[g1.pid == omission].index)  

df_omission_list

[Int64Index([347, 365, 380, 390, 400, 410, 420, 434, 443], dtype='int64'),
 Int64Index([608, 610], dtype='int64'),
 Int64Index([96, 102], dtype='int64'),
 Int64Index([602], dtype='int64'),
 Int64Index([99, 195], dtype='int64'),
 Int64Index([486], dtype='int64'),
 Int64Index([324, 342], dtype='int64')]

In [40]:
len(df_omission_list)

7

In [42]:
# 누락된 평가를 가지고 있는 row 제거

for i in range(len(df_omission_list)):
    g1.drop(df_omission_list[i], axis=0, inplace=True)

In [44]:
g1

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like,group
0,1.0,1,13.0,1,0,1,6.0,8.0,8.0,8.0,...,14.00,12.00,5.0,8.0,9.0,8.0,5.0,7.0,7.0,1
1,2.0,2,11.0,1,0,0,7.0,5.0,8.0,10.0,...,0.00,5.00,5.0,7.0,8.0,4.0,6.0,3.0,6.0,1
2,2.0,2,12.0,1,0,0,7.0,5.0,8.0,10.0,...,0.00,0.00,8.0,5.0,6.0,6.0,9.0,6.0,7.0,1
3,2.0,2,14.0,1,0,1,7.0,5.0,8.0,10.0,...,5.00,5.00,7.0,9.0,7.0,6.0,5.0,7.0,7.0,1
4,2.0,2,16.0,1,0,0,7.0,5.0,8.0,10.0,...,0.00,10.00,8.0,7.0,8.0,3.0,6.0,2.0,6.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,16.0,173,149.0,7,1,1,7.0,9.0,9.0,9.0,...,19.15,14.89,8.0,8.0,8.0,8.0,7.0,8.0,8.0,1
812,16.0,173,150.0,7,1,0,7.0,9.0,9.0,9.0,...,14.00,14.00,7.0,7.0,7.0,7.0,7.0,5.0,6.0,1
813,16.0,173,151.0,7,1,1,7.0,9.0,9.0,9.0,...,16.36,16.36,9.0,8.0,7.0,8.0,7.0,7.0,8.0,1
814,16.0,173,154.0,7,1,1,7.0,9.0,9.0,9.0,...,17.31,15.38,6.0,7.0,6.0,7.0,6.0,6.0,7.0,1
815,16.0,173,155.0,7,1,0,7.0,9.0,9.0,9.0,...,16.98,13.21,6.0,7.0,7.0,8.0,7.0,5.0,6.0,1

In [45]:
g1[g1.pid == 347]

Empty DataFrame
Columns: [id, iid, pid, wave, gender, match, attr3_1, sinc3_1, intel3_1, fun3_1, amb3_1, pf_o_att, pf_o_sin, pf_o_int, pf_o_fun, pf_o_amb, pf_o_sha, attr, sinc, intel, fun, amb, shar, like, group]
Index: []

[0 rows x 25 columns]

In [46]:
g1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 797 entries, 0 to 815
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        797 non-null    float64
 1   iid       797 non-null    int64
 2   pid       797 non-null    float64
 3   wave      797 non-null    int64
 4   gender    797 non-null    int64
 5   match     797 non-null    int64
 6   attr3_1   797 non-null    float64
 7   sinc3_1   797 non-null    float64
 8   intel3_1  797 non-null    float64
 9   fun3_1    797 non-null    float64
 10  amb3_1    797 non-null    float64
 11  pf_o_att  797 non-null    float64
 12  pf_o_sin  797 non-null    float64
 13  pf_o_int  797 non-null    float64
 14  pf_o_fun  797 non-null    float64
 15  pf_o_amb  797 non-null    float64
 16  pf_o_sha  797 non-null    float64
 17  attr      797 non-null    float64
 18  sinc      797 non-null    float64
 19  intel     797 non-null    float64
 20  fun       797 non-null    float64
 21  amb       797 non-null    float64
 22  shar      797 non-null    float64
 23  like      797 non-null    float64
 24  group     797 non-null    int64
dtypes: float64(20), int64(5)
memory usage: 161.9 KB

In [47]:
# iid 기준으로 그룹한 것을 iid_tmp에 저장
iid_tmp = g1.groupby('iid').mean()
iid_tmp

,id,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like,group
iid,,,,,,,,,,,,,,,,,,,,,
1,1.0,13.000000,1.0,0.0,1.000000,6.0,8.0,8.0,8.0,7.0,...,14.000000,12.000000,5.000,8.000000,9.000000,8.000000,5.000000,7.000000,7.000000,1.0
2,2.0,15.875000,1.0,0.0,0.250000,7.0,5.0,8.0,10.0,3.0,...,2.638750,8.402500,6.625,6.750000,7.625000,5.750000,6.875000,5.625000,6.500000,1.0
3,3.0,15.875000,1.0,0.0,0.000000,8.0,9.0,9.0,8.0,8.0,...,2.638750,8.402500,8.125,8.375000,9.375000,7.500000,8.625000,8.000000,8.125000,1.0
4,4.0,15.875000,1.0,0.0,0.250000,7.0,8.0,7.0,9.0,8.0,...,2.638750,8.402500,6.750,9.125000,8.750000,7.625000,8.000000,6.875000,6.875000,1.0
5,5.0,15.875000,1.0,0.0,0.250000,6.0,3.0,10.0,6.0,8.0,...,2.638750,8.402500,6.625,5.875000,6.875000,5.875000,5.750000,6.125000,7.375000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,12.0,147.900000,7.0,1.0,0.200000,7.0,9.0,8.0,7.0,7.0,...,16.252000,14.993000,8.100,8.300000,8.800000,8.100000,8.100000,8.100000,8.200000,1.0
170,13.0,151.400000,7.0,1.0,0.000000,7.0,8.0,9.0,6.0,8.0,...,18.150000,14.122000,5.800,6.600000,6.600000,5.400000,6.400000,6.000000,5.400000,1.0
171,14.0,147.900000,7.0,1.0,0.300000,10.0,10.0,10.0,10.0,10.0,...,16.252000,14.993000,7.500,8.100000,8.600000,7.200000,8.100000,6.800000,7.500000,1.0
172,15.0,148.444444,7.0,1.0,0.333333,5.0,6.0,8.0,9.0,9.0,...,16.205556,14.575556,5.000,6.222222,7.222222,4.333333,5.666667,4.444444,4.444444,1.0
173,16.0,147.900000,7.0,1.0,0.400000,7.0,9.0,9.0,9.0,9.0,...,16.252000,14.993000,6.200,6.900000,6.400000,6.500000,6.000000,5.500000,5.700000,1.0

In [48]:
# iid 기준 그룹화 df에서 결과를 보고 필요한 칼럼들 추출
# ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']
iid_result_cols = ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']

In [49]:
# pid(상대방의 아이디)를 기준으로 그룹화
pid_tmp = g1.groupby('pid').mean()
pid_tmp

,id,iid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like,group
pid,,,,,,,,,,,,,,,,,,,,,
1.0,3.000000,13.000000,1.0,1.0,1.000000,4.000000,7.000000,8.000000,8.000000,3.000000,...,15.00,15.00,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.0
2.0,5.875000,15.875000,1.0,1.0,0.250000,7.750000,7.625000,8.875000,8.125000,7.750000,...,0.00,5.00,7.125000,6.375000,7.375000,6.875000,7.250000,5.875000,7.000000,1.0
3.0,5.875000,15.875000,1.0,1.0,0.000000,7.750000,7.625000,8.875000,8.125000,7.750000,...,10.00,0.00,6.125000,6.375000,6.875000,5.750000,6.750000,5.500000,5.500000,1.0
4.0,5.875000,15.875000,1.0,1.0,0.250000,7.750000,7.625000,8.875000,8.125000,7.750000,...,10.00,10.00,6.500000,6.625000,7.250000,7.125000,7.375000,6.625000,6.750000,1.0
5.0,5.875000,15.875000,1.0,1.0,0.250000,7.750000,7.625000,8.875000,8.125000,7.750000,...,10.00,15.00,4.750000,7.250000,7.125000,6.875000,7.375000,5.875000,5.750000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169.0,6.750000,147.750000,7.0,0.0,0.250000,7.250000,8.500000,8.750000,7.750000,8.000000,...,15.56,13.33,8.500000,8.250000,8.750000,8.125000,7.875000,7.500000,8.000000,1.0
170.0,9.666667,150.666667,7.0,0.0,0.000000,7.666667,8.000000,8.666667,8.666667,8.000000,...,13.95,11.63,3.333333,7.000000,7.666667,4.000000,6.333333,2.666667,4.000000,1.0
171.0,6.166667,147.166667,7.0,0.0,0.333333,7.166667,8.500000,8.833333,7.666667,8.000000,...,19.57,10.87,6.333333,8.500000,8.500000,6.333333,7.500000,5.666667,7.166667,1.0
172.0,7.571429,148.571429,7.0,0.0,0.428571,7.571429,8.428571,9.000000,8.142857,8.142857,...,15.56,6.67,7.142857,8.142857,8.000000,7.142857,7.714286,7.285714,7.428571,1.0
173.0,7.500000,148.500000,7.0,0.0,0.500000,7.500000,8.500000,9.166667,8.166667,8.166667,...,16.33,6.12,6.666667,7.500000,8.666667,7.833333,8.166667,8.000000,7.666667,1.0

In [52]:
# pid 기준 그룹화 df에서 결과에 필요한 칼럼들
pid_result_cols = 'pf_o_att	pf_o_sin	pf_o_int	pf_o_fun	pf_o_amb	pf_o_sha'.split('\t')
pid_result_cols += 'attr	sinc	intel	fun	amb	shar	like'.split()
pid_tmp = pid_tmp[pid_result_cols]

In [53]:
pid_tmp

,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like
pid,,,,,,,,,,,,,
1.0,15.00,20.00,20.00,15.00,15.00,15.00,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
2.0,45.00,5.00,25.00,20.00,0.00,5.00,7.125000,6.375000,7.375000,6.875000,7.250000,5.875000,7.000000
3.0,35.00,10.00,35.00,10.00,10.00,0.00,6.125000,6.375000,6.875000,5.750000,6.750000,5.500000,5.500000
4.0,20.00,20.00,20.00,20.00,10.00,10.00,6.500000,6.625000,7.250000,7.125000,7.375000,6.625000,6.750000
5.0,20.00,5.00,25.00,25.00,10.00,15.00,4.750000,7.250000,7.125000,6.875000,7.375000,5.875000,5.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169.0,17.78,20.00,17.78,15.56,15.56,13.33,8.500000,8.250000,8.750000,8.125000,7.875000,7.500000,8.000000
170.0,16.28,20.93,18.60,18.60,13.95,11.63,3.333333,7.000000,7.666667,4.000000,6.333333,2.666667,4.000000
171.0,19.57,10.87,19.57,19.57,19.57,10.87,6.333333,8.500000,8.500000,6.333333,7.500000,5.666667,7.166667
172.0,17.78,17.78,22.22,20.00,15.56,6.67,7.142857,8.142857,8.000000,7.142857,7.714286,7.285714,7.428571
173.0,18.37,18.37,20.41,20.41,16.33,6.12,6.666667,7.500000,8.666667,7.833333,8.166667,8.000000,7.666667

In [54]:
# pid 칼럼 명 변경
result_cols = ['tmp_att', 'tmp_sin', 'tmp_int', 'tmp_fun', 'tmp_amb', 'tmp_sha', 
               'tmp2_attr', 'tmp2_sinc', 'tmp2_intel', 'tmp2_fun', 'tmp2_amb', 'tmp2_shar', 'tmp2_like']
pid_tmp.columns = result_cols 
pid_tmp

,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
pid,,,,,,,,,,,,,
1.0,15.00,20.00,20.00,15.00,15.00,15.00,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
2.0,45.00,5.00,25.00,20.00,0.00,5.00,7.125000,6.375000,7.375000,6.875000,7.250000,5.875000,7.000000
3.0,35.00,10.00,35.00,10.00,10.00,0.00,6.125000,6.375000,6.875000,5.750000,6.750000,5.500000,5.500000
4.0,20.00,20.00,20.00,20.00,10.00,10.00,6.500000,6.625000,7.250000,7.125000,7.375000,6.625000,6.750000
5.0,20.00,5.00,25.00,25.00,10.00,15.00,4.750000,7.250000,7.125000,6.875000,7.375000,5.875000,5.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169.0,17.78,20.00,17.78,15.56,15.56,13.33,8.500000,8.250000,8.750000,8.125000,7.875000,7.500000,8.000000
170.0,16.28,20.93,18.60,18.60,13.95,11.63,3.333333,7.000000,7.666667,4.000000,6.333333,2.666667,4.000000
171.0,19.57,10.87,19.57,19.57,19.57,10.87,6.333333,8.500000,8.500000,6.333333,7.500000,5.666667,7.166667
172.0,17.78,17.78,22.22,20.00,15.56,6.67,7.142857,8.142857,8.000000,7.142857,7.714286,7.285714,7.428571
173.0,18.37,18.37,20.41,20.41,16.33,6.12,6.666667,7.500000,8.666667,7.833333,8.166667,8.000000,7.666667

## 전처리한 데이터 프레임 만들기

In [55]:
result = iid_tmp.copy()

In [56]:
result[result_cols] = pid_tmp[result_cols]

In [57]:
result

,id,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
iid,,,,,,,,,,,,,,,,,,,,,
1,1.0,13.000000,1.0,0.0,1.000000,6.0,8.0,8.0,8.0,7.0,...,15.00,15.00,15.00,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
2,2.0,15.875000,1.0,0.0,0.250000,7.0,5.0,8.0,10.0,3.0,...,20.00,0.00,5.00,7.125000,6.375000,7.375000,6.875000,7.250000,5.875000,7.000000
3,3.0,15.875000,1.0,0.0,0.000000,8.0,9.0,9.0,8.0,8.0,...,10.00,10.00,0.00,6.125000,6.375000,6.875000,5.750000,6.750000,5.500000,5.500000
4,4.0,15.875000,1.0,0.0,0.250000,7.0,8.0,7.0,9.0,8.0,...,20.00,10.00,10.00,6.500000,6.625000,7.250000,7.125000,7.375000,6.625000,6.750000
5,5.0,15.875000,1.0,0.0,0.250000,6.0,3.0,10.0,6.0,8.0,...,25.00,10.00,15.00,4.750000,7.250000,7.125000,6.875000,7.375000,5.875000,5.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,12.0,147.900000,7.0,1.0,0.200000,7.0,9.0,8.0,7.0,7.0,...,15.56,15.56,13.33,8.500000,8.250000,8.750000,8.125000,7.875000,7.500000,8.000000
170,13.0,151.400000,7.0,1.0,0.000000,7.0,8.0,9.0,6.0,8.0,...,18.60,13.95,11.63,3.333333,7.000000,7.666667,4.000000,6.333333,2.666667,4.000000
171,14.0,147.900000,7.0,1.0,0.300000,10.0,10.0,10.0,10.0,10.0,...,19.57,19.57,10.87,6.333333,8.500000,8.500000,6.333333,7.500000,5.666667,7.166667
172,15.0,148.444444,7.0,1.0,0.333333,5.0,6.0,8.0,9.0,9.0,...,20.00,15.56,6.67,7.142857,8.142857,8.000000,7.142857,7.714286,7.285714,7.428571
173,16.0,147.900000,7.0,1.0,0.400000,7.0,9.0,9.0,9.0,9.0,...,20.41,16.33,6.12,6.666667,7.500000,8.666667,7.833333,8.166667,8.000000,7.666667

In [58]:
result
result.iloc[-1]

id             16.000000
pid           147.900000
wave            7.000000
gender          1.000000
match           0.400000
attr3_1         7.000000
sinc3_1         9.000000
intel3_1        9.000000
fun3_1          9.000000
amb3_1          9.000000
pf_o_att       13.369000
pf_o_sin       17.917000
pf_o_int       19.268000
pf_o_fun       18.199000
pf_o_amb       16.252000
pf_o_sha       14.993000
attr            6.200000
sinc            6.900000
intel           6.400000
fun             6.500000
amb             6.000000
shar            5.500000
like            5.700000
group           1.000000
tmp_att        18.370000
tmp_sin        18.370000
tmp_int        20.410000
tmp_fun        20.410000
tmp_amb        16.330000
tmp_sha         6.120000
tmp2_attr       6.666667
tmp2_sinc       7.500000
tmp2_intel      8.666667
tmp2_fun        7.833333
tmp2_amb        8.166667
tmp2_shar       8.000000
tmp2_like       7.666667
Name: 173, dtype: float64

In [60]:
real_cols = 'gender	match	attr3_1	sinc3_1	intel3_1	fun3_1	amb3_1	tmp_att	tmp_sin	tmp_int	tmp_fun	tmp_amb tmp_sha'.split()
real_cols += ['tmp2_attr', 'tmp2_sinc', 'tmp2_intel', 'tmp2_fun', 'tmp2_amb', 'tmp2_shar', 'tmp2_like']
result = result[real_cols] 
result

,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
iid,,,,,,,,,,,,,,,,,,,,
1,0.0,1.000000,6.0,8.0,8.0,8.0,7.0,15.00,20.00,20.00,15.00,15.00,15.00,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
2,0.0,0.250000,7.0,5.0,8.0,10.0,3.0,45.00,5.00,25.00,20.00,0.00,5.00,7.125000,6.375000,7.375000,6.875000,7.250000,5.875000,7.000000
3,0.0,0.000000,8.0,9.0,9.0,8.0,8.0,35.00,10.00,35.00,10.00,10.00,0.00,6.125000,6.375000,6.875000,5.750000,6.750000,5.500000,5.500000
4,0.0,0.250000,7.0,8.0,7.0,9.0,8.0,20.00,20.00,20.00,20.00,10.00,10.00,6.500000,6.625000,7.250000,7.125000,7.375000,6.625000,6.750000
5,0.0,0.250000,6.0,3.0,10.0,6.0,8.0,20.00,5.00,25.00,25.00,10.00,15.00,4.750000,7.250000,7.125000,6.875000,7.375000,5.875000,5.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,1.0,0.200000,7.0,9.0,8.0,7.0,7.0,17.78,20.00,17.78,15.56,15.56,13.33,8.500000,8.250000,8.750000,8.125000,7.875000,7.500000,8.000000
170,1.0,0.000000,7.0,8.0,9.0,6.0,8.0,16.28,20.93,18.60,18.60,13.95,11.63,3.333333,7.000000,7.666667,4.000000,6.333333,2.666667,4.000000
171,1.0,0.300000,10.0,10.0,10.0,10.0,10.0,19.57,10.87,19.57,19.57,19.57,10.87,6.333333,8.500000,8.500000,6.333333,7.500000,5.666667,7.166667
172,1.0,0.333333,5.0,6.0,8.0,9.0,9.0,17.78,17.78,22.22,20.00,15.56,6.67,7.142857,8.142857,8.000000,7.142857,7.714286,7.285714,7.428571
173,1.0,0.400000,7.0,9.0,9.0,9.0,9.0,18.37,18.37,20.41,20.41,16.33,6.12,6.666667,7.500000,8.666667,7.833333,8.166667,8.000000,7.666667

In [ ]:
result.to_csv('../data/group1_3_fin.csv')