In [1]:
import pandas as pd
g1 = pd.read_csv('../data/group1_3_fin.csv')
g2 = pd.read_csv('../data/group2_3_fin.csv')
g3 = pd.read_csv('../data/group3_3_fin.csv')

In [2]:
g1

,iid,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,...,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
0,1,0.0,1.000000,6.0,8.0,8.0,8.0,7.0,15.00,20.00,...,15.00,15.00,15.00,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
1,2,0.0,0.250000,7.0,5.0,8.0,10.0,3.0,45.00,5.00,...,20.00,0.00,5.00,7.125000,6.375000,7.375000,6.875000,7.250000,5.875000,7.000000
2,3,0.0,0.000000,8.0,9.0,9.0,8.0,8.0,35.00,10.00,...,10.00,10.00,0.00,6.125000,6.375000,6.875000,5.750000,6.750000,5.500000,5.500000
3,4,0.0,0.250000,7.0,8.0,7.0,9.0,8.0,20.00,20.00,...,20.00,10.00,10.00,6.500000,6.625000,7.250000,7.125000,7.375000,6.625000,6.750000
4,5,0.0,0.250000,6.0,3.0,10.0,6.0,8.0,20.00,5.00,...,25.00,10.00,15.00,4.750000,7.250000,7.125000,6.875000,7.375000,5.875000,5.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,169,1.0,0.200000,7.0,9.0,8.0,7.0,7.0,17.78,20.00,...,15.56,15.56,13.33,8.500000,8.250000,8.750000,8.125000,7.875000,7.500000,8.000000
140,170,1.0,0.000000,7.0,8.0,9.0,6.0,8.0,16.28,20.93,...,18.60,13.95,11.63,3.333333,7.000000,7.666667,4.000000,6.333333,2.666667,4.000000
141,171,1.0,0.300000,10.0,10.0,10.0,10.0,10.0,19.57,10.87,...,19.57,19.57,10.87,6.333333,8.500000,8.500000,6.333333,7.500000,5.666667,7.166667
142,172,1.0,0.333333,5.0,6.0,8.0,9.0,9.0,17.78,17.78,...,20.00,15.56,6.67,7.142857,8.142857,8.000000,7.142857,7.714286,7.285714,7.428571
143,173,1.0,0.400000,7.0,9.0,9.0,9.0,9.0,18.37,18.37,...,20.41,16.33,6.12,6.666667,7.500000,8.666667,7.833333,8.166667,8.000000,7.666667

In [3]:
print(len(g1))
print(len(g2))
print(len(g3))

144
179
154

In [4]:
real_result = pd.concat([g1, g2, g3])

In [5]:
real_result.match *= 100

In [8]:
real_result

,iid,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,...,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
0,1,0.0,100.000000,6.0,8.0,8.0,8.0,7.0,15.0,20.0,...,15.0,15.0,15.0,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
1,2,0.0,25.000000,7.0,5.0,8.0,10.0,3.0,45.0,5.0,...,20.0,0.0,5.0,7.125000,6.375000,7.375000,6.875000,7.250000,5.875000,7.000000
2,3,0.0,0.000000,8.0,9.0,9.0,8.0,8.0,35.0,10.0,...,10.0,10.0,0.0,6.125000,6.375000,6.875000,5.750000,6.750000,5.500000,5.500000
3,4,0.0,25.000000,7.0,8.0,7.0,9.0,8.0,20.0,20.0,...,20.0,10.0,10.0,6.500000,6.625000,7.250000,7.125000,7.375000,6.625000,6.750000
4,5,0.0,25.000000,6.0,3.0,10.0,6.0,8.0,20.0,5.0,...,25.0,10.0,15.0,4.750000,7.250000,7.125000,6.875000,7.375000,5.875000,5.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,547,1.0,22.222222,7.0,9.0,8.0,8.0,8.0,25.0,20.0,...,20.0,0.0,15.0,7.142857,6.857143,7.714286,6.714286,7.285714,6.142857,6.428571
150,548,1.0,25.000000,10.0,10.0,10.0,10.0,10.0,40.0,10.0,...,10.0,0.0,20.0,7.000000,6.166667,6.666667,6.333333,6.500000,5.333333,6.833333
151,549,1.0,22.222222,7.0,10.0,9.0,8.0,9.0,20.0,20.0,...,20.0,0.0,20.0,7.333333,7.333333,7.000000,6.166667,6.500000,5.666667,5.666667
152,550,1.0,33.333333,7.0,7.0,7.0,7.0,7.0,30.0,3.0,...,30.0,3.0,4.0,6.375000,7.750000,7.875000,6.250000,7.125000,5.125000,5.625000
153,552,1.0,20.000000,8.0,7.0,7.0,6.0,7.0,70.0,0.0,...,15.0,0.0,0.0,8.142857,7.285714,7.000000,6.857143,6.714286,6.142857,6.857143

In [6]:
real_result.match.value_counts()

0.000000      226
50.000000      28
33.333333      26
100.000000     22
25.000000      22
20.000000      22
14.285714      15
16.666667      14
10.000000      13
11.111111       9
40.000000       8
28.571429       7
22.222222       7
66.666667       5
7.692308        4
9.090909        4
42.857143       4
8.333333        4
30.000000       4
60.000000       3
54.545455       3
75.000000       3
18.181818       3
38.461538       2
15.384615       2
23.076923       2
7.142857        2
21.428571       2
44.444444       2
41.666667       1
45.454545       1
80.000000       1
85.714286       1
57.142857       1
27.272727       1
55.555556       1
83.333333       1
12.500000       1
Name: match, dtype: int64

In [7]:
real_result.match.nunique()

38

In [11]:
real_result.to_csv('../data/train3.csv')