In [1]:
import pandas as pd
g1 = pd.read_csv('../data/group1_fin.csv')
g2 = pd.read_csv('../data/group2_fin.csv')
g3 = pd.read_csv('../data/group3_fin.csv')

In [2]:
g1

,iid,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb
0,1,0.0,1.00,6.0,8.0,8.0,8.0,7.0,15.00,20.00,20.00,15.00,15.00
1,2,0.0,0.25,7.0,5.0,8.0,10.0,3.0,45.00,5.00,25.00,20.00,0.00
2,3,0.0,0.00,8.0,9.0,9.0,8.0,8.0,35.00,10.00,35.00,10.00,10.00
3,4,0.0,0.25,7.0,8.0,7.0,9.0,8.0,20.00,20.00,20.00,20.00,10.00
4,5,0.0,0.25,6.0,3.0,10.0,6.0,8.0,20.00,5.00,25.00,25.00,10.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,169,1.0,0.20,7.0,9.0,8.0,7.0,7.0,17.78,20.00,17.78,15.56,15.56
146,170,1.0,0.00,7.0,8.0,9.0,6.0,8.0,16.28,20.93,18.60,18.60,13.95
147,171,1.0,0.30,10.0,10.0,10.0,10.0,10.0,19.57,10.87,19.57,19.57,19.57
148,172,1.0,0.30,5.0,6.0,8.0,9.0,9.0,17.78,17.78,22.22,20.00,15.56
149,173,1.0,0.40,7.0,9.0,9.0,9.0,9.0,18.37,18.37,20.41,20.41,16.33

In [8]:
print(len(g1))
print(len(g2))
print(len(g3))

150
190
161

TypeError: sum() takes at most 2 arguments (3 given)

In [9]:
real_result = pd.concat([g1, g2, g3])

In [ ]:
real_result.to_csv('../data/train.csv')