In [1]:
import pandas as pd

g3 = pd.read_csv('../data/group3_3.csv')

In [2]:
g3.drop(['Unnamed: 0'], axis=1, inplace=True)

In [3]:
g3

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like,group
0,1.0,379,397.0,15,0,0,6.0,9.0,8.0,6.0,...,6.0,10.0,7.0,9.0,9.0,7.0,8.0,8.0,8.0,3
1,1.0,379,398.0,15,0,0,6.0,9.0,8.0,6.0,...,0.0,5.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,3
2,1.0,379,400.0,15,0,1,6.0,9.0,8.0,6.0,...,1.0,1.0,8.0,9.0,9.0,6.0,9.0,8.0,8.0,3
3,1.0,379,401.0,15,0,0,6.0,9.0,8.0,6.0,...,0.0,20.0,7.0,8.0,9.0,5.0,7.0,5.0,7.0,3
4,1.0,379,403.0,15,0,0,6.0,9.0,8.0,6.0,...,5.0,15.0,6.0,9.0,9.0,6.0,9.0,5.0,7.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,22.0,552,513.0,21,1,1,8.0,7.0,7.0,6.0,...,5.0,15.0,8.0,9.0,9.0,9.0,6.0,8.0,9.0,3
882,22.0,552,514.0,21,1,0,8.0,7.0,7.0,6.0,...,5.0,20.0,4.0,6.0,8.0,7.0,8.0,8.0,6.0,3
883,22.0,552,518.0,21,1,0,8.0,7.0,7.0,6.0,...,5.0,5.0,5.0,8.0,8.0,7.0,7.0,8.0,6.0,3
884,22.0,552,521.0,21,1,0,8.0,7.0,7.0,6.0,...,15.0,10.0,3.0,4.0,6.0,4.0,4.0,4.0,4.0,3
885,22.0,552,522.0,21,1,0,8.0,7.0,7.0,6.0,...,15.0,20.0,3.0,3.0,9.0,6.0,9.0,6.0,6.0,3

In [4]:
# 성별 분류 확인
g3.gender.value_counts()

0    443
1    443
Name: gender, dtype: int64

In [5]:
g3.gender == 0

0       True
1       True
2       True
3       True
4       True
       ...
881    False
882    False
883    False
884    False
885    False
Name: gender, Length: 886, dtype: bool

In [6]:
# iid의 유니크한 값 확인
len(g3.iid.unique())

154

In [7]:
# pid의 유니크한 값 확인
len(g3.pid.unique())

160

In [8]:
# 누락된 평가 확인
omission_list = list(set(g3.pid.unique()) - set(g3.iid.unique()))
omission_list

[390.0, 398.0, 465.0, 502.0, 507.0, 414.0, 383.0]

In [9]:
# 누락된 평가를 가지고 있는 row의 인덱스 확인
df_omission_list = []
for omission in omission_list:
    df_omission_list.append(g3[g3.pid == omission].index)  

df_omission_list

[Int64Index([192, 201], dtype='int64'),
 Int64Index([1, 16, 30, 45, 59, 69, 84, 101, 116, 131, 145], dtype='int64'),
 Int64Index([441], dtype='int64'),
 Int64Index([586], dtype='int64'),
 Int64Index([587], dtype='int64'),
 Int64Index([12, 27, 42, 57, 81, 95, 99, 113, 128, 143, 156, 161], dtype='int64'),
 Int64Index([167, 206, 221, 236, 251, 266, 281, 296], dtype='int64')]

In [10]:
len(df_omission_list)

7

In [11]:
# 누락된 평가를 가지고 있는 row 제거

for i in range(len(df_omission_list)):
    g3.drop(df_omission_list[i], axis=0, inplace=True)

In [12]:
g3

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like,group
0,1.0,379,397.0,15,0,0,6.0,9.0,8.0,6.0,...,6.0,10.0,7.0,9.0,9.0,7.0,8.0,8.0,8.0,3
2,1.0,379,400.0,15,0,1,6.0,9.0,8.0,6.0,...,1.0,1.0,8.0,9.0,9.0,6.0,9.0,8.0,8.0,3
3,1.0,379,401.0,15,0,0,6.0,9.0,8.0,6.0,...,0.0,20.0,7.0,8.0,9.0,5.0,7.0,5.0,7.0,3
4,1.0,379,403.0,15,0,0,6.0,9.0,8.0,6.0,...,5.0,15.0,6.0,9.0,9.0,6.0,9.0,5.0,7.0,3
5,1.0,379,404.0,15,0,0,6.0,9.0,8.0,6.0,...,3.0,8.0,9.0,9.0,9.0,6.0,8.0,5.0,8.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,22.0,552,513.0,21,1,1,8.0,7.0,7.0,6.0,...,5.0,15.0,8.0,9.0,9.0,9.0,6.0,8.0,9.0,3
882,22.0,552,514.0,21,1,0,8.0,7.0,7.0,6.0,...,5.0,20.0,4.0,6.0,8.0,7.0,8.0,8.0,6.0,3
883,22.0,552,518.0,21,1,0,8.0,7.0,7.0,6.0,...,5.0,5.0,5.0,8.0,8.0,7.0,7.0,8.0,6.0,3
884,22.0,552,521.0,21,1,0,8.0,7.0,7.0,6.0,...,15.0,10.0,3.0,4.0,6.0,4.0,4.0,4.0,4.0,3
885,22.0,552,522.0,21,1,0,8.0,7.0,7.0,6.0,...,15.0,20.0,3.0,3.0,9.0,6.0,9.0,6.0,6.0,3

In [13]:
g3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 850 entries, 0 to 885
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        850 non-null    float64
 1   iid       850 non-null    int64
 2   pid       850 non-null    float64
 3   wave      850 non-null    int64
 4   gender    850 non-null    int64
 5   match     850 non-null    int64
 6   attr3_1   850 non-null    float64
 7   sinc3_1   850 non-null    float64
 8   intel3_1  850 non-null    float64
 9   fun3_1    850 non-null    float64
 10  amb3_1    850 non-null    float64
 11  pf_o_att  850 non-null    float64
 12  pf_o_sin  850 non-null    float64
 13  pf_o_int  850 non-null    float64
 14  pf_o_fun  850 non-null    float64
 15  pf_o_amb  850 non-null    float64
 16  pf_o_sha  850 non-null    float64
 17  attr      850 non-null    float64
 18  sinc      850 non-null    float64
 19  intel     850 non-null    float64
 20  fun       850 non-null    float64
 21  amb       850 non-null    float64
 22  shar      850 non-null    float64
 23  like      850 non-null    float64
 24  group     850 non-null    int64
dtypes: float64(20), int64(5)
memory usage: 172.7 KB

In [14]:
# iid 기준으로 그룹한 것을 iid_tmp에 저장
iid_tmp = g3.groupby('iid').mean()
iid_tmp

,id,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like,group
iid,,,,,,,,,,,,,,,,,,,,,
379,1.0,406.833333,15.0,0.0,0.083333,6.0,9.0,8.0,6.0,9.0,...,6.666667,9.916667,7.083333,8.083333,8.416667,6.583333,7.833333,6.500000,7.416667,3.0
380,2.0,405.000000,15.0,0.0,0.000000,4.0,7.0,9.0,9.0,9.0,...,5.000000,5.000000,5.000000,6.000000,7.000000,6.000000,8.000000,5.000000,5.000000,3.0
381,3.0,406.833333,15.0,0.0,0.083333,7.0,7.0,9.0,10.0,8.0,...,6.666667,9.916667,6.250000,7.333333,7.000000,6.333333,6.750000,6.083333,6.416667,3.0
382,4.0,406.230769,15.0,0.0,0.076923,7.0,7.0,7.0,7.0,10.0,...,6.923077,10.307692,6.000000,7.384615,7.230769,7.307692,7.076923,6.461538,6.230769,3.0
384,6.0,406.230769,15.0,0.0,0.384615,8.0,8.0,8.0,9.0,9.0,...,6.923077,10.307692,7.615385,9.230769,9.076923,7.461538,8.923077,6.692308,6.230769,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,17.0,517.666667,21.0,1.0,0.222222,7.0,9.0,8.0,8.0,8.0,...,8.888889,12.777778,5.666667,6.888889,6.444444,7.000000,6.000000,3.666667,6.222222,3.0
548,18.0,518.375000,21.0,1.0,0.250000,10.0,10.0,10.0,10.0,10.0,...,9.375000,12.500000,5.000000,5.500000,4.875000,4.000000,2.875000,1.875000,4.125000,3.0
549,19.0,517.666667,21.0,1.0,0.222222,7.0,10.0,9.0,8.0,9.0,...,8.888889,12.777778,5.888889,7.555556,7.333333,7.333333,6.888889,5.666667,5.888889,3.0
550,20.0,517.666667,21.0,1.0,0.333333,7.0,7.0,7.0,7.0,7.0,...,8.888889,12.777778,6.222222,6.111111,5.777778,6.111111,4.555556,4.333333,6.000000,3.0
552,22.0,517.600000,21.0,1.0,0.200000,8.0,7.0,7.0,6.0,7.0,...,9.000000,14.000000,4.600000,6.000000,8.000000,6.600000,6.800000,6.800000,6.200000,3.0

In [15]:
# iid 기준 그룹화 df에서 결과를 보고 필요한 칼럼들 추출
# ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']
iid_result_cols = ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']

In [16]:
# pid(상대방의 아이디)를 기준으로 그룹화
pid_tmp = g3.groupby('pid').mean()
pid_tmp

,id,iid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like,group
pid,,,,,,,,,,,,,,,,,,,,,
379.0,12.222222,408.222222,15.0,1.0,0.111111,7.111111,8.333333,8.555556,7.000000,7.666667,...,15.0,20.0,6.444444,6.888889,7.777778,7.000000,7.888889,6.777778,6.222222,3.0
380.0,9.000000,405.000000,15.0,1.0,0.000000,8.000000,8.000000,9.000000,10.000000,10.000000,...,15.0,10.0,5.000000,10.000000,10.000000,10.000000,10.000000,10.000000,7.000000,3.0
381.0,13.250000,409.250000,15.0,1.0,0.125000,7.125000,8.125000,8.625000,7.125000,7.750000,...,5.0,10.0,6.500000,6.500000,6.625000,6.375000,6.625000,5.875000,5.250000,3.0
382.0,11.363636,407.363636,15.0,1.0,0.090909,6.727273,8.363636,8.545455,7.000000,7.818182,...,10.0,5.0,6.181818,6.818182,7.090909,5.545455,6.363636,5.727273,6.090909,3.0
384.0,11.700000,407.700000,15.0,1.0,0.400000,6.800000,8.300000,8.600000,7.000000,7.800000,...,20.0,0.0,6.900000,7.100000,6.800000,7.600000,6.500000,6.700000,6.800000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547.0,10.000000,518.000000,21.0,0.0,0.142857,7.000000,8.857143,8.285714,8.000000,7.571429,...,0.0,15.0,7.142857,6.857143,7.714286,6.714286,7.285714,6.142857,6.428571,3.0
548.0,9.833333,517.833333,21.0,0.0,0.166667,7.166667,9.500000,8.666667,8.166667,7.666667,...,0.0,20.0,7.000000,6.166667,6.666667,6.333333,6.500000,5.333333,6.833333,3.0
549.0,8.833333,516.833333,21.0,0.0,0.166667,6.833333,9.166667,8.166667,8.000000,7.333333,...,0.0,20.0,7.333333,7.333333,7.000000,6.166667,6.500000,5.666667,5.666667,3.0
550.0,10.000000,518.000000,21.0,0.0,0.375000,6.875000,8.875000,8.250000,8.000000,7.500000,...,3.0,4.0,6.375000,7.750000,7.875000,6.250000,7.125000,5.125000,5.625000,3.0
552.0,10.285714,518.285714,21.0,0.0,0.285714,6.857143,9.000000,8.571429,7.857143,7.285714,...,0.0,0.0,8.142857,7.285714,7.000000,6.857143,6.714286,6.142857,6.857143,3.0

In [17]:
# pid 기준 그룹화 df에서 결과에 필요한 칼럼들
pid_result_cols = 'pf_o_att	pf_o_sin	pf_o_int	pf_o_fun	pf_o_amb	pf_o_sha'.split('\t')
pid_result_cols += 'attr	sinc	intel	fun	amb	shar	like'.split()
pid_tmp = pid_tmp[pid_result_cols]

In [18]:
pid_tmp

,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,amb,shar,like
pid,,,,,,,,,,,,,
379.0,15.0,15.0,20.0,15.0,15.0,20.0,6.444444,6.888889,7.777778,7.000000,7.888889,6.777778,6.222222
380.0,20.0,20.0,20.0,15.0,15.0,10.0,5.000000,10.000000,10.000000,10.000000,10.000000,10.000000,7.000000
381.0,20.0,10.0,20.0,35.0,5.0,10.0,6.500000,6.500000,6.625000,6.375000,6.625000,5.875000,5.250000
382.0,25.0,25.0,25.0,10.0,10.0,5.0,6.181818,6.818182,7.090909,5.545455,6.363636,5.727273,6.090909
384.0,20.0,20.0,20.0,20.0,20.0,0.0,6.900000,7.100000,6.800000,7.600000,6.500000,6.700000,6.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
547.0,25.0,20.0,20.0,20.0,0.0,15.0,7.142857,6.857143,7.714286,6.714286,7.285714,6.142857,6.428571
548.0,40.0,10.0,20.0,10.0,0.0,20.0,7.000000,6.166667,6.666667,6.333333,6.500000,5.333333,6.833333
549.0,20.0,20.0,20.0,20.0,0.0,20.0,7.333333,7.333333,7.000000,6.166667,6.500000,5.666667,5.666667
550.0,30.0,3.0,30.0,30.0,3.0,4.0,6.375000,7.750000,7.875000,6.250000,7.125000,5.125000,5.625000
552.0,70.0,0.0,15.0,15.0,0.0,0.0,8.142857,7.285714,7.000000,6.857143,6.714286,6.142857,6.857143

In [19]:
# pid 칼럼 명 변경
result_cols = ['tmp_att', 'tmp_sin', 'tmp_int', 'tmp_fun', 'tmp_amb', 'tmp_sha', 
               'tmp2_attr', 'tmp2_sinc', 'tmp2_intel', 'tmp2_fun', 'tmp2_amb', 'tmp2_shar', 'tmp2_like']
pid_tmp.columns = result_cols 
pid_tmp

,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
pid,,,,,,,,,,,,,
379.0,15.0,15.0,20.0,15.0,15.0,20.0,6.444444,6.888889,7.777778,7.000000,7.888889,6.777778,6.222222
380.0,20.0,20.0,20.0,15.0,15.0,10.0,5.000000,10.000000,10.000000,10.000000,10.000000,10.000000,7.000000
381.0,20.0,10.0,20.0,35.0,5.0,10.0,6.500000,6.500000,6.625000,6.375000,6.625000,5.875000,5.250000
382.0,25.0,25.0,25.0,10.0,10.0,5.0,6.181818,6.818182,7.090909,5.545455,6.363636,5.727273,6.090909
384.0,20.0,20.0,20.0,20.0,20.0,0.0,6.900000,7.100000,6.800000,7.600000,6.500000,6.700000,6.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
547.0,25.0,20.0,20.0,20.0,0.0,15.0,7.142857,6.857143,7.714286,6.714286,7.285714,6.142857,6.428571
548.0,40.0,10.0,20.0,10.0,0.0,20.0,7.000000,6.166667,6.666667,6.333333,6.500000,5.333333,6.833333
549.0,20.0,20.0,20.0,20.0,0.0,20.0,7.333333,7.333333,7.000000,6.166667,6.500000,5.666667,5.666667
550.0,30.0,3.0,30.0,30.0,3.0,4.0,6.375000,7.750000,7.875000,6.250000,7.125000,5.125000,5.625000
552.0,70.0,0.0,15.0,15.0,0.0,0.0,8.142857,7.285714,7.000000,6.857143,6.714286,6.142857,6.857143

## 전처리한 데이터 프레임 만들기

In [20]:
result = iid_tmp.copy()

In [21]:
result[result_cols] = pid_tmp[result_cols]

In [22]:
result

,id,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
iid,,,,,,,,,,,,,,,,,,,,,
379,1.0,406.833333,15.0,0.0,0.083333,6.0,9.0,8.0,6.0,9.0,...,15.0,15.0,20.0,6.444444,6.888889,7.777778,7.000000,7.888889,6.777778,6.222222
380,2.0,405.000000,15.0,0.0,0.000000,4.0,7.0,9.0,9.0,9.0,...,15.0,15.0,10.0,5.000000,10.000000,10.000000,10.000000,10.000000,10.000000,7.000000
381,3.0,406.833333,15.0,0.0,0.083333,7.0,7.0,9.0,10.0,8.0,...,35.0,5.0,10.0,6.500000,6.500000,6.625000,6.375000,6.625000,5.875000,5.250000
382,4.0,406.230769,15.0,0.0,0.076923,7.0,7.0,7.0,7.0,10.0,...,10.0,10.0,5.0,6.181818,6.818182,7.090909,5.545455,6.363636,5.727273,6.090909
384,6.0,406.230769,15.0,0.0,0.384615,8.0,8.0,8.0,9.0,9.0,...,20.0,20.0,0.0,6.900000,7.100000,6.800000,7.600000,6.500000,6.700000,6.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,17.0,517.666667,21.0,1.0,0.222222,7.0,9.0,8.0,8.0,8.0,...,20.0,0.0,15.0,7.142857,6.857143,7.714286,6.714286,7.285714,6.142857,6.428571
548,18.0,518.375000,21.0,1.0,0.250000,10.0,10.0,10.0,10.0,10.0,...,10.0,0.0,20.0,7.000000,6.166667,6.666667,6.333333,6.500000,5.333333,6.833333
549,19.0,517.666667,21.0,1.0,0.222222,7.0,10.0,9.0,8.0,9.0,...,20.0,0.0,20.0,7.333333,7.333333,7.000000,6.166667,6.500000,5.666667,5.666667
550,20.0,517.666667,21.0,1.0,0.333333,7.0,7.0,7.0,7.0,7.0,...,30.0,3.0,4.0,6.375000,7.750000,7.875000,6.250000,7.125000,5.125000,5.625000
552,22.0,517.600000,21.0,1.0,0.200000,8.0,7.0,7.0,6.0,7.0,...,15.0,0.0,0.0,8.142857,7.285714,7.000000,6.857143,6.714286,6.142857,6.857143

In [23]:
result
result.iloc[-1]

id             22.000000
pid           517.600000
wave           21.000000
gender          1.000000
match           0.200000
attr3_1         8.000000
sinc3_1         7.000000
intel3_1        7.000000
fun3_1          6.000000
amb3_1          7.000000
pf_o_att       16.000000
pf_o_sin       23.000000
pf_o_int       20.000000
pf_o_fun       20.000000
pf_o_amb        9.000000
pf_o_sha       14.000000
attr            4.600000
sinc            6.000000
intel           8.000000
fun             6.600000
amb             6.800000
shar            6.800000
like            6.200000
group           3.000000
tmp_att        70.000000
tmp_sin         0.000000
tmp_int        15.000000
tmp_fun        15.000000
tmp_amb         0.000000
tmp_sha         0.000000
tmp2_attr       8.142857
tmp2_sinc       7.285714
tmp2_intel      7.000000
tmp2_fun        6.857143
tmp2_amb        6.714286
tmp2_shar       6.142857
tmp2_like       6.857143
Name: 552, dtype: float64

In [24]:
real_cols = 'gender	match	attr3_1	sinc3_1	intel3_1	fun3_1	amb3_1	tmp_att	tmp_sin	tmp_int	tmp_fun	tmp_amb tmp_sha'.split()
real_cols += ['tmp2_attr', 'tmp2_sinc', 'tmp2_intel', 'tmp2_fun', 'tmp2_amb', 'tmp2_shar', 'tmp2_like']
result = result[real_cols] 
result

,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
iid,,,,,,,,,,,,,,,,,,,,
379,0.0,0.083333,6.0,9.0,8.0,6.0,9.0,15.0,15.0,20.0,15.0,15.0,20.0,6.444444,6.888889,7.777778,7.000000,7.888889,6.777778,6.222222
380,0.0,0.000000,4.0,7.0,9.0,9.0,9.0,20.0,20.0,20.0,15.0,15.0,10.0,5.000000,10.000000,10.000000,10.000000,10.000000,10.000000,7.000000
381,0.0,0.083333,7.0,7.0,9.0,10.0,8.0,20.0,10.0,20.0,35.0,5.0,10.0,6.500000,6.500000,6.625000,6.375000,6.625000,5.875000,5.250000
382,0.0,0.076923,7.0,7.0,7.0,7.0,10.0,25.0,25.0,25.0,10.0,10.0,5.0,6.181818,6.818182,7.090909,5.545455,6.363636,5.727273,6.090909
384,0.0,0.384615,8.0,8.0,8.0,9.0,9.0,20.0,20.0,20.0,20.0,20.0,0.0,6.900000,7.100000,6.800000,7.600000,6.500000,6.700000,6.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,1.0,0.222222,7.0,9.0,8.0,8.0,8.0,25.0,20.0,20.0,20.0,0.0,15.0,7.142857,6.857143,7.714286,6.714286,7.285714,6.142857,6.428571
548,1.0,0.250000,10.0,10.0,10.0,10.0,10.0,40.0,10.0,20.0,10.0,0.0,20.0,7.000000,6.166667,6.666667,6.333333,6.500000,5.333333,6.833333
549,1.0,0.222222,7.0,10.0,9.0,8.0,9.0,20.0,20.0,20.0,20.0,0.0,20.0,7.333333,7.333333,7.000000,6.166667,6.500000,5.666667,5.666667
550,1.0,0.333333,7.0,7.0,7.0,7.0,7.0,30.0,3.0,30.0,30.0,3.0,4.0,6.375000,7.750000,7.875000,6.250000,7.125000,5.125000,5.625000
552,1.0,0.200000,8.0,7.0,7.0,6.0,7.0,70.0,0.0,15.0,15.0,0.0,0.0,8.142857,7.285714,7.000000,6.857143,6.714286,6.142857,6.857143

In [25]:
result.to_csv('../data/group3_3_fin.csv')