In [1]:
import pandas as pd

g3 = pd.read_csv('../data/group3_4.csv')

In [2]:
g3.drop(['Unnamed: 0'], axis=1, inplace=True)

In [3]:
# 성별 분류 확인
g3.gender.value_counts()

0    562
1    562
Name: gender, dtype: int64

In [4]:
g3.gender == 0

0        True
1        True
2        True
3        True
4        True
        ...
1119    False
1120    False
1121    False
1122    False
1123    False
Name: gender, Length: 1124, dtype: bool

In [5]:
# iid 와 pid 관계 확인
g3[g3.pid == 22]

Empty DataFrame
Columns: [id, iid, pid, wave, gender, match, attr3_1, sinc3_1, intel3_1, fun3_1, amb3_1, pf_o_att, pf_o_sin, pf_o_int, pf_o_fun, pf_o_amb, pf_o_sha, attr, sinc, intel, fun, amb, shar, like, condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1, group]
Index: []

[0 rows x 53 columns]

In [6]:
g3[g3.iid == 22]

Empty DataFrame
Columns: [id, iid, pid, wave, gender, match, attr3_1, sinc3_1, intel3_1, fun3_1, amb3_1, pf_o_att, pf_o_sin, pf_o_int, pf_o_fun, pf_o_amb, pf_o_sha, attr, sinc, intel, fun, amb, shar, like, condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1, group]
Index: []

[0 rows x 53 columns]

In [7]:
# iid의 유니크한 값 확인
len(g3.iid.unique())

162

In [8]:
# pid의 유니크한 값 확인
len(g3.pid.unique())

162

In [10]:
# 누락된 평가 확인
omission_list = list(set(g3.pid.unique()) - set(g3.iid.unique()))
omission_list

[]

In [11]:
# 누락된 평가를 가지고 있는 row의 인덱스 확인
df_omission_list = []
for omission in omission_list:
    df_omission_list.append(g3[g3.pid == omission].index)  

df_omission_list

[]

In [12]:
len(df_omission_list)

0

In [13]:
# 누락된 평가를 가지고 있는 row 제거

for i in range(len(df_omission_list)):
    g3.drop(df_omission_list[i], axis=0, inplace=True)

In [14]:
g3

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,group
0,1.0,379,397.0,15,0,0,6.0,9.0,8.0,6.0,...,5.0,30.0,0.0,10.0,5.0,8.0,8.0,5.0,9.0,3
1,1.0,379,398.0,15,0,0,6.0,9.0,8.0,6.0,...,5.0,30.0,0.0,10.0,5.0,8.0,8.0,5.0,9.0,3
2,1.0,379,399.0,15,0,0,6.0,9.0,8.0,6.0,...,5.0,30.0,0.0,10.0,5.0,8.0,8.0,5.0,9.0,3
3,1.0,379,400.0,15,0,1,6.0,9.0,8.0,6.0,...,5.0,30.0,0.0,10.0,5.0,8.0,8.0,5.0,9.0,3
4,1.0,379,401.0,15,0,0,6.0,9.0,8.0,6.0,...,5.0,30.0,0.0,10.0,5.0,8.0,8.0,5.0,9.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1119,22.0,552,518.0,21,1,0,8.0,7.0,7.0,6.0,...,0.0,30.0,0.0,20.0,9.0,7.0,10.0,5.0,9.0,3
1120,22.0,552,519.0,21,1,0,8.0,7.0,7.0,6.0,...,0.0,30.0,0.0,20.0,9.0,7.0,10.0,5.0,9.0,3
1121,22.0,552,521.0,21,1,0,8.0,7.0,7.0,6.0,...,0.0,30.0,0.0,20.0,9.0,7.0,10.0,5.0,9.0,3
1122,22.0,552,522.0,21,1,0,8.0,7.0,7.0,6.0,...,0.0,30.0,0.0,20.0,9.0,7.0,10.0,5.0,9.0,3
1123,22.0,552,525.0,21,1,0,8.0,7.0,7.0,6.0,...,0.0,30.0,0.0,20.0,9.0,7.0,10.0,5.0,9.0,3

In [15]:
g3[g3.pid == 347]

Empty DataFrame
Columns: [id, iid, pid, wave, gender, match, attr3_1, sinc3_1, intel3_1, fun3_1, amb3_1, pf_o_att, pf_o_sin, pf_o_int, pf_o_fun, pf_o_amb, pf_o_sha, attr, sinc, intel, fun, amb, shar, like, condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1, group]
Index: []

[0 rows x 53 columns]

In [16]:
g3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1124 entries, 0 to 1123
Data columns (total 53 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1124 non-null   float64
 1   iid       1124 non-null   int64
 2   pid       1124 non-null   float64
 3   wave      1124 non-null   int64
 4   gender    1124 non-null   int64
 5   match     1124 non-null   int64
 6   attr3_1   1124 non-null   float64
 7   sinc3_1   1124 non-null   float64
 8   intel3_1  1124 non-null   float64
 9   fun3_1    1124 non-null   float64
 10  amb3_1    1124 non-null   float64
 11  pf_o_att  1124 non-null   float64
 12  pf_o_sin  1124 non-null   float64
 13  pf_o_int  1124 non-null   float64
 14  pf_o_fun  1124 non-null   float64
 15  pf_o_amb  1124 non-null   float64
 16  pf_o_sha  1124 non-null   float64
 17  attr      1124 non-null   float64
 18  sinc      1124 non-null   float64
 19  intel     1124 non-null   float64
 20  fun       1124 non-null   float64
 21  amb       1124 non-null   float64
 22  shar      1124 non-null   float64
 23  like      1124 non-null   float64
 24  condtn    1124 non-null   int64
 25  round     1124 non-null   int64
 26  int_corr  1124 non-null   float64
 27  age_o     1124 non-null   float64
 28  age       1124 non-null   float64
 29  attr1_1   1124 non-null   float64
 30  sinc1_1   1124 non-null   float64
 31  intel1_1  1124 non-null   float64
 32  fun1_1    1124 non-null   float64
 33  amb1_1    1124 non-null   float64
 34  shar1_1   1124 non-null   float64
 35  attr4_1   1124 non-null   float64
 36  sinc4_1   1124 non-null   float64
 37  intel4_1  1124 non-null   float64
 38  fun4_1    1124 non-null   float64
 39  amb4_1    1124 non-null   float64
 40  shar4_1   1124 non-null   float64
 41  attr2_1   1124 non-null   float64
 42  sinc2_1   1124 non-null   float64
 43  intel2_1  1124 non-null   float64
 44  fun2_1    1124 non-null   float64
 45  amb2_1    1124 non-null   float64
 46  shar2_1   1124 non-null   float64
 47  attr5_1   1124 non-null   float64
 48  sinc5_1   1124 non-null   float64
 49  intel5_1  1124 non-null   float64
 50  fun5_1    1124 non-null   float64
 51  amb5_1    1124 non-null   float64
 52  group     1124 non-null   int64
dtypes: float64(46), int64(7)
memory usage: 465.5 KB

In [17]:
# iid 기준으로 그룹한 것을 iid_tmp에 저장
iid_tmp = g3.groupby('iid').mean()
iid_tmp

,id,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,group
iid,,,,,,,,,,,,,,,,,,,,,
379,1.0,406.200000,15.0,0.0,0.066667,6.0,9.0,8.0,6.0,9.0,...,5.0,30.0,0.0,10.0,5.0,8.0,8.0,5.0,9.0,3.0
380,2.0,405.000000,15.0,0.0,0.000000,4.0,7.0,9.0,9.0,9.0,...,0.0,0.0,0.0,0.0,3.0,7.0,9.0,9.0,9.0,3.0
381,3.0,406.200000,15.0,0.0,0.133333,7.0,7.0,9.0,10.0,8.0,...,20.0,15.0,10.0,10.0,7.0,8.0,8.0,9.0,9.0,3.0
382,4.0,406.200000,15.0,0.0,0.133333,7.0,7.0,7.0,7.0,10.0,...,10.0,10.0,0.0,0.0,8.0,8.0,8.0,8.0,8.0,3.0
383,5.0,406.200000,15.0,0.0,0.266667,7.0,9.0,6.0,7.0,6.0,...,2.0,20.0,1.0,1.0,8.0,9.0,8.0,9.0,9.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,17.0,517.666667,21.0,1.0,0.222222,7.0,9.0,8.0,8.0,8.0,...,10.0,25.0,15.0,5.0,7.0,9.0,9.0,9.0,7.0,3.0
548,18.0,517.666667,21.0,1.0,0.222222,10.0,10.0,10.0,10.0,10.0,...,20.0,0.0,10.0,20.0,10.0,10.0,10.0,10.0,10.0,3.0
549,19.0,517.666667,21.0,1.0,0.222222,7.0,10.0,9.0,8.0,9.0,...,10.0,15.0,20.0,10.0,7.0,10.0,10.0,7.0,7.0,3.0
550,20.0,517.666667,21.0,1.0,0.333333,7.0,7.0,7.0,7.0,7.0,...,30.0,30.0,13.0,4.0,7.0,7.0,7.0,7.0,7.0,3.0
552,22.0,517.666667,21.0,1.0,0.222222,8.0,7.0,7.0,6.0,7.0,...,0.0,30.0,0.0,20.0,9.0,7.0,10.0,5.0,9.0,3.0

In [18]:
# iid 기준 그룹화 df에서 결과를 보고 필요한 칼럼들 추출
# ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']
iid_result_cols = ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']

In [19]:
# pid(상대방의 아이디)를 기준으로 그룹화
pid_tmp = g3.groupby('pid').mean()
pid_tmp

,id,iid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,group
pid,,,,,,,,,,,,,,,,,,,,,
379.0,10.200000,406.200000,15.0,1.0,0.066667,7.0,8.0,8.533333,7.4,7.733333,...,14.800000,17.133333,9.333333,8.866667,6.800000,7.200000,8.733333,7.000000,7.866667,3.0
380.0,9.000000,405.000000,15.0,1.0,0.000000,8.0,8.0,9.000000,10.0,10.000000,...,25.000000,15.000000,20.000000,5.000000,8.000000,8.000000,9.000000,10.000000,9.000000,3.0
381.0,10.200000,406.200000,15.0,1.0,0.133333,7.0,8.0,8.533333,7.4,7.733333,...,14.800000,17.133333,9.333333,8.866667,6.800000,7.200000,8.733333,7.000000,7.866667,3.0
382.0,10.200000,406.200000,15.0,1.0,0.133333,7.0,8.0,8.533333,7.4,7.733333,...,14.800000,17.133333,9.333333,8.866667,6.800000,7.200000,8.733333,7.000000,7.866667,3.0
383.0,10.200000,406.200000,15.0,1.0,0.266667,7.0,8.0,8.533333,7.4,7.733333,...,14.800000,17.133333,9.333333,8.866667,6.800000,7.200000,8.733333,7.000000,7.866667,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547.0,9.666667,517.666667,21.0,0.0,0.222222,7.0,9.0,8.444444,8.0,7.555556,...,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889,3.0
548.0,9.666667,517.666667,21.0,0.0,0.222222,7.0,9.0,8.444444,8.0,7.555556,...,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889,3.0
549.0,9.666667,517.666667,21.0,0.0,0.222222,7.0,9.0,8.444444,8.0,7.555556,...,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889,3.0
550.0,9.666667,517.666667,21.0,0.0,0.333333,7.0,9.0,8.444444,8.0,7.555556,...,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889,3.0
552.0,9.666667,517.666667,21.0,0.0,0.222222,7.0,9.0,8.444444,8.0,7.555556,...,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889,3.0

In [20]:
# pid 기준 그룹화 df에서 결과에 필요한 칼럼들
pid_result_cols = 'pf_o_att	pf_o_sin	pf_o_int	pf_o_fun	pf_o_amb	pf_o_sha'.split('\t')
pid_result_cols += 'attr	sinc	intel	fun	amb	shar	like'.split()
pid_result_cols  += 'condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1'.split(', ')
pid_tmp = pid_tmp[pid_result_cols]

In [21]:
pid_tmp

,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,...,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1
pid,,,,,,,,,,,,,,,,,,,,,
379.0,15.0,15.0,20.0,15.0,15.0,20.0,6.333333,6.933333,7.666667,6.600000,...,12.0,14.800000,17.133333,9.333333,8.866667,6.800000,7.200000,8.733333,7.000000,7.866667
380.0,20.0,20.0,20.0,15.0,15.0,10.0,5.000000,10.000000,10.000000,10.000000,...,10.0,25.000000,15.000000,20.000000,5.000000,8.000000,8.000000,9.000000,10.000000,9.000000
381.0,20.0,10.0,20.0,35.0,5.0,10.0,6.266667,6.600000,6.666667,6.200000,...,12.0,14.800000,17.133333,9.333333,8.866667,6.800000,7.200000,8.733333,7.000000,7.866667
382.0,25.0,25.0,25.0,10.0,10.0,5.0,6.066667,6.800000,7.000000,5.333333,...,12.0,14.800000,17.133333,9.333333,8.866667,6.800000,7.200000,8.733333,7.000000,7.866667
383.0,25.0,20.0,10.0,20.0,15.0,10.0,6.400000,7.533333,6.733333,6.466667,...,12.0,14.800000,17.133333,9.333333,8.866667,6.800000,7.200000,8.733333,7.000000,7.866667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547.0,25.0,20.0,20.0,20.0,0.0,15.0,7.000000,7.111111,7.888889,7.000000,...,8.0,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889
548.0,40.0,10.0,20.0,10.0,0.0,20.0,6.888889,6.333333,6.666667,6.111111,...,8.0,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889
549.0,20.0,20.0,20.0,20.0,0.0,20.0,7.000000,7.333333,7.222222,6.444444,...,8.0,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889
550.0,30.0,3.0,30.0,30.0,3.0,4.0,5.888889,7.222222,7.333333,6.111111,...,8.0,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889
552.0,70.0,0.0,15.0,15.0,0.0,0.0,7.666667,7.222222,7.000000,6.888889,...,8.0,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889

In [22]:
# pid 칼럼 명 변경
result_cols = ['tmp_att', 'tmp_sin', 'tmp_int', 'tmp_fun', 'tmp_amb', 'tmp_sha', 
               'tmp2_attr', 'tmp2_sinc', 'tmp2_intel', 'tmp2_fun', 'tmp2_amb', 'tmp2_shar', 'tmp2_like']
result_cols += 'condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1'.split(', ')
pid_tmp.columns = result_cols 
pid_tmp

,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,...,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1
pid,,,,,,,,,,,,,,,,,,,,,
379.0,15.0,15.0,20.0,15.0,15.0,20.0,6.333333,6.933333,7.666667,6.600000,...,12.0,14.800000,17.133333,9.333333,8.866667,6.800000,7.200000,8.733333,7.000000,7.866667
380.0,20.0,20.0,20.0,15.0,15.0,10.0,5.000000,10.000000,10.000000,10.000000,...,10.0,25.000000,15.000000,20.000000,5.000000,8.000000,8.000000,9.000000,10.000000,9.000000
381.0,20.0,10.0,20.0,35.0,5.0,10.0,6.266667,6.600000,6.666667,6.200000,...,12.0,14.800000,17.133333,9.333333,8.866667,6.800000,7.200000,8.733333,7.000000,7.866667
382.0,25.0,25.0,25.0,10.0,10.0,5.0,6.066667,6.800000,7.000000,5.333333,...,12.0,14.800000,17.133333,9.333333,8.866667,6.800000,7.200000,8.733333,7.000000,7.866667
383.0,25.0,20.0,10.0,20.0,15.0,10.0,6.400000,7.533333,6.733333,6.466667,...,12.0,14.800000,17.133333,9.333333,8.866667,6.800000,7.200000,8.733333,7.000000,7.866667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547.0,25.0,20.0,20.0,20.0,0.0,15.0,7.000000,7.111111,7.888889,7.000000,...,8.0,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889
548.0,40.0,10.0,20.0,10.0,0.0,20.0,6.888889,6.333333,6.666667,6.111111,...,8.0,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889
549.0,20.0,20.0,20.0,20.0,0.0,20.0,7.000000,7.333333,7.222222,6.444444,...,8.0,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889
550.0,30.0,3.0,30.0,30.0,3.0,4.0,5.888889,7.222222,7.333333,6.111111,...,8.0,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889
552.0,70.0,0.0,15.0,15.0,0.0,0.0,7.666667,7.222222,7.000000,6.888889,...,8.0,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889

## 전처리한 데이터 프레임 만들기

In [23]:
result = iid_tmp.copy()

In [24]:
result[result_cols] = pid_tmp[result_cols]

In [25]:
result

,id,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
iid,,,,,,,,,,,,,,,,,,,,,
379,1.0,406.200000,15.0,0.0,0.066667,6.0,9.0,8.0,6.0,9.0,...,15.0,15.0,20.0,6.333333,6.933333,7.666667,6.600000,7.533333,6.533333,6.333333
380,2.0,405.000000,15.0,0.0,0.000000,4.0,7.0,9.0,9.0,9.0,...,15.0,15.0,10.0,5.000000,10.000000,10.000000,10.000000,10.000000,10.000000,7.000000
381,3.0,406.200000,15.0,0.0,0.133333,7.0,7.0,9.0,10.0,8.0,...,35.0,5.0,10.0,6.266667,6.600000,6.666667,6.200000,6.800000,5.933333,5.633333
382,4.0,406.200000,15.0,0.0,0.133333,7.0,7.0,7.0,7.0,10.0,...,10.0,10.0,5.0,6.066667,6.800000,7.000000,5.333333,6.800000,5.600000,5.866667
383,5.0,406.200000,15.0,0.0,0.266667,7.0,9.0,6.0,7.0,6.0,...,20.0,15.0,10.0,6.400000,7.533333,6.733333,6.466667,6.533333,5.666667,6.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,17.0,517.666667,21.0,1.0,0.222222,7.0,9.0,8.0,8.0,8.0,...,20.0,0.0,15.0,7.000000,7.111111,7.888889,7.000000,7.111111,6.111111,6.444444
548,18.0,517.666667,21.0,1.0,0.222222,10.0,10.0,10.0,10.0,10.0,...,10.0,0.0,20.0,6.888889,6.333333,6.666667,6.111111,6.666667,5.111111,6.222222
549,19.0,517.666667,21.0,1.0,0.222222,7.0,10.0,9.0,8.0,9.0,...,20.0,0.0,20.0,7.000000,7.333333,7.222222,6.444444,6.555556,5.888889,5.888889
550,20.0,517.666667,21.0,1.0,0.333333,7.0,7.0,7.0,7.0,7.0,...,30.0,3.0,4.0,5.888889,7.222222,7.333333,6.111111,6.888889,5.222222,5.666667
552,22.0,517.666667,21.0,1.0,0.222222,8.0,7.0,7.0,6.0,7.0,...,15.0,0.0,0.0,7.666667,7.222222,7.000000,6.888889,6.777778,6.111111,6.666667

In [26]:
result
result.iloc[-1]

id             22.000000
pid           517.666667
wave           21.000000
gender          1.000000
match           0.222222
                 ...
tmp2_intel      7.000000
tmp2_fun        6.888889
tmp2_amb        6.777778
tmp2_shar       6.111111
tmp2_like       6.666667
Name: 552, Length: 65, dtype: float64

In [27]:
real_cols = 'gender	match	attr3_1	sinc3_1	intel3_1	fun3_1	amb3_1	tmp_att	tmp_sin	tmp_int	tmp_fun	tmp_amb tmp_sha'.split()
real_cols += ['tmp2_attr', 'tmp2_sinc', 'tmp2_intel', 'tmp2_fun', 'tmp2_amb', 'tmp2_shar', 'tmp2_like']
real_cols  += 'condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1'.split(', ')
result = result[real_cols] 
result

,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,tmp_int,...,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1
iid,,,,,,,,,,,,,,,,,,,,,
379,0.0,0.066667,6.0,9.0,8.0,6.0,9.0,15.0,15.0,20.0,...,12.0,14.800000,17.133333,9.333333,8.866667,6.800000,7.200000,8.733333,7.000000,7.866667
380,0.0,0.000000,4.0,7.0,9.0,9.0,9.0,20.0,20.0,20.0,...,10.0,25.000000,15.000000,20.000000,5.000000,8.000000,8.000000,9.000000,10.000000,9.000000
381,0.0,0.133333,7.0,7.0,9.0,10.0,8.0,20.0,10.0,20.0,...,12.0,14.800000,17.133333,9.333333,8.866667,6.800000,7.200000,8.733333,7.000000,7.866667
382,0.0,0.133333,7.0,7.0,7.0,7.0,10.0,25.0,25.0,25.0,...,12.0,14.800000,17.133333,9.333333,8.866667,6.800000,7.200000,8.733333,7.000000,7.866667
383,0.0,0.266667,7.0,9.0,6.0,7.0,6.0,25.0,20.0,10.0,...,12.0,14.800000,17.133333,9.333333,8.866667,6.800000,7.200000,8.733333,7.000000,7.866667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,1.0,0.222222,7.0,9.0,8.0,8.0,8.0,25.0,20.0,20.0,...,8.0,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889
548,1.0,0.222222,10.0,10.0,10.0,10.0,10.0,40.0,10.0,20.0,...,8.0,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889
549,1.0,0.222222,7.0,10.0,9.0,8.0,9.0,20.0,20.0,20.0,...,8.0,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889
550,1.0,0.333333,7.0,7.0,7.0,7.0,7.0,30.0,3.0,30.0,...,8.0,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889
552,1.0,0.222222,8.0,7.0,7.0,6.0,7.0,70.0,0.0,15.0,...,8.0,10.555556,20.000000,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889

In [28]:
result.to_csv('../data/group3_4_fin.csv')