In [28]:
import pandas as pd

g1 = pd.read_csv('../data/group1_4.csv')

In [29]:
g1.drop(['Unnamed: 0'], axis=1, inplace=True)

In [30]:
# 성별 분류 확인
g1.gender.value_counts()

0    484
1    484
Name: gender, dtype: int64

In [31]:
g1.gender == 0

0       True
1       True
2       True
3       True
4       True
       ...
963    False
964    False
965    False
966    False
967    False
Name: gender, Length: 968, dtype: bool

In [32]:
# iid 와 pid 관계 확인
g1[g1.pid == 22]

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,group
314,11.0,50,22.0,2,1,0,8.0,9.0,10.0,9.0,...,5.0,5.0,10.0,10.0,7.0,8.0,8.0,8.0,8.0,1
360,16.0,55,22.0,2,1,0,6.0,10.0,9.0,10.0,...,20.0,10.0,20.0,10.0,7.0,8.0,8.0,8.0,8.0,1

In [33]:
g1[g1.iid == 22]

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,group
106,2.0,22,50.0,2,0,0,7.0,8.0,8.0,7.0,...,10.0,10.0,10.0,10.0,7.0,8.0,8.0,8.0,8.0,1
107,2.0,22,55.0,2,0,0,7.0,8.0,8.0,7.0,...,10.0,10.0,10.0,10.0,7.0,8.0,8.0,8.0,8.0,1

In [34]:
# iid의 유니크한 값 확인
len(g1.iid.unique())

152

In [35]:
# pid의 유니크한 값 확인
len(g1.pid.unique())

152

In [36]:
# 누락된 평가 확인
omission_list = list(set(g1.pid.unique()) - set(g1.iid.unique()))
omission_list

[]

In [37]:
# 누락된 평가를 가지고 있는 row의 인덱스 확인
df_omission_list = []
for omission in omission_list:
    df_omission_list.append(g1[g1.pid == omission].index)  

df_omission_list

[]

In [38]:
len(df_omission_list)

0

In [39]:
# 누락된 평가를 가지고 있는 row 제거

for i in range(len(df_omission_list)):
    g1.drop(df_omission_list[i], axis=0, inplace=True)

In [40]:
g1

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,group
0,1.0,1,13.0,1,0,1,6.0,8.0,8.0,8.0,...,15.00,20.00,5.00,5.00,7.0,8.0,8.0,8.0,8.0,1
1,2.0,2,11.0,1,0,0,7.0,5.0,8.0,10.0,...,10.00,25.00,0.00,0.00,7.0,8.0,8.0,8.0,8.0,1
2,2.0,2,12.0,1,0,0,7.0,5.0,8.0,10.0,...,10.00,25.00,0.00,0.00,7.0,8.0,8.0,8.0,8.0,1
3,2.0,2,14.0,1,0,1,7.0,5.0,8.0,10.0,...,10.00,25.00,0.00,0.00,7.0,8.0,8.0,8.0,8.0,1
4,2.0,2,16.0,1,0,0,7.0,5.0,8.0,10.0,...,10.00,25.00,0.00,0.00,7.0,8.0,8.0,8.0,8.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963,16.0,173,149.0,7,1,1,7.0,9.0,9.0,9.0,...,18.75,20.83,16.67,10.42,7.0,8.0,8.0,8.0,8.0,1
964,16.0,173,150.0,7,1,0,7.0,9.0,9.0,9.0,...,18.75,20.83,16.67,10.42,7.0,8.0,8.0,8.0,8.0,1
965,16.0,173,151.0,7,1,1,7.0,9.0,9.0,9.0,...,18.75,20.83,16.67,10.42,7.0,8.0,8.0,8.0,8.0,1
966,16.0,173,154.0,7,1,1,7.0,9.0,9.0,9.0,...,18.75,20.83,16.67,10.42,7.0,8.0,8.0,8.0,8.0,1
967,16.0,173,155.0,7,1,0,7.0,9.0,9.0,9.0,...,18.75,20.83,16.67,10.42,7.0,8.0,8.0,8.0,8.0,1

In [41]:
g1[g1.pid == 347]

Empty DataFrame
Columns: [id, iid, pid, wave, gender, match, attr3_1, sinc3_1, intel3_1, fun3_1, amb3_1, pf_o_att, pf_o_sin, pf_o_int, pf_o_fun, pf_o_amb, pf_o_sha, attr, sinc, intel, fun, amb, shar, like, condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1, group]
Index: []

[0 rows x 53 columns]

In [42]:
g1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 968 entries, 0 to 967
Data columns (total 53 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        968 non-null    float64
 1   iid       968 non-null    int64
 2   pid       968 non-null    float64
 3   wave      968 non-null    int64
 4   gender    968 non-null    int64
 5   match     968 non-null    int64
 6   attr3_1   968 non-null    float64
 7   sinc3_1   968 non-null    float64
 8   intel3_1  968 non-null    float64
 9   fun3_1    968 non-null    float64
 10  amb3_1    968 non-null    float64
 11  pf_o_att  968 non-null    float64
 12  pf_o_sin  968 non-null    float64
 13  pf_o_int  968 non-null    float64
 14  pf_o_fun  968 non-null    float64
 15  pf_o_amb  968 non-null    float64
 16  pf_o_sha  968 non-null    float64
 17  attr      968 non-null    float64
 18  sinc      968 non-null    float64
 19  intel     968 non-null    float64
 20  fun       968 non-null    float64
 21  amb       968 non-null    float64
 22  shar      968 non-null    float64
 23  like      968 non-null    float64
 24  condtn    968 non-null    int64
 25  round     968 non-null    int64
 26  int_corr  968 non-null    float64
 27  age_o     968 non-null    float64
 28  age       968 non-null    float64
 29  attr1_1   968 non-null    float64
 30  sinc1_1   968 non-null    float64
 31  intel1_1  968 non-null    float64
 32  fun1_1    968 non-null    float64
 33  amb1_1    968 non-null    float64
 34  shar1_1   968 non-null    float64
 35  attr4_1   968 non-null    float64
 36  sinc4_1   968 non-null    float64
 37  intel4_1  968 non-null    float64
 38  fun4_1    968 non-null    float64
 39  amb4_1    968 non-null    float64
 40  shar4_1   968 non-null    float64
 41  attr2_1   968 non-null    float64
 42  sinc2_1   968 non-null    float64
 43  intel2_1  968 non-null    float64
 44  fun2_1    968 non-null    float64
 45  amb2_1    968 non-null    float64
 46  shar2_1   968 non-null    float64
 47  attr5_1   968 non-null    float64
 48  sinc5_1   968 non-null    float64
 49  intel5_1  968 non-null    float64
 50  fun5_1    968 non-null    float64
 51  amb5_1    968 non-null    float64
 52  group     968 non-null    int64
dtypes: float64(46), int64(7)
memory usage: 400.9 KB

In [43]:
# iid 기준으로 그룹한 것을 iid_tmp에 저장
iid_tmp = g1.groupby('iid').mean()
iid_tmp

,id,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,group
iid,,,,,,,,,,,,,,,,,,,,,
1,1.0,13.000,1.0,0.0,1.00,6.0,8.0,8.0,8.0,7.0,...,15.00,20.00,5.00,5.00,7.0,8.0,8.0,8.0,8.0,1.0
2,2.0,15.875,1.0,0.0,0.25,7.0,5.0,8.0,10.0,3.0,...,10.00,25.00,0.00,0.00,7.0,8.0,8.0,8.0,8.0,1.0
3,3.0,15.875,1.0,0.0,0.00,8.0,9.0,9.0,8.0,8.0,...,20.00,30.00,0.00,0.00,7.0,8.0,8.0,8.0,8.0,1.0
4,4.0,15.875,1.0,0.0,0.25,7.0,8.0,7.0,9.0,8.0,...,15.00,30.00,5.00,10.00,7.0,8.0,8.0,8.0,8.0,1.0
5,5.0,15.875,1.0,0.0,0.25,6.0,3.0,10.0,6.0,8.0,...,10.00,20.00,5.00,5.00,7.0,8.0,8.0,8.0,8.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,12.0,147.900,7.0,1.0,0.20,7.0,9.0,8.0,7.0,7.0,...,17.78,17.78,15.56,13.33,7.0,8.0,8.0,8.0,8.0,1.0
170,13.0,151.400,7.0,1.0,0.00,7.0,8.0,9.0,6.0,8.0,...,15.56,17.78,20.00,13.33,7.0,8.0,8.0,8.0,8.0,1.0
171,14.0,147.900,7.0,1.0,0.30,10.0,10.0,10.0,10.0,10.0,...,19.57,19.57,19.57,10.87,7.0,8.0,8.0,8.0,8.0,1.0
172,15.0,147.900,7.0,1.0,0.30,5.0,6.0,8.0,9.0,9.0,...,19.57,17.39,17.39,10.87,7.0,8.0,8.0,8.0,8.0,1.0
173,16.0,147.900,7.0,1.0,0.40,7.0,9.0,9.0,9.0,9.0,...,18.75,20.83,16.67,10.42,7.0,8.0,8.0,8.0,8.0,1.0

In [44]:
# iid 기준 그룹화 df에서 결과를 보고 필요한 칼럼들 추출
# ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']
iid_result_cols = ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']

In [45]:
# pid(상대방의 아이디)를 기준으로 그룹화
pid_tmp = g1.groupby('pid').mean()
pid_tmp

,id,iid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,group
pid,,,,,,,,,,,,,,,,,,,,,
1.0,3.000,13.000,1.0,1.0,1.00,4.00,7.000,8.000,8.000,3.00,...,16.000,18.000,16.000,14.000,7.0,8.0,8.0,8.0,8.0,1.0
2.0,5.875,15.875,1.0,1.0,0.25,7.75,7.625,8.875,8.125,7.75,...,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0,1.0
3.0,5.875,15.875,1.0,1.0,0.00,7.75,7.625,8.875,8.125,7.75,...,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0,1.0
4.0,5.875,15.875,1.0,1.0,0.25,7.75,7.625,8.875,8.125,7.75,...,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0,1.0
5.0,5.875,15.875,1.0,1.0,0.25,7.75,7.625,8.875,8.125,7.75,...,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169.0,6.900,147.900,7.0,0.0,0.20,7.50,8.600,8.800,8.000,8.00,...,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0,1.0
170.0,10.400,151.400,7.0,0.0,0.00,7.40,8.000,8.600,8.000,7.60,...,13.792,20.824,11.758,14.322,7.0,8.0,8.0,8.0,8.0,1.0
171.0,6.900,147.900,7.0,0.0,0.30,7.50,8.600,8.800,8.000,8.00,...,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0,1.0
172.0,6.900,147.900,7.0,0.0,0.30,7.50,8.600,8.800,8.000,8.00,...,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0,1.0
173.0,6.900,147.900,7.0,0.0,0.40,7.50,8.600,8.800,8.000,8.00,...,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0,1.0

In [46]:
# pid 기준 그룹화 df에서 결과에 필요한 칼럼들
pid_result_cols = 'pf_o_att	pf_o_sin	pf_o_int	pf_o_fun	pf_o_amb	pf_o_sha'.split('\t')
pid_result_cols += 'attr	sinc	intel	fun	amb	shar	like'.split()
pid_result_cols  += 'condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1'.split(', ')
pid_tmp = pid_tmp[pid_result_cols]

In [47]:
pid_tmp

,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,pf_o_sha,attr,sinc,intel,fun,...,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1
pid,,,,,,,,,,,,,,,,,,,,,
1.0,15.00,20.00,20.00,15.00,15.00,15.00,10.000,10.000,10.000,10.000,...,16.000,16.000,18.000,16.000,14.000,7.0,8.0,8.0,8.0,8.0
2.0,45.00,5.00,25.00,20.00,0.00,5.00,7.125,6.375,7.375,6.875,...,11.875,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0
3.0,35.00,10.00,35.00,10.00,10.00,0.00,6.125,6.375,6.875,5.750,...,11.875,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0
4.0,20.00,20.00,20.00,20.00,10.00,10.00,6.500,6.625,7.250,7.125,...,11.875,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0
5.0,20.00,5.00,25.00,25.00,10.00,15.00,4.750,7.250,7.125,6.875,...,11.875,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169.0,17.78,20.00,17.78,15.56,15.56,13.33,8.300,8.200,8.500,8.000,...,14.049,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0
170.0,16.28,20.93,18.60,18.60,13.95,11.63,3.800,6.400,7.400,4.600,...,15.322,13.792,20.824,11.758,14.322,7.0,8.0,8.0,8.0,8.0
171.0,19.57,10.87,19.57,19.57,19.57,10.87,6.300,8.100,8.200,6.200,...,14.049,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0
172.0,17.78,17.78,22.22,20.00,15.56,6.67,7.200,8.000,8.100,7.200,...,14.049,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0
173.0,18.37,18.37,20.41,20.41,16.33,6.12,6.400,7.400,8.400,7.900,...,14.049,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0

In [48]:
# pid 칼럼 명 변경
result_cols = ['tmp_att', 'tmp_sin', 'tmp_int', 'tmp_fun', 'tmp_amb', 'tmp_sha', 
               'tmp2_attr', 'tmp2_sinc', 'tmp2_intel', 'tmp2_fun', 'tmp2_amb', 'tmp2_shar', 'tmp2_like']
result_cols += 'condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1'.split(', ')
pid_tmp.columns = result_cols 
pid_tmp

,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,...,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1
pid,,,,,,,,,,,,,,,,,,,,,
1.0,15.00,20.00,20.00,15.00,15.00,15.00,10.000,10.000,10.000,10.000,...,16.000,16.000,18.000,16.000,14.000,7.0,8.0,8.0,8.0,8.0
2.0,45.00,5.00,25.00,20.00,0.00,5.00,7.125,6.375,7.375,6.875,...,11.875,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0
3.0,35.00,10.00,35.00,10.00,10.00,0.00,6.125,6.375,6.875,5.750,...,11.875,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0
4.0,20.00,20.00,20.00,20.00,10.00,10.00,6.500,6.625,7.250,7.125,...,11.875,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0
5.0,20.00,5.00,25.00,25.00,10.00,15.00,4.750,7.250,7.125,6.875,...,11.875,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169.0,17.78,20.00,17.78,15.56,15.56,13.33,8.300,8.200,8.500,8.000,...,14.049,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0
170.0,16.28,20.93,18.60,18.60,13.95,11.63,3.800,6.400,7.400,4.600,...,15.322,13.792,20.824,11.758,14.322,7.0,8.0,8.0,8.0,8.0
171.0,19.57,10.87,19.57,19.57,19.57,10.87,6.300,8.100,8.200,6.200,...,14.049,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0
172.0,17.78,17.78,22.22,20.00,15.56,6.67,7.200,8.000,8.100,7.200,...,14.049,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0
173.0,18.37,18.37,20.41,20.41,16.33,6.12,6.400,7.400,8.400,7.900,...,14.049,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0

## 전처리한 데이터 프레임 만들기

In [49]:
result = iid_tmp.copy()

In [50]:
result[result_cols] = pid_tmp[result_cols]

In [51]:
result

,id,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,...,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
iid,,,,,,,,,,,,,,,,,,,,,
1,1.0,13.000,1.0,0.0,1.00,6.0,8.0,8.0,8.0,7.0,...,15.00,15.00,15.00,10.000,10.000,10.000,10.000,10.000,10.000,10.00
2,2.0,15.875,1.0,0.0,0.25,7.0,5.0,8.0,10.0,3.0,...,20.00,0.00,5.00,7.125,6.375,7.375,6.875,7.250,5.875,7.00
3,3.0,15.875,1.0,0.0,0.00,8.0,9.0,9.0,8.0,8.0,...,10.00,10.00,0.00,6.125,6.375,6.875,5.750,6.750,5.500,5.50
4,4.0,15.875,1.0,0.0,0.25,7.0,8.0,7.0,9.0,8.0,...,20.00,10.00,10.00,6.500,6.625,7.250,7.125,7.375,6.625,6.75
5,5.0,15.875,1.0,0.0,0.25,6.0,3.0,10.0,6.0,8.0,...,25.00,10.00,15.00,4.750,7.250,7.125,6.875,7.375,5.875,5.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,12.0,147.900,7.0,1.0,0.20,7.0,9.0,8.0,7.0,7.0,...,15.56,15.56,13.33,8.300,8.200,8.500,8.000,7.700,7.200,7.80
170,13.0,151.400,7.0,1.0,0.00,7.0,8.0,9.0,6.0,8.0,...,18.60,13.95,11.63,3.800,6.400,7.400,4.600,6.800,3.600,4.40
171,14.0,147.900,7.0,1.0,0.30,10.0,10.0,10.0,10.0,10.0,...,19.57,19.57,10.87,6.300,8.100,8.200,6.200,7.500,5.800,6.90
172,15.0,147.900,7.0,1.0,0.30,5.0,6.0,8.0,9.0,9.0,...,20.00,15.56,6.67,7.200,8.000,8.100,7.200,7.700,6.900,7.40
173,16.0,147.900,7.0,1.0,0.40,7.0,9.0,9.0,9.0,9.0,...,20.41,16.33,6.12,6.400,7.400,8.400,7.900,7.600,7.200,7.20

In [52]:
result
result.iloc[-1]

id             16.0
pid           147.9
wave            7.0
gender          1.0
match           0.4
              ...
tmp2_intel      8.4
tmp2_fun        7.9
tmp2_amb        7.6
tmp2_shar       7.2
tmp2_like       7.2
Name: 173, Length: 65, dtype: float64

In [53]:
real_cols = 'gender	match	attr3_1	sinc3_1	intel3_1	fun3_1	amb3_1	tmp_att	tmp_sin	tmp_int	tmp_fun	tmp_amb tmp_sha'.split()
real_cols += ['tmp2_attr', 'tmp2_sinc', 'tmp2_intel', 'tmp2_fun', 'tmp2_amb', 'tmp2_shar', 'tmp2_like']
real_cols  += 'condtn, round, int_corr, age_o, age, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1'.split(', ')
result = result[real_cols] 
result

,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,tmp_int,...,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1
iid,,,,,,,,,,,,,,,,,,,,,
1,0.0,1.00,6.0,8.0,8.0,8.0,7.0,15.00,20.00,20.00,...,16.000,16.000,18.000,16.000,14.000,7.0,8.0,8.0,8.0,8.0
2,0.0,0.25,7.0,5.0,8.0,10.0,3.0,45.00,5.00,25.00,...,11.875,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0
3,0.0,0.00,8.0,9.0,9.0,8.0,8.0,35.00,10.00,35.00,...,11.875,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0
4,0.0,0.25,7.0,8.0,7.0,9.0,8.0,20.00,20.00,20.00,...,11.875,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0
5,0.0,0.25,6.0,3.0,10.0,6.0,8.0,20.00,5.00,25.00,...,11.875,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,1.0,0.20,7.0,9.0,8.0,7.0,7.0,17.78,20.00,17.78,...,14.049,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0
170,1.0,0.00,7.0,8.0,9.0,6.0,8.0,16.28,20.93,18.60,...,15.322,13.792,20.824,11.758,14.322,7.0,8.0,8.0,8.0,8.0
171,1.0,0.30,10.0,10.0,10.0,10.0,10.0,19.57,10.87,19.57,...,14.049,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0
172,1.0,0.30,5.0,6.0,8.0,9.0,9.0,17.78,17.78,22.22,...,14.049,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0
173,1.0,0.40,7.0,9.0,9.0,9.0,9.0,18.37,18.37,20.41,...,14.049,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0

In [54]:
result.to_csv('../data/group1_4_fin.csv')