In [11]:
import pandas as pd
g1 = pd.read_csv('../data/group1_4_fin.csv')
g2 = pd.read_csv('../data/group2_4_fin.csv')
g3 = pd.read_csv('../data/group3_4_fin.csv')

In [12]:
g1

,iid,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,...,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1
0,1,0.0,1.00,6.0,8.0,8.0,8.0,7.0,15.00,20.00,...,16.000,16.000,18.000,16.000,14.000,7.0,8.0,8.0,8.0,8.0
1,2,0.0,0.25,7.0,5.0,8.0,10.0,3.0,45.00,5.00,...,11.875,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0
2,3,0.0,0.00,8.0,9.0,9.0,8.0,8.0,35.00,10.00,...,11.875,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0
3,4,0.0,0.25,7.0,8.0,7.0,9.0,8.0,20.00,20.00,...,11.875,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0
4,5,0.0,0.25,6.0,3.0,10.0,6.0,8.0,20.00,5.00,...,11.875,20.625,16.250,13.125,7.500,7.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,169,1.0,0.20,7.0,9.0,8.0,7.0,7.0,17.78,20.00,...,14.049,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0
148,170,1.0,0.00,7.0,8.0,9.0,6.0,8.0,16.28,20.93,...,15.322,13.792,20.824,11.758,14.322,7.0,8.0,8.0,8.0,8.0
149,171,1.0,0.30,10.0,10.0,10.0,10.0,10.0,19.57,10.87,...,14.049,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0
150,172,1.0,0.30,5.0,6.0,8.0,9.0,9.0,17.78,17.78,...,14.049,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0
151,173,1.0,0.40,7.0,9.0,9.0,9.0,9.0,18.37,18.37,...,14.049,16.469,18.609,13.730,15.585,7.0,8.0,8.0,8.0,8.0

In [13]:
print(len(g1))
print(len(g2))
print(len(g3))

152
190
162

In [14]:
real_result = pd.concat([g1, g2, g3])

In [15]:
real_result.match *= 100

In [16]:
real_result

,iid,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,...,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1
0,1,0.0,100.000000,6.0,8.0,8.0,8.0,7.0,15.0,20.0,...,16.000,16.000000,18.00,16.000000,14.000000,7.000000,8.000000,8.000000,8.000000,8.000000
1,2,0.0,25.000000,7.0,5.0,8.0,10.0,3.0,45.0,5.0,...,11.875,20.625000,16.25,13.125000,7.500000,7.000000,8.000000,8.000000,8.000000,8.000000
2,3,0.0,0.000000,8.0,9.0,9.0,8.0,8.0,35.0,10.0,...,11.875,20.625000,16.25,13.125000,7.500000,7.000000,8.000000,8.000000,8.000000,8.000000
3,4,0.0,25.000000,7.0,8.0,7.0,9.0,8.0,20.0,20.0,...,11.875,20.625000,16.25,13.125000,7.500000,7.000000,8.000000,8.000000,8.000000,8.000000
4,5,0.0,25.000000,6.0,3.0,10.0,6.0,8.0,20.0,5.0,...,11.875,20.625000,16.25,13.125000,7.500000,7.000000,8.000000,8.000000,8.000000,8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,547,1.0,22.222222,7.0,9.0,8.0,8.0,8.0,25.0,20.0,...,8.000,10.555556,20.00,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889
158,548,1.0,22.222222,10.0,10.0,10.0,10.0,10.0,40.0,10.0,...,8.000,10.555556,20.00,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889
159,549,1.0,22.222222,7.0,10.0,9.0,8.0,9.0,20.0,20.0,...,8.000,10.555556,20.00,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889
160,550,1.0,33.333333,7.0,7.0,7.0,7.0,7.0,30.0,3.0,...,8.000,10.555556,20.00,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889
161,552,1.0,22.222222,8.0,7.0,7.0,6.0,7.0,70.0,0.0,...,8.000,10.555556,20.00,5.666667,10.777778,7.222222,8.666667,8.222222,7.777778,7.888889

In [17]:
real_result.match.value_counts()

0.000000      222
25.000000      29
50.000000      27
20.000000      22
16.666667      22
33.333333      19
10.000000      15
100.000000     14
14.285714      11
9.090909       10
6.666667       10
40.000000       9
30.000000       8
8.333333        6
22.222222       6
11.111111       6
18.181818       6
66.666667       6
13.333333       5
28.571429       5
42.857143       4
26.666667       4
15.384615       4
12.500000       4
54.545455       4
60.000000       4
7.692308        3
46.666667       3
23.076923       3
38.461538       2
27.272727       2
75.000000       2
37.500000       1
80.000000       1
53.333333       1
83.333333       1
46.153846       1
30.769231       1
44.444444       1
Name: match, dtype: int64

In [18]:
real_result.match.nunique()

39

In [9]:
# real_result = real_result.dropna()

In [19]:
real_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 504 entries, 0 to 161
Data columns (total 49 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   iid         504 non-null    int64
 1   gender      504 non-null    float64
 2   match       504 non-null    float64
 3   attr3_1     504 non-null    float64
 4   sinc3_1     504 non-null    float64
 5   intel3_1    504 non-null    float64
 6   fun3_1      504 non-null    float64
 7   amb3_1      504 non-null    float64
 8   tmp_att     504 non-null    float64
 9   tmp_sin     504 non-null    float64
 10  tmp_int     504 non-null    float64
 11  tmp_fun     504 non-null    float64
 12  tmp_amb     504 non-null    float64
 13  tmp_sha     504 non-null    float64
 14  tmp2_attr   504 non-null    float64
 15  tmp2_sinc   504 non-null    float64
 16  tmp2_intel  504 non-null    float64
 17  tmp2_fun    504 non-null    float64
 18  tmp2_amb    504 non-null    float64
 19  tmp2_shar   504 non-null    float64
 20  tmp2_like   504 non-null    float64
 21  condtn      504 non-null    float64
 22  round       504 non-null    float64
 23  int_corr    504 non-null    float64
 24  age_o       504 non-null    float64
 25  age         504 non-null    float64
 26  attr1_1     504 non-null    float64
 27  sinc1_1     504 non-null    float64
 28  intel1_1    504 non-null    float64
 29  fun1_1      504 non-null    float64
 30  amb1_1      504 non-null    float64
 31  shar1_1     504 non-null    float64
 32  attr4_1     504 non-null    float64
 33  sinc4_1     504 non-null    float64
 34  intel4_1    504 non-null    float64
 35  fun4_1      504 non-null    float64
 36  amb4_1      504 non-null    float64
 37  shar4_1     504 non-null    float64
 38  attr2_1     504 non-null    float64
 39  sinc2_1     504 non-null    float64
 40  intel2_1    504 non-null    float64
 41  fun2_1      504 non-null    float64
 42  amb2_1      504 non-null    float64
 43  shar2_1     504 non-null    float64
 44  attr5_1     504 non-null    float64
 45  sinc5_1     504 non-null    float64
 46  intel5_1    504 non-null    float64
 47  fun5_1      504 non-null    float64
 48  amb5_1      504 non-null    float64
dtypes: float64(48), int64(1)
memory usage: 196.9 KB

In [20]:
real_result.to_csv('../data/train4.csv')