In [1]:
import pandas as pd
import numpy as np

In [2]:
# 데이터 csv 불러오기
train = pd.read_csv('../data/train3.csv')

In [3]:
# Unnamed: 0 column제거
train = train.iloc[:,1:]
# 소수점 2자리까지
train.match = round(train.match, 2)

In [4]:
train.set_index('iid', inplace=True)

In [5]:
train

,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
iid,,,,,,,,,,,,,,,,,,,,
1,0.0,100.00,6.0,8.0,8.0,8.0,7.0,15.0,20.0,20.0,15.0,15.0,15.0,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
2,0.0,25.00,7.0,5.0,8.0,10.0,3.0,45.0,5.0,25.0,20.0,0.0,5.0,7.125000,6.375000,7.375000,6.875000,7.250000,5.875000,7.000000
3,0.0,0.00,8.0,9.0,9.0,8.0,8.0,35.0,10.0,35.0,10.0,10.0,0.0,6.125000,6.375000,6.875000,5.750000,6.750000,5.500000,5.500000
4,0.0,25.00,7.0,8.0,7.0,9.0,8.0,20.0,20.0,20.0,20.0,10.0,10.0,6.500000,6.625000,7.250000,7.125000,7.375000,6.625000,6.750000
5,0.0,25.00,6.0,3.0,10.0,6.0,8.0,20.0,5.0,25.0,25.0,10.0,15.0,4.750000,7.250000,7.125000,6.875000,7.375000,5.875000,5.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,1.0,22.22,7.0,9.0,8.0,8.0,8.0,25.0,20.0,20.0,20.0,0.0,15.0,7.142857,6.857143,7.714286,6.714286,7.285714,6.142857,6.428571
548,1.0,25.00,10.0,10.0,10.0,10.0,10.0,40.0,10.0,20.0,10.0,0.0,20.0,7.000000,6.166667,6.666667,6.333333,6.500000,5.333333,6.833333
549,1.0,22.22,7.0,10.0,9.0,8.0,9.0,20.0,20.0,20.0,20.0,0.0,20.0,7.333333,7.333333,7.000000,6.166667,6.500000,5.666667,5.666667
550,1.0,33.33,7.0,7.0,7.0,7.0,7.0,30.0,3.0,30.0,30.0,3.0,4.0,6.375000,7.750000,7.875000,6.250000,7.125000,5.125000,5.625000
552,1.0,20.00,8.0,7.0,7.0,6.0,7.0,70.0,0.0,15.0,15.0,0.0,0.0,8.142857,7.285714,7.000000,6.857143,6.714286,6.142857,6.857143

In [6]:
train.drop(['tmp_att', 'tmp_sin', 'tmp_int', 'tmp_fun', 'tmp_amb', 'tmp_sha'], axis=1, inplace=True)

In [7]:
train.rename(columns={'gender': 'gender', 
                      'match': 'match', 
                      'attr3_1': 'attr_s', 
                      'sinc3_1': 'sinc_s', 
                      'intel3_1': 'intel_s', 
                      'fun3_1': 'fun_s', 
                      'amb3_1': 'amb_s', 
                      'tmp2_attr': 'attr_eval', 
                      'tmp2_sinc': 'sinc_eval', 
                      'tmp2_intel': 'intel_eval', 
                      'tmp2_fun': 'fun_eval', 
                      'tmp2_amb': 'amb_eval',
                      'tmp2_shar': 'shar_eval', 
                      'tmp2_like': 'like_eval'}, inplace=True)

In [8]:
train.to_csv("train5.csv", index=False)

In [9]:
train = pd.read_csv('./train5.csv')

In [10]:
train

,gender,match,attr_s,sinc_s,intel_s,fun_s,amb_s,attr_eval,sinc_eval,intel_eval,fun_eval,amb_eval,shar_eval,like_eval
0,0.0,100.00,6.0,8.0,8.0,8.0,7.0,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
1,0.0,25.00,7.0,5.0,8.0,10.0,3.0,7.125000,6.375000,7.375000,6.875000,7.250000,5.875000,7.000000
2,0.0,0.00,8.0,9.0,9.0,8.0,8.0,6.125000,6.375000,6.875000,5.750000,6.750000,5.500000,5.500000
3,0.0,25.00,7.0,8.0,7.0,9.0,8.0,6.500000,6.625000,7.250000,7.125000,7.375000,6.625000,6.750000
4,0.0,25.00,6.0,3.0,10.0,6.0,8.0,4.750000,7.250000,7.125000,6.875000,7.375000,5.875000,5.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,1.0,22.22,7.0,9.0,8.0,8.0,8.0,7.142857,6.857143,7.714286,6.714286,7.285714,6.142857,6.428571
470,1.0,25.00,10.0,10.0,10.0,10.0,10.0,7.000000,6.166667,6.666667,6.333333,6.500000,5.333333,6.833333
471,1.0,22.22,7.0,10.0,9.0,8.0,9.0,7.333333,7.333333,7.000000,6.166667,6.500000,5.666667,5.666667
472,1.0,33.33,7.0,7.0,7.0,7.0,7.0,6.375000,7.750000,7.875000,6.250000,7.125000,5.125000,5.625000
473,1.0,20.00,8.0,7.0,7.0,6.0,7.0,8.142857,7.285714,7.000000,6.857143,6.714286,6.142857,6.857143