In [114]:
import os
os.environ['PATH']

'/Users/kimminsoo/opt/anaconda3/bin:/Users/kimminsoo/opt/anaconda3/condabin:/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/System/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin'

In [115]:
# 라이브러리 임포트
import pandas as pd
import numpy as np

# 1. 회귀: train_df를 이용

# 1) 데이터 준비

### 1-1) 데이터 불러오기

In [116]:
# 데이터 불러오기
tmp = pd.read_csv('../data/SpeedDatingExdata.csv', encoding='cp949')
tmp

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,552,22.0,1,44,2,21,22,14,10.0,5,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8374,552,22.0,1,44,2,21,22,13,10.0,4,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8375,552,22.0,1,44,2,21,22,19,10.0,10,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8376,552,22.0,1,44,2,21,22,3,10.0,16,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8377,552,NaN,1,44,2,21,22,2,10.0,15,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0

### 1-2) samerace = 1인 데이터만 가져오기

In [117]:
# samerace = 1인 데이터만 가져오기
tmp2 =tmp[tmp['samerace'] == 1]
tmp2

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
10,2,2.0,0,3,1,1,10,3,NaN,10,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
11,2,2.0,0,3,1,1,10,3,NaN,9,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
13,2,2.0,0,3,1,1,10,3,NaN,1,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
15,2,2.0,0,3,1,1,10,3,NaN,2,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8365,552,22.0,1,44,2,21,22,6,10.0,19,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8366,552,22.0,1,44,2,21,22,20,10.0,11,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8368,552,22.0,1,44,2,21,22,8,10.0,21,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8369,552,22.0,1,44,2,21,22,4,10.0,17,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8372,552,22.0,1,44,2,21,22,17,10.0,8,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0

### 1-3) column 분류

In [118]:
col = ['id', 'iid', 'pid', 'wave', 'gender', 'match',
        'attr3_1', 'sinc3_1', 'intel3_1', 'fun3_1', 'amb3_1',
          'pf_o_att', 'pf_o_sin', 'pf_o_int', 'pf_o_fun', 'pf_o_amb']

In [119]:
# tmp2에서 사용할 컬럼 추출, mull값 제거
tmp3 = tmp2[col].dropna()
tmp3

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb
2,1.0,1,13.0,1,0,1,6.0,8.0,8.0,8.0,7.0,19.0,18.0,19.0,18.0,14.0
10,2.0,2,11.0,1,0,0,7.0,5.0,8.0,10.0,3.0,35.0,20.0,20.0,20.0,0.0
11,2.0,2,12.0,1,0,0,7.0,5.0,8.0,10.0,3.0,60.0,0.0,0.0,40.0,0.0
13,2.0,2,14.0,1,0,1,7.0,5.0,8.0,10.0,3.0,30.0,5.0,15.0,40.0,5.0
15,2.0,2,16.0,1,0,0,7.0,5.0,8.0,10.0,3.0,50.0,0.0,30.0,10.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8365,22.0,552,518.0,21,1,0,8.0,7.0,7.0,6.0,7.0,20.0,25.0,25.0,30.0,5.0
8366,22.0,552,519.0,21,1,0,8.0,7.0,7.0,6.0,7.0,40.0,5.0,30.0,15.0,5.0
8368,22.0,552,521.0,21,1,0,8.0,7.0,7.0,6.0,7.0,10.0,30.0,20.0,15.0,15.0
8369,22.0,552,522.0,21,1,0,8.0,7.0,7.0,6.0,7.0,10.0,20.0,15.0,20.0,15.0
8372,22.0,552,525.0,21,1,0,8.0,7.0,7.0,6.0,7.0,10.0,15.0,30.0,20.0,15.0

# 2) group3 데이터프레임 전처리

### 2-1) group3 데이터프레임 불러오기

In [120]:
g3 = pd.read_csv('../data/group3.csv')
g3

,Unnamed: 0,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
0,5744,379,397.0,15,0,0,6.0,9.0,8.0,6.0,9.0,20.0,21.0,21.0,22.0,6.0,3
1,5745,379,398.0,15,0,0,6.0,9.0,8.0,6.0,9.0,45.0,10.0,10.0,30.0,0.0,3
2,5746,379,399.0,15,0,0,6.0,9.0,8.0,6.0,9.0,25.0,10.0,20.0,20.0,10.0,3
3,5747,379,400.0,15,0,1,6.0,9.0,8.0,6.0,9.0,70.0,5.0,20.0,3.0,1.0,3
4,5748,379,401.0,15,0,0,6.0,9.0,8.0,6.0,9.0,35.0,0.0,25.0,20.0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1104,8365,552,518.0,21,1,0,8.0,7.0,7.0,6.0,7.0,20.0,25.0,25.0,30.0,5.0,3
1105,8366,552,519.0,21,1,0,8.0,7.0,7.0,6.0,7.0,40.0,5.0,30.0,15.0,5.0,3
1106,8368,552,521.0,21,1,0,8.0,7.0,7.0,6.0,7.0,10.0,30.0,20.0,15.0,15.0,3
1107,8369,552,522.0,21,1,0,8.0,7.0,7.0,6.0,7.0,10.0,20.0,15.0,20.0,15.0,3
1108,8372,552,525.0,21,1,0,8.0,7.0,7.0,6.0,7.0,10.0,15.0,30.0,20.0,15.0,3

In [121]:
# 'id' column 삭제
g3.drop(['Unnamed: 0'], axis=1, inplace=True)

In [122]:
g3

,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
0,379,397.0,15,0,0,6.0,9.0,8.0,6.0,9.0,20.0,21.0,21.0,22.0,6.0,3
1,379,398.0,15,0,0,6.0,9.0,8.0,6.0,9.0,45.0,10.0,10.0,30.0,0.0,3
2,379,399.0,15,0,0,6.0,9.0,8.0,6.0,9.0,25.0,10.0,20.0,20.0,10.0,3
3,379,400.0,15,0,1,6.0,9.0,8.0,6.0,9.0,70.0,5.0,20.0,3.0,1.0,3
4,379,401.0,15,0,0,6.0,9.0,8.0,6.0,9.0,35.0,0.0,25.0,20.0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1104,552,518.0,21,1,0,8.0,7.0,7.0,6.0,7.0,20.0,25.0,25.0,30.0,5.0,3
1105,552,519.0,21,1,0,8.0,7.0,7.0,6.0,7.0,40.0,5.0,30.0,15.0,5.0,3
1106,552,521.0,21,1,0,8.0,7.0,7.0,6.0,7.0,10.0,30.0,20.0,15.0,15.0,3
1107,552,522.0,21,1,0,8.0,7.0,7.0,6.0,7.0,10.0,20.0,15.0,20.0,15.0,3
1108,552,525.0,21,1,0,8.0,7.0,7.0,6.0,7.0,10.0,15.0,30.0,20.0,15.0,3

In [123]:
g3.gender.value_counts()

0    562
1    547
Name: gender, dtype: int64

In [124]:
g3[g3.pid == 450]

,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
503,432,450.0,17,0,1,7.0,8.0,8.0,8.0,8.0,50.0,5.0,5.0,5.0,5.0,3
511,434,450.0,17,0,0,7.0,7.0,6.0,8.0,4.0,50.0,5.0,5.0,5.0,5.0,3
518,436,450.0,17,0,0,9.0,8.0,7.0,10.0,6.0,50.0,5.0,5.0,5.0,5.0,3
525,437,450.0,17,0,0,7.0,9.0,9.0,9.0,8.0,50.0,5.0,5.0,5.0,5.0,3
532,438,450.0,17,0,1,7.0,8.0,7.0,7.0,7.0,50.0,5.0,5.0,5.0,5.0,3
539,439,450.0,17,0,0,8.0,8.0,7.0,7.0,7.0,50.0,5.0,5.0,5.0,5.0,3

In [125]:
g3[g3.iid == 450]

,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
579,450,432.0,17,1,1,9.0,6.0,10.0,7.0,10.0,15.0,30.0,30.0,10.0,10.0,3
580,450,434.0,17,1,0,9.0,6.0,10.0,7.0,10.0,30.0,15.0,15.0,30.0,0.0,3
581,450,436.0,17,1,0,9.0,6.0,10.0,7.0,10.0,28.0,8.0,17.0,22.0,17.0,3
582,450,437.0,17,1,0,9.0,6.0,10.0,7.0,10.0,15.0,15.0,18.0,18.0,14.0,3
583,450,438.0,17,1,1,9.0,6.0,10.0,7.0,10.0,14.0,15.0,16.0,17.0,18.0,3
584,450,439.0,17,1,0,9.0,6.0,10.0,7.0,10.0,20.0,10.0,50.0,5.0,10.0,3

# 3) group1, group2, group3 데이터프레임 합치기

In [126]:
g1 = pd.read_csv('../data/group1_fin.csv')
g2 = pd.read_csv('../data/group2_fin.csv')
g3 = pd.read_csv('../data/group3_fin.csv')

In [127]:
g1

,iid,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb
0,1,0.0,1.00,6.0,8.0,8.0,8.0,7.0,15.00,20.00,20.00,15.00,15.00
1,2,0.0,0.25,7.0,5.0,8.0,10.0,3.0,45.00,5.00,25.00,20.00,0.00
2,3,0.0,0.00,8.0,9.0,9.0,8.0,8.0,35.00,10.00,35.00,10.00,10.00
3,4,0.0,0.25,7.0,8.0,7.0,9.0,8.0,20.00,20.00,20.00,20.00,10.00
4,5,0.0,0.25,6.0,3.0,10.0,6.0,8.0,20.00,5.00,25.00,25.00,10.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,169,1.0,0.20,7.0,9.0,8.0,7.0,7.0,17.78,20.00,17.78,15.56,15.56
146,170,1.0,0.00,7.0,8.0,9.0,6.0,8.0,16.28,20.93,18.60,18.60,13.95
147,171,1.0,0.30,10.0,10.0,10.0,10.0,10.0,19.57,10.87,19.57,19.57,19.57
148,172,1.0,0.30,5.0,6.0,8.0,9.0,9.0,17.78,17.78,22.22,20.00,15.56
149,173,1.0,0.40,7.0,9.0,9.0,9.0,9.0,18.37,18.37,20.41,20.41,16.33

In [128]:
# 'id' column 삭제
g1.drop(['Unnamed: 0'], axis=1, inplace=True)
g2.drop(['Unnamed: 0'], axis=1, inplace=True)
g3.drop(['Unnamed: 0'], axis=1, inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [ ]:
len(g1.index), len(g2.index), len(g3.index)
len(g1.index) + len(g2.index) + len(g3.index)

501

In [129]:
train_df = pd.read_csv('../data/train.csv')

In [130]:
train_df

,Unnamed: 0,iid,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb
0,0,1,0.0,100.000000,6.0,8.0,8.0,8.0,7.0,15.0,20.0,20.0,15.0,15.0
1,1,2,0.0,25.000000,7.0,5.0,8.0,10.0,3.0,45.0,5.0,25.0,20.0,0.0
2,2,3,0.0,0.000000,8.0,9.0,9.0,8.0,8.0,35.0,10.0,35.0,10.0,10.0
3,3,4,0.0,25.000000,7.0,8.0,7.0,9.0,8.0,20.0,20.0,20.0,20.0,10.0
4,4,5,0.0,25.000000,6.0,3.0,10.0,6.0,8.0,20.0,5.0,25.0,25.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,156,547,1.0,22.222222,7.0,9.0,8.0,8.0,8.0,25.0,20.0,20.0,20.0,0.0
497,157,548,1.0,22.222222,10.0,10.0,10.0,10.0,10.0,40.0,10.0,20.0,10.0,0.0
498,158,549,1.0,22.222222,7.0,10.0,9.0,8.0,9.0,20.0,20.0,20.0,20.0,0.0
499,159,550,1.0,33.333333,7.0,7.0,7.0,7.0,7.0,30.0,3.0,30.0,30.0,3.0
500,160,552,1.0,22.222222,8.0,7.0,7.0,6.0,7.0,70.0,0.0,15.0,15.0,0.0

In [131]:
train_df = train_df.drop(['Unnamed: 0'], axis=1)

# 4) 다중선형 회귀분석

### 4-1) 데이터 이해 및 준비

In [132]:
# 데이터 준비
train_df

,iid,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb
0,1,0.0,100.000000,6.0,8.0,8.0,8.0,7.0,15.0,20.0,20.0,15.0,15.0
1,2,0.0,25.000000,7.0,5.0,8.0,10.0,3.0,45.0,5.0,25.0,20.0,0.0
2,3,0.0,0.000000,8.0,9.0,9.0,8.0,8.0,35.0,10.0,35.0,10.0,10.0
3,4,0.0,25.000000,7.0,8.0,7.0,9.0,8.0,20.0,20.0,20.0,20.0,10.0
4,5,0.0,25.000000,6.0,3.0,10.0,6.0,8.0,20.0,5.0,25.0,25.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,547,1.0,22.222222,7.0,9.0,8.0,8.0,8.0,25.0,20.0,20.0,20.0,0.0
497,548,1.0,22.222222,10.0,10.0,10.0,10.0,10.0,40.0,10.0,20.0,10.0,0.0
498,549,1.0,22.222222,7.0,10.0,9.0,8.0,9.0,20.0,20.0,20.0,20.0,0.0
499,550,1.0,33.333333,7.0,7.0,7.0,7.0,7.0,30.0,3.0,30.0,30.0,3.0
500,552,1.0,22.222222,8.0,7.0,7.0,6.0,7.0,70.0,0.0,15.0,15.0,0.0

In [133]:
train_df.describe()

,iid,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb
count,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000
mean,280.063872,0.510978,17.244611,7.091816,8.303393,8.407186,7.696607,7.556886,22.364331,17.420479,20.137864,17.441277,10.862315
std,158.518794,0.500379,22.925402,1.401268,1.422592,1.087138,1.541353,1.791998,12.444712,7.274712,6.793202,6.176676,6.172312
min,1.000000,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,148.000000,0.000000,0.000000,6.000000,8.000000,8.000000,7.000000,7.000000,15.000000,15.000000,17.240000,15.000000,5.000000
50%,281.000000,1.000000,10.000000,7.000000,8.000000,8.000000,8.000000,8.000000,20.000000,18.180000,20.000000,18.000000,10.000000
75%,417.000000,1.000000,25.000000,8.000000,9.000000,9.000000,9.000000,9.000000,25.000000,20.000000,23.000000,20.000000,15.000000
max,552.000000,1.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,100.000000,60.000000,50.000000,50.000000,53.000000

In [134]:
# 데이터 분할
X = train_df.drop(['iid', 'match'], axis=1)
y = train_df['match']

In [135]:
# MSE, RMSE, r2계수 함수 정의
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

def evaluate_score(y_test, y_pred):
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_test, y_pred)


    print(f'mse - {mse:.4f}')
    print(f'rmse - {rmse: .4f}')
    print(f'r2 - {r2: .4f}')
    return

In [136]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=156)

### 4-2) 모델 구축

In [137]:
# 모델 생성
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

### 4-3) 모델 학습

In [138]:
# 모델 학습
reg = lr.fit(X_train, y_train)
reg

LinearRegression()

In [139]:
coef = reg.coef_
inter = reg.intercept_

coef, inter

(array([-0.71894632,  1.17184246,  0.05794451,  0.48053044,  0.31754749,
         0.57582989,  0.15510137, -0.15313651,  0.12632842,  0.25566606,
         0.20020636]),
 -12.863782937002807)

### 4-4) 모델 평가

In [140]:
# 모델 평가
y_pred = reg.predict(X_test)

evaluate_score(y_test, y_pred)

mse - 683.8511
rmse -  26.1505
r2 - -0.0051

# 5) 엘라스틱넷 모델

In [141]:
# 5-1)모델 구축 및 학습(alpha=1, l1_ratio=0.5)
from sklearn.linear_model import ElasticNet
model_ElasticNet = ElasticNet(alpha=0.1, l1_ratio=0.5)
model_ElasticNet.fit(X_train, y_train)

ElasticNet(alpha=0.1)

In [142]:
# 릿지 선형회귀 모델 평가(model_Ridge1, alpha=1)
# 선형 모델 평가
y_pred = model_ElasticNet.predict(X_test)
r2 = r2_score(y_test, y_pred)
print(r2)

-0.00465415505609279

In [143]:
evaluate_score(y_test, y_pred)

mse - 683.5428
rmse -  26.1447
r2 - -0.0047

### 5-2) LassoCV 모델을 통해 최적의 하이퍼파라미터 찾기

In [144]:
#LassoCV()에 필요한 매개변수 설정
#0.01 ~ 9.91 까지 alpha_list  생성

cv = 5
alpha_list = np.arange(0.01, 10, 0.01)
max_iter = 1000

In [145]:
from sklearn.linear_model import LassoCV

model_LassoCV = LassoCV(alphas=alpha_list, cv=5, max_iter=1000, n_jobs=-1, \
        random_state=42)

In [146]:
model_LassoCV.fit(X_train, y_train)

LassoCV(alphas=array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21, 0.22,
       0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32, 0.33,
       0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43, 0.44,
       0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54, 0.55,
       0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65, 0.66,
       0.67...
       9.25, 9.26, 9.27, 9.28, 9.29, 9.3 , 9.31, 9.32, 9.33, 9.34, 9.35,
       9.36, 9.37, 9.38, 9.39, 9.4 , 9.41, 9.42, 9.43, 9.44, 9.45, 9.46,
       9.47, 9.48, 9.49, 9.5 , 9.51, 9.52, 9.53, 9.54, 9.55, 9.56, 9.57,
       9.58, 9.59, 9.6 , 9.61, 9.62, 9.63, 9.64, 9.65, 9.66, 9.67, 9.68,
       9.69, 9.7 , 9.71, 9.72, 9.73, 9.74, 9.75, 9.76, 9.77, 9.78, 9.79,
       9.8 , 9.81, 9.82, 9.83, 9.84, 9.85, 9.86, 9.87, 9.88, 9.89, 9.9 ,
       9.91, 9.92, 9.93, 9.94, 9.95, 9.96, 9.97, 9.98, 9.99]),
        cv=5, n_jobs=-1, random_state=42)

In [147]:
# alpha=8.89일때, 가장 좋은 score를 얻었다.
model_LassoCV.alpha_

8.89

In [148]:
# 최적의 alpha를 가진 best_model로 다시 모델평가
from sklearn.linear_model import Lasso

best_model = Lasso(alpha=8.89)
best_model.fit(X_train, y_train)

y_pred = best_model.predict(X_test)

In [149]:
# 하지만 LassoCV로 인해 최적의 alpha는 찾았기 때문에 새로운 모델을 작성할 필요가 없음
y_pred = model_LassoCV.predict(X_test)
r2_score(y_test, y_pred)

-0.02130802093566775

In [150]:
evaluate_score(y_test, y_pred)

mse - 694.8737
rmse -  26.3605
r2 - -0.0213

### 5-3) GridSearchCV

In [172]:
from sklearn.model_selection import GridSearchCV

model = ElasticNet()
param_grid = {
    'alpha' : [0.1, 1, 10, 100],
    'l1_ratio': [0.1, 0.3, 0.6, 0.9],
}

grid = GridSearchCV(model, param_grid=param_grid, cv=3)

In [161]:
grid.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=ElasticNet(),
             param_grid={'alpha': [0.1, 1, 10, 100],
                         'l1_ratio': [0.1, 0.3, 0.6, 0.9]})

In [162]:
# grid가 best_model이 됨
y_pred = grid.predict(X_test)
r2 = r2_score(y_test, y_pred)
print(r2)

-0.02392695573340231

In [ ]:
evaluate_score(y_test, y_pred)

mse - 696.6555
rmse -  26.3942
r2 - -0.0239

In [ ]:
pd.DataFrame(grid.cv_results_)#.info()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_l1_ratio,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003659,0.003723,0.000584,0.000136,0.01,0.1,"{'alpha': 0.01, 'l1_ratio': 0.1}",-0.037388,-0.034851,-0.244920,-0.105720,0.098435,13
1,0.000771,0.000023,0.000446,0.000003,0.01,0.3,"{'alpha': 0.01, 'l1_ratio': 0.3}",-0.037652,-0.034844,-0.244938,-0.105811,0.098384,14
2,0.000725,0.000030,0.000426,0.000008,0.01,0.6,"{'alpha': 0.01, 'l1_ratio': 0.6}",-0.038060,-0.034834,-0.244964,-0.105953,0.098305,15
3,0.000727,0.000055,0.000416,0.000014,0.01,0.9,"{'alpha': 0.01, 'l1_ratio': 0.9}",-0.038485,-0.034823,-0.244991,-0.106100,0.098222,16
4,0.000630,0.000017,0.000399,0.000008,1,0.1,"{'alpha': 1, 'l1_ratio': 0.1}",-0.004119,-0.009528,-0.202590,-0.072079,0.092312,12
5,0.000598,0.000007,0.000395,0.000002,1,0.3,"{'alpha': 1, 'l1_ratio': 0.3}",-0.001906,-0.009527,-0.201574,-0.071002,0.092380,11
6,0.000700,0.000077,0.000428,0.000011,1,0.6,"{'alpha': 1, 'l1_ratio': 0.6}",-0.001072,-0.009406,-0.200104,-0.070194,0.091923,10
7,0.000703,0.000057,0.000475,0.000077,1,0.9,"{'alpha': 1, 'l1_ratio': 0.9}",0.000336,-0.009258,-0.200040,-0.069654,0.092280,9
8,0.000553,0.000004,0.000391,0.000002,10,0.1,"{'alpha': 10, 'l1_ratio': 0.1}",0.002749,0.010030,-0.129515,-0.038912,0.064135,8
9,0.000553,0.000003,0.000387,0.000003,10,0.3,"{'alpha': 10, 'l1_ratio': 0.3}",0.003668,0.008603,-0.116964,-0.034897,0.058065,7
10,0.000558,0.000016,0.000394,0.000010,10,0.6,"{'alpha': 10, 'l1_ratio': 0.6}",0.004113,0.007234,-0.101045,-0.029900,0.050324,6
11,0.000594,0.000020,0.000402,0.000006,10,0.9,"{'alpha': 10, 'l1_ratio': 0.9}",0.002691,0.006404,-0.090304,-0.027069,0.044739,5
12,0.000535,0.000006,0.000391,0.000009,100,0.1,"{'alpha': 100, 'l1_ratio': 0.1}",-0.001531,-0.000081,-0.057128,-0.019580,0.026557,4
13,0.000559,0.000024,0.000403,0.000008,100,0.3,"{'alpha': 100, 'l1_ratio': 0.3}",-0.003886,-0.006904,-0.039217,-0.016669,0.015991,3
14,0.000579,0.000013,0.000402,0.000005,100,0.6,"{'alpha': 100, 'l1_ratio': 0.6}",-0.003886,-0.006904,-0.033676,-0.014822,0.013388,1
15,0.000586,0.000031,0.000404,0.000009,100,0.9,"{'alpha': 100, 'l1_ratio': 0.9}",-0.003886,-0.006904,-0.033676,-0.014822,0.013388,1

In [ ]:
# 가장 좋은 하이퍼파라미터
grid.best_params_

{'alpha': 100, 'l1_ratio': 0.6}

In [ ]:
# 가장 작은 수가 가장 좋은 모델
pd.DataFrame(grid.cv_results_)[['mean_test_score', 'rank_test_score']]

    mean_test_score  rank_test_score
0         -0.105720               13
1         -0.105811               14
2         -0.105953               15
3         -0.106100               16
4         -0.072079               12
5         -0.071002               11
6         -0.070194               10
7         -0.069654                9
8         -0.038912                8
9         -0.034897                7
10        -0.029900                6
11        -0.027069                5
12        -0.019580                4
13        -0.016669                3
14        -0.014822                1
15        -0.014822                1

---

# 2. 회귀: train2 데이터 사용하기

# 1) 데이터 분류

In [185]:
# train2 데이터 불러오기
train2 = pd.read_csv('../data/train2.csv', encoding='cp949')
train2

,Unnamed: 0,iid,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb,tmp_sha
0,0,1,0.0,100.000000,6.0,8.0,8.0,8.0,7.0,15.0,20.0,20.0,15.0,15.0,15.0
1,1,2,0.0,25.000000,7.0,5.0,8.0,10.0,3.0,45.0,5.0,25.0,20.0,0.0,5.0
2,2,3,0.0,0.000000,8.0,9.0,9.0,8.0,8.0,35.0,10.0,35.0,10.0,10.0,0.0
3,3,4,0.0,25.000000,7.0,8.0,7.0,9.0,8.0,20.0,20.0,20.0,20.0,10.0,10.0
4,4,5,0.0,25.000000,6.0,3.0,10.0,6.0,8.0,20.0,5.0,25.0,25.0,10.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,156,547,1.0,22.222222,7.0,9.0,8.0,8.0,8.0,25.0,20.0,20.0,20.0,0.0,15.0
497,157,548,1.0,22.222222,10.0,10.0,10.0,10.0,10.0,40.0,10.0,20.0,10.0,0.0,20.0
498,158,549,1.0,22.222222,7.0,10.0,9.0,8.0,9.0,20.0,20.0,20.0,20.0,0.0,20.0
499,159,550,1.0,33.333333,7.0,7.0,7.0,7.0,7.0,30.0,3.0,30.0,30.0,3.0,4.0
500,160,552,1.0,22.222222,8.0,7.0,7.0,6.0,7.0,70.0,0.0,15.0,15.0,0.0,0.0

----

# 1) 다중선형회귀

### 1-1) 데이터 불러오기

In [238]:
# 데이터 불러오기
tmp = pd.read_csv('../data/SpeedDatingExData.csv', encoding='cp949')
tmp

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,552,22.0,1,44,2,21,22,14,10.0,5,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8374,552,22.0,1,44,2,21,22,13,10.0,4,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8375,552,22.0,1,44,2,21,22,19,10.0,10,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8376,552,22.0,1,44,2,21,22,3,10.0,16,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8377,552,NaN,1,44,2,21,22,2,10.0,15,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0

In [239]:
# samerace = 1인 데이터만 가져오기
tmp2 =tmp[tmp['samerace'] == 1]
tmp2

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
10,2,2.0,0,3,1,1,10,3,NaN,10,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
11,2,2.0,0,3,1,1,10,3,NaN,9,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
13,2,2.0,0,3,1,1,10,3,NaN,1,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
15,2,2.0,0,3,1,1,10,3,NaN,2,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8365,552,22.0,1,44,2,21,22,6,10.0,19,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8366,552,22.0,1,44,2,21,22,20,10.0,11,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8368,552,22.0,1,44,2,21,22,8,10.0,21,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8369,552,22.0,1,44,2,21,22,4,10.0,17,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8372,552,22.0,1,44,2,21,22,17,10.0,8,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0

In [188]:
# column 분류
col = ['id', 'iid', 'pid', 'wave', 'gender', 'match',
        'attr3_1', 'sinc3_1', 'intel3_1', 'fun3_1', 'amb3_1',
          'pf_o_att', 'pf_o_sin', 'pf_o_int', 'pf_o_fun', 'pf_o_amb',
          'attr', 'sinc',	'intel', 'fun',	'amb', 'shar', 'like']

In [189]:
# tmp2에서 사용할 컬럼 추출, null값 제거
tmp3 = tmp2[col].dropna()

In [196]:
tmp3

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,pf_o_int,pf_o_fun,pf_o_amb,attr,sinc,intel,fun,amb,shar,like
2,1.0,1,13.0,1,0,1,6.0,8.0,8.0,8.0,...,19.0,18.0,14.0,5.0,8.0,9.0,8.0,5.0,7.0,7.0
10,2.0,2,11.0,1,0,0,7.0,5.0,8.0,10.0,...,20.0,20.0,0.0,5.0,7.0,8.0,4.0,6.0,3.0,6.0
11,2.0,2,12.0,1,0,0,7.0,5.0,8.0,10.0,...,0.0,40.0,0.0,8.0,5.0,6.0,6.0,9.0,6.0,7.0
13,2.0,2,14.0,1,0,1,7.0,5.0,8.0,10.0,...,15.0,40.0,5.0,7.0,9.0,7.0,6.0,5.0,7.0,7.0
15,2.0,2,16.0,1,0,0,7.0,5.0,8.0,10.0,...,30.0,10.0,0.0,8.0,7.0,8.0,3.0,6.0,2.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8360,22.0,552,513.0,21,1,1,8.0,7.0,7.0,6.0,...,20.0,20.0,5.0,8.0,9.0,9.0,9.0,6.0,8.0,9.0
8361,22.0,552,514.0,21,1,0,8.0,7.0,7.0,6.0,...,20.0,15.0,5.0,4.0,6.0,8.0,7.0,8.0,8.0,6.0
8365,22.0,552,518.0,21,1,0,8.0,7.0,7.0,6.0,...,25.0,30.0,5.0,5.0,8.0,8.0,7.0,7.0,8.0,6.0
8368,22.0,552,521.0,21,1,0,8.0,7.0,7.0,6.0,...,20.0,15.0,15.0,3.0,4.0,6.0,4.0,4.0,4.0,4.0
8369,22.0,552,522.0,21,1,0,8.0,7.0,7.0,6.0,...,15.0,20.0,15.0,3.0,3.0,9.0,6.0,9.0,6.0,6.0

In [197]:
tmp3[tmp3.iid ==450]

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,pf_o_int,pf_o_fun,pf_o_amb,attr,sinc,intel,fun,amb,shar,like
6766,11.0,450,432.0,17,1,1,9.0,6.0,10.0,7.0,...,30.0,10.0,10.0,6.0,9.0,9.0,9.0,7.0,8.0,8.0
6768,11.0,450,434.0,17,1,0,9.0,6.0,10.0,7.0,...,15.0,30.0,0.0,9.0,8.0,8.0,8.0,7.0,7.0,8.0
6771,11.0,450,437.0,17,1,0,9.0,6.0,10.0,7.0,...,18.0,18.0,14.0,6.0,9.0,7.0,5.0,3.0,3.0,6.0
6772,11.0,450,438.0,17,1,1,9.0,6.0,10.0,7.0,...,16.0,17.0,18.0,6.0,7.0,7.0,7.0,7.0,7.0,7.0
6773,11.0,450,439.0,17,1,0,9.0,6.0,10.0,7.0,...,50.0,5.0,10.0,8.0,7.0,7.0,7.0,5.0,5.0,7.0

In [199]:
tmp3[tmp3.pid ==450]

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,pf_o_int,pf_o_fun,pf_o_amb,attr,sinc,intel,fun,amb,shar,like
6562,3.0,432,450.0,17,0,1,7.0,8.0,8.0,8.0,...,5.0,5.0,5.0,5.0,10.0,10.0,9.0,10.0,10.0,10.0
6590,5.0,434,450.0,17,0,0,7.0,7.0,6.0,8.0,...,5.0,5.0,5.0,5.0,5.0,5.0,7.0,5.0,9.0,7.0
6618,7.0,436,450.0,17,0,0,9.0,8.0,7.0,10.0,...,5.0,5.0,5.0,7.0,7.0,8.0,8.0,8.0,7.0,7.0
6632,8.0,437,450.0,17,0,0,7.0,9.0,9.0,9.0,...,5.0,5.0,5.0,7.0,7.0,9.0,7.0,10.0,7.0,5.0
6646,9.0,438,450.0,17,0,1,7.0,8.0,7.0,7.0,...,5.0,5.0,5.0,4.0,6.0,8.0,7.0,9.0,2.0,4.0
6660,10.0,439,450.0,17,0,0,8.0,8.0,7.0,7.0,...,5.0,5.0,5.0,5.0,9.0,10.0,5.0,9.0,5.0,5.0

### 1-2) 데이터 이해 및 준비

In [201]:
# 데이터 준비
train3_df = tmp3
train3_df

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,pf_o_int,pf_o_fun,pf_o_amb,attr,sinc,intel,fun,amb,shar,like
2,1.0,1,13.0,1,0,1,6.0,8.0,8.0,8.0,...,19.0,18.0,14.0,5.0,8.0,9.0,8.0,5.0,7.0,7.0
10,2.0,2,11.0,1,0,0,7.0,5.0,8.0,10.0,...,20.0,20.0,0.0,5.0,7.0,8.0,4.0,6.0,3.0,6.0
11,2.0,2,12.0,1,0,0,7.0,5.0,8.0,10.0,...,0.0,40.0,0.0,8.0,5.0,6.0,6.0,9.0,6.0,7.0
13,2.0,2,14.0,1,0,1,7.0,5.0,8.0,10.0,...,15.0,40.0,5.0,7.0,9.0,7.0,6.0,5.0,7.0,7.0
15,2.0,2,16.0,1,0,0,7.0,5.0,8.0,10.0,...,30.0,10.0,0.0,8.0,7.0,8.0,3.0,6.0,2.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8360,22.0,552,513.0,21,1,1,8.0,7.0,7.0,6.0,...,20.0,20.0,5.0,8.0,9.0,9.0,9.0,6.0,8.0,9.0
8361,22.0,552,514.0,21,1,0,8.0,7.0,7.0,6.0,...,20.0,15.0,5.0,4.0,6.0,8.0,7.0,8.0,8.0,6.0
8365,22.0,552,518.0,21,1,0,8.0,7.0,7.0,6.0,...,25.0,30.0,5.0,5.0,8.0,8.0,7.0,7.0,8.0,6.0
8368,22.0,552,521.0,21,1,0,8.0,7.0,7.0,6.0,...,20.0,15.0,15.0,3.0,4.0,6.0,4.0,4.0,4.0,4.0
8369,22.0,552,522.0,21,1,0,8.0,7.0,7.0,6.0,...,15.0,20.0,15.0,3.0,3.0,9.0,6.0,9.0,6.0,6.0

In [202]:
train3_df.describe()

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,pf_o_int,pf_o_fun,pf_o_amb,attr,sinc,intel,fun,amb,shar,like
count,2718.000000,2718.000000,2718.000000,2718.000000,2718.000000,2718.0000,2718.000000,2718.000000,2718.000000,2718.000000,...,2718.000000,2718.000000,2718.000000,2718.000000,2718.000000,2718.000000,2718.000000,2718.000000,2718.000000,2718.000000
mean,8.967255,279.072112,278.483076,11.145695,0.512141,0.1766,7.170346,8.259382,8.498160,7.691317,...,20.438672,17.646913,10.571063,6.323915,7.174209,7.389809,6.437638,6.789183,5.633554,6.234069
std,5.397422,157.564141,157.540938,5.930908,0.499945,0.3814,1.341576,1.444105,1.059422,1.544579,...,6.835589,6.180882,5.996106,1.942662,1.720619,1.527053,1.936247,1.740816,2.116198,1.799176
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.0000,2.000000,2.000000,3.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,154.000000,150.000000,7.000000,0.000000,0.0000,7.000000,8.000000,8.000000,7.000000,...,17.780000,15.000000,5.000000,5.000000,6.000000,6.000000,5.000000,6.000000,4.000000,5.000000
50%,9.000000,278.000000,280.000000,11.000000,1.000000,0.0000,7.000000,8.000000,9.000000,8.000000,...,20.000000,18.180000,10.000000,6.000000,7.000000,7.000000,7.000000,7.000000,6.000000,6.000000
75%,14.000000,407.000000,403.000000,15.000000,1.000000,0.0000,8.000000,9.000000,9.000000,9.000000,...,25.000000,20.000000,15.000000,8.000000,8.000000,8.000000,8.000000,8.000000,7.000000,7.000000
max,22.000000,552.000000,552.000000,21.000000,1.000000,1.0000,10.000000,10.000000,10.000000,10.000000,...,50.000000,50.000000,53.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [203]:
train3_df.drop(['id', 'iid', 'pid', 'wave'], axis=1)

,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,attr,sinc,intel,fun,amb,shar,like
2,0,1,6.0,8.0,8.0,8.0,7.0,19.0,18.0,19.0,18.0,14.0,5.0,8.0,9.0,8.0,5.0,7.0,7.0
10,0,0,7.0,5.0,8.0,10.0,3.0,35.0,20.0,20.0,20.0,0.0,5.0,7.0,8.0,4.0,6.0,3.0,6.0
11,0,0,7.0,5.0,8.0,10.0,3.0,60.0,0.0,0.0,40.0,0.0,8.0,5.0,6.0,6.0,9.0,6.0,7.0
13,0,1,7.0,5.0,8.0,10.0,3.0,30.0,5.0,15.0,40.0,5.0,7.0,9.0,7.0,6.0,5.0,7.0,7.0
15,0,0,7.0,5.0,8.0,10.0,3.0,50.0,0.0,30.0,10.0,0.0,8.0,7.0,8.0,3.0,6.0,2.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8360,1,1,8.0,7.0,7.0,6.0,7.0,20.0,20.0,20.0,20.0,5.0,8.0,9.0,9.0,9.0,6.0,8.0,9.0
8361,1,0,8.0,7.0,7.0,6.0,7.0,20.0,20.0,20.0,15.0,5.0,4.0,6.0,8.0,7.0,8.0,8.0,6.0
8365,1,0,8.0,7.0,7.0,6.0,7.0,20.0,25.0,25.0,30.0,5.0,5.0,8.0,8.0,7.0,7.0,8.0,6.0
8368,1,0,8.0,7.0,7.0,6.0,7.0,10.0,30.0,20.0,15.0,15.0,3.0,4.0,6.0,4.0,4.0,4.0,4.0
8369,1,0,8.0,7.0,7.0,6.0,7.0,10.0,20.0,15.0,20.0,15.0,3.0,3.0,9.0,6.0,9.0,6.0,6.0

In [204]:
# 데이터 분할
X = train3_df.drop(['match'], axis=1)
y = train3_df['match']

In [205]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=156)

### 1-3) 모델 구축

In [206]:
# 모델 생성
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

### 1-4) 모델 학습

In [207]:
# 모델 학습
reg = lr.fit(X_train, y_train)
reg

LinearRegression()

### 1-5) 모델 평가

In [208]:
# 모델 평가
y_pred = reg.predict(X_test)

evaluate_score(y_test, y_pred)

mse - 0.1325
rmse -  0.3640
r2 -  0.1030

# 2) 엘라스틱넷 모델

In [209]:
# 5-1)모델 구축 및 학습(alpha=1, l1_ratio=0.5)
from sklearn.linear_model import ElasticNet
model_ElasticNet = ElasticNet(alpha=0.1, l1_ratio=0.5)
model_ElasticNet.fit(X_train, y_train)

ElasticNet(alpha=0.1)

In [210]:
# 릿지 선형회귀 모델 평가(model_Ridge1, alpha=1)
# 선형 모델 평가
y_pred = model_ElasticNet.predict(X_test)
r2 = r2_score(y_test, y_pred)
print(r2)

0.09863979972721792

# 3) GridSearchCV

In [211]:
from sklearn.model_selection import GridSearchCV

model = ElasticNet()
param_grid = {
    'alpha' : [0.1, 1, 10, 100],
    'l1_ratio': [0.1, 0.3, 0.6, 0.9],
}

grid = GridSearchCV(model, param_grid=param_grid, cv=3)

In [212]:
grid.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=ElasticNet(),
             param_grid={'alpha': [0.1, 1, 10, 100],
                         'l1_ratio': [0.1, 0.3, 0.6, 0.9]})

In [213]:
# grid가 best_model이 됨
y_pred = grid.predict(X_test)
r2 = r2_score(y_test, y_pred)
print(r2)

0.10937580640153688

In [214]:
evaluate_score(y_test, y_pred)

mse - 0.1315
rmse -  0.3627
r2 -  0.1094

___

# 1. 분류 
    1. 사용할 column은 기존 정한 column 사용
    2. NaN은 column별 확인
    3.

# 1) 로지스틱 회귀

In [219]:
tmp3

,id,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,...,pf_o_int,pf_o_fun,pf_o_amb,attr,sinc,intel,fun,amb,shar,like
2,1.0,1,13.0,1,0,1,6.0,8.0,8.0,8.0,...,19.0,18.0,14.0,5.0,8.0,9.0,8.0,5.0,7.0,7.0
10,2.0,2,11.0,1,0,0,7.0,5.0,8.0,10.0,...,20.0,20.0,0.0,5.0,7.0,8.0,4.0,6.0,3.0,6.0
11,2.0,2,12.0,1,0,0,7.0,5.0,8.0,10.0,...,0.0,40.0,0.0,8.0,5.0,6.0,6.0,9.0,6.0,7.0
13,2.0,2,14.0,1,0,1,7.0,5.0,8.0,10.0,...,15.0,40.0,5.0,7.0,9.0,7.0,6.0,5.0,7.0,7.0
15,2.0,2,16.0,1,0,0,7.0,5.0,8.0,10.0,...,30.0,10.0,0.0,8.0,7.0,8.0,3.0,6.0,2.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8360,22.0,552,513.0,21,1,1,8.0,7.0,7.0,6.0,...,20.0,20.0,5.0,8.0,9.0,9.0,9.0,6.0,8.0,9.0
8361,22.0,552,514.0,21,1,0,8.0,7.0,7.0,6.0,...,20.0,15.0,5.0,4.0,6.0,8.0,7.0,8.0,8.0,6.0
8365,22.0,552,518.0,21,1,0,8.0,7.0,7.0,6.0,...,25.0,30.0,5.0,5.0,8.0,8.0,7.0,7.0,8.0,6.0
8368,22.0,552,521.0,21,1,0,8.0,7.0,7.0,6.0,...,20.0,15.0,15.0,3.0,4.0,6.0,4.0,4.0,4.0,4.0
8369,22.0,552,522.0,21,1,0,8.0,7.0,7.0,6.0,...,15.0,20.0,15.0,3.0,3.0,9.0,6.0,9.0,6.0,6.0

In [221]:
train4_df = tmp3.drop(['id', 'iid', 'pid', 'wave'], axis=1)

In [222]:
train4_df

,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,attr,sinc,intel,fun,amb,shar,like
2,0,1,6.0,8.0,8.0,8.0,7.0,19.0,18.0,19.0,18.0,14.0,5.0,8.0,9.0,8.0,5.0,7.0,7.0
10,0,0,7.0,5.0,8.0,10.0,3.0,35.0,20.0,20.0,20.0,0.0,5.0,7.0,8.0,4.0,6.0,3.0,6.0
11,0,0,7.0,5.0,8.0,10.0,3.0,60.0,0.0,0.0,40.0,0.0,8.0,5.0,6.0,6.0,9.0,6.0,7.0
13,0,1,7.0,5.0,8.0,10.0,3.0,30.0,5.0,15.0,40.0,5.0,7.0,9.0,7.0,6.0,5.0,7.0,7.0
15,0,0,7.0,5.0,8.0,10.0,3.0,50.0,0.0,30.0,10.0,0.0,8.0,7.0,8.0,3.0,6.0,2.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8360,1,1,8.0,7.0,7.0,6.0,7.0,20.0,20.0,20.0,20.0,5.0,8.0,9.0,9.0,9.0,6.0,8.0,9.0
8361,1,0,8.0,7.0,7.0,6.0,7.0,20.0,20.0,20.0,15.0,5.0,4.0,6.0,8.0,7.0,8.0,8.0,6.0
8365,1,0,8.0,7.0,7.0,6.0,7.0,20.0,25.0,25.0,30.0,5.0,5.0,8.0,8.0,7.0,7.0,8.0,6.0
8368,1,0,8.0,7.0,7.0,6.0,7.0,10.0,30.0,20.0,15.0,15.0,3.0,4.0,6.0,4.0,4.0,4.0,4.0
8369,1,0,8.0,7.0,7.0,6.0,7.0,10.0,20.0,15.0,20.0,15.0,3.0,3.0,9.0,6.0,9.0,6.0,6.0

### 1-1) 데이터 준비, 분할 및 표준화(스케일링)하기

In [223]:
from sklearn.model_selection import train_test_split

X = train4_df.drop(['match'], axis=1)
y = train4_df['match']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=0)

In [227]:
X_train.isnull().sum().sum(), X_test.isnull().sum().sum(), y_train.isnull().sum().sum(), y_test.isnull().sum().sum()

(0, 0, 0, 0)

In [224]:
# 스케일링 전 X_train => min과 max 값
pd.DataFrame(X_train).describe()

,gender,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,attr,sinc,intel,fun,amb,shar,like
count,1902.000000,1902.00000,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000
mean,0.518402,7.16877,8.249737,8.478970,7.669821,7.553628,22.776083,17.146030,20.389490,17.587687,10.467029,6.276761,7.142482,7.366719,6.398002,6.784700,5.650105,6.201209
std,0.499793,1.34927,1.451364,1.065123,1.567799,1.864425,13.405937,7.019379,6.927945,6.212811,5.958904,1.920195,1.710565,1.519116,1.941573,1.700958,2.103252,1.774607
min,0.000000,2.00000,2.000000,3.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,7.00000,7.000000,8.000000,7.000000,7.000000,15.000000,15.000000,17.780000,15.000000,5.000000,5.000000,6.000000,6.000000,5.000000,6.000000,4.000000,5.000000
50%,1.000000,7.00000,8.000000,8.000000,8.000000,8.000000,20.000000,18.000000,20.000000,18.180000,10.000000,6.000000,7.000000,7.000000,7.000000,7.000000,6.000000,6.000000
75%,1.000000,8.00000,9.000000,9.000000,9.000000,9.000000,25.000000,20.000000,25.000000,20.000000,15.000000,8.000000,8.000000,8.000000,8.000000,8.000000,7.000000,7.000000
max,1.000000,10.00000,10.000000,10.000000,10.000000,10.000000,100.000000,60.000000,50.000000,50.000000,25.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

### 1-3) 모델 구축

In [228]:
from sklearn.linear_model import LogisticRegression

In [229]:
#1)모델 생성
reg = LogisticRegression()

#2)모델 학습
reg.fit(X_train, y_train)

#3) 평가 데이터에 대한 예측 수행
y_pred = reg.predict(X_test)
y_pred

/Users/kimminsoo/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0])

In [230]:
# 악성종양일 확률, 악성종양이 아닐 확률
np.set_printoptions(suppress=True)
y_pred_prob = reg.predict_proba(X_test)
y_pred_prob

array([[0.9267851 , 0.0732149 ],
       [0.89536792, 0.10463208],
       [0.84778068, 0.15221932],
       ...,
       [0.80687164, 0.19312836],
       [0.8449131 , 0.1550869 ],
       [0.81913373, 0.18086627]])

In [231]:
# 시그모이드 함수의 z값 => 이 z를 시그모이드 함수에 넣은 값이 악성종양이 아닐 확률
reg.decision_function(X_test)

array([-2.53832275, -2.14678447, -1.71729963,  0.11881143, -1.77553392,
       -1.99713322, -3.81037157, -0.71216057, -2.19957156, -1.16214834,
       -5.46915321, -0.89190645, -1.54355473, -1.62336655, -1.20096005,
       -1.31549685, -2.63771443, -0.63471284, -0.46796411, -2.74704207,
       -1.41347728, -1.10231485, -1.1426127 , -1.3774863 , -5.48270881,
       -1.80915116, -2.27410092, -2.55941299, -3.55343838, -0.59627562,
        0.83413095, -1.16090145, -4.54851066, -0.42810309, -1.00262377,
        1.17941098, -1.34425866, -3.44535915, -1.19125829, -2.47310512,
       -1.74499254, -1.55322256, -1.41783424, -1.40415872, -2.30957741,
       -2.0857687 , -0.23676437, -0.04515709, -2.64829596, -2.42625277,
       -1.931698  ,  0.09353868, -1.83067903, -1.7401339 , -2.80913847,
       -2.76470728, -3.91440294, -5.48631103, -1.54033826, -1.29502492,
       -3.8555201 , -0.3867768 , -0.69703339, -0.98468659, -1.23408586,
       -0.5537833 , -1.00301368, -0.2064099 , -1.13462985, -1.4144767 ,
       -2.07494436, -2.31617628,  0.3356842 , -2.56213601, -2.30369157,
       -1.15475453, -1.53223525, -1.9099759 , -2.50258562,  0.01612857,
       -2.17196397, -1.28876853, -1.74705243, -2.20415129, -2.18621598,
       -1.784148  , -1.72012962, -3.05141296, -3.76103467, -0.82524387,
       -0.90533278, -2.22242757,  0.4797464 , -1.30071296, -2.82124436,
       -4.00154403, -2.66002093, -2.58752235, -3.6968335 , -2.71813618,
       -2.97806852,  0.99370597, -0.56107627,  0.32466825, -1.32492466,
       -0.668749  , -1.7118026 , -2.30603902, -1.17664104, -1.74605364,
       -0.72267803, -2.25626379, -1.51270144, -0.03703418, -1.22695354,
        0.12585527, -1.75816935, -2.24024603, -1.35906385, -1.66904858,
       -0.19404673, -0.57119348, -2.84687385, -4.95275649, -0.01849197,
       -0.63506628, -1.6213597 , -0.66584772, -4.65962778, -2.70310078,
       -0.5959062 , -0.40668172, -2.4595997 , -1.82244189,  0.56720179,
       -0.81357817,  0.085408  , -2.23901392, -4.08387163, -1.26753887,
       -0.3690569 , -2.05800446,  0.18980089, -1.40215973, -2.24833661,
       -1.09545894, -2.39786789, -2.46111757, -2.15166376, -1.91785168,
       -5.64096025, -1.41157811, -1.58114078, -1.29515827, -3.03278861,
       -0.21046895, -0.73777272,  0.74317463, -1.00704378, -2.83964001,
       -1.10727006,  0.14361561, -1.63761767, -1.03270697, -0.22615562,
       -2.14900453, -2.89354202, -0.00414112, -5.39231739, -1.03790812,
       -1.07352477, -3.23863541, -2.57981882, -3.10748698, -1.55894637,
       -2.57729071,  0.63997271, -2.25735403, -3.08728678, -1.23121667,
       -2.15102712, -3.52505041, -2.81107889, -1.83506951, -1.30512976,
       -3.54557349, -3.84596502, -1.6825513 , -2.31779053, -1.19756789,
       -0.92588893, -2.82678345, -0.61588142, -2.65085429, -0.36635723,
       -1.92864159, -0.78839558, -1.15700527, -0.93017189, -4.56738944,
       -0.93147153, -0.66809951, -1.48092298, -2.59054204, -2.29925546,
       -1.4137242 , -1.3909938 , -3.66012108, -1.01507817, -0.02111153,
       -0.63107493, -2.3094532 , -1.68137884, -0.14677033, -0.57612031,
       -4.44216719, -1.70488826, -1.67754948, -2.20805153, -3.65752689,
       -0.34941164, -1.96751658, -0.80872051, -1.42533566, -5.34965065,
        0.39833112, -1.46586374, -1.2112286 , -1.90851533, -1.7301628 ,
       -0.26250293, -1.25761749, -0.86094621, -1.26085181, -2.64687834,
       -1.45743017, -2.15880517, -1.64132977, -2.44218456, -1.91610873,
       -1.49373198, -0.69377577, -1.15544562, -1.77004529, -1.18917926,
       -4.41285058, -1.65723191, -3.99809346, -1.89574789, -2.62745505,
       -1.42604687, -1.6629514 , -0.88633436, -1.0394405 , -4.74240705,
       -1.26373393, -2.19561901, -4.42260981, -1.10400238, -2.25450336,
       -1.43016797, -1.61353281, -1.23524106,  0.54441245, -1.31449895,
       -3.65704189, -1.84089999, -2.45261616, -4.15244037, -2.05757912,
       -1.79606989, -3.26219941, -2.17687229, -1.25763356, -2.36985442,
       -1.60122289, -1.60806343, -0.29269157, -1.72000026, -0.49828934,
       -1.07192173, -0.19295704, -0.46742016, -4.93815447, -1.85902633,
       -0.65296538, -1.41939779, -2.8849479 , -0.9016617 , -2.00002311,
       -2.93166606, -1.29789806, -1.34156444, -2.78573219, -2.86730125,
       -1.22313985, -1.01200699, -4.0502443 , -1.3591787 , -0.58470965,
       -2.69710543, -4.62434483, -2.87477819, -1.80630092, -1.7973251 ,
       -1.00366112, -1.17037198, -1.07467636, -2.99784425, -4.50955144,
       -5.18803047, -1.0320537 , -2.77109187, -0.60008356, -1.50072967,
       -0.5133541 , -1.93688127, -2.53597751, -1.12198039, -1.88997798,
       -2.31273239, -1.92939244, -3.30527392, -2.67506028, -0.88102637,
       -4.74329586, -2.56083979, -1.34819763, -2.14868136, -1.86942095,
       -2.0952129 , -1.7682298 , -4.94948322, -1.3423326 , -1.7017995 ,
       -4.54554094, -2.16277497, -1.45570343, -2.56662791,  0.40652659,
       -3.42654875, -2.73255472, -0.13464149, -1.30318979, -2.68160274,
       -3.73092006, -1.60664351, -1.75745908, -2.73948967, -1.92987504,
       -0.79807688, -3.2826509 , -1.53007682, -1.27327118, -3.50267317,
       -1.60064536, -1.40823803, -3.00562757,  0.3678594 , -0.7686101 ,
       -1.64738131, -1.98429017, -1.96856282, -0.40623882, -4.07493914,
        0.20160322, -4.35726886, -2.16711144, -0.80976585, -2.1087773 ,
       -0.31794788, -0.19300916, -1.1753082 , -3.07534888, -0.93200938,
       -1.61592768, -2.61732917, -1.52955955, -2.19071519, -0.99480233,
       -1.4197496 , -0.45184636, -0.56504977, -4.46334171, -2.43713126,
       -1.65009376, -1.90199947, -0.06150862, -1.52218202, -1.79863492,
       -2.32955298, -3.78959325, -2.73641709,  0.4004941 , -2.73824302,
        0.12222559, -2.30797241, -1.53988182, -2.01986006, -1.57117131,
       -1.11217039, -2.10249818, -2.17869149, -1.8201657 , -0.16390448,
       -2.28189537, -1.54362577, -2.38122158, -2.61134431, -1.81684452,
       -2.43758161, -3.11407147, -3.13825824,  0.10767848, -1.42098521,
        0.45314184, -1.98018668, -2.05196916, -0.48830927, -1.052113  ,
       -1.20551215, -2.22749915, -2.23906287, -3.34865399, -2.28897813,
       -2.60173858, -2.60691019, -3.88830027, -1.39058982, -1.38801103,
       -1.30226358, -2.7606234 , -2.27295928, -4.09688042, -0.5355728 ,
       -1.20070649, -1.51914286, -0.74934067, -2.33257842, -4.2447763 ,
       -3.46687466, -2.07351331, -1.6131162 , -3.08638556, -1.52420866,
       -2.2442306 , -3.36756042, -1.60967843, -0.5212371 , -3.11289588,
       -0.23007829, -3.46936013, -2.6283627 , -3.54296887, -0.38333921,
       -3.01682734, -0.87258046, -1.78823379, -3.80295625, -0.93059607,
       -0.81278646, -2.54025068, -4.95823376,  0.94521346, -5.47287688,
       -2.66434644, -1.7279167 , -0.17099792, -4.9884024 , -0.0954758 ,
       -1.38857784, -2.73632765, -0.67155245, -3.0310105 , -4.74298343,
       -2.37357923, -2.99265943, -2.56808099,  0.85625366, -3.56534212,
       -2.57596136, -1.69335705, -0.87011082, -2.16691652,  0.5273467 ,
       -3.2923505 , -1.23570705, -2.31932411, -1.02389563, -1.73374863,
       -1.75434411, -0.35307387, -2.42305144, -2.765955  , -1.41403351,
       -0.14695481, -2.3855702 , -0.5913298 , -2.12088554, -0.74873674,
       -1.56356295, -3.27095276, -2.15690552, -1.99068799,  0.21216943,
       -2.25249688, -0.99352257, -2.56533001, -0.41772709, -0.71310242,
       -0.61658168, -1.08755812, -1.14399833, -1.68474619, -2.42908293,
       -1.68497318, -2.16476981, -2.0369864 , -2.03565628, -3.66699559,
       -2.99879362, -0.50277442, -3.04624884, -2.26519284, -1.2326319 ,
       -2.55885841, -1.85562672, -0.30986307, -1.20229229, -3.02279377,
       -0.48635084, -1.92242956, -1.6698052 , -3.46131932, -0.05789511,
       -1.69074415, -1.70127278, -3.64352968, -4.92000577, -2.85016417,
       -1.61741358, -4.36877444, -4.03739817, -3.23989016, -2.4945834 ,
       -2.80495152, -2.41610578, -2.95386183, -5.09316504, -2.63299883,
       -3.33438605, -1.3293716 ,  0.82927355, -2.08155642, -4.24470984,
       -1.50672809, -1.23476756, -2.69441544, -1.95583592, -1.87643906,
       -3.241971  , -0.12759648, -2.21504891, -2.89107597, -1.42938277,
       -3.6792293 , -1.76371838, -3.84655341, -4.10885838, -1.30139368,
       -1.31377921, -2.52150792, -0.09043439, -3.35111681, -2.73559218,
       -2.02369914, -1.34260585, -1.24591479, -2.02036441, -1.33893933,
       -2.17203987, -1.07241583, -1.4063412 , -2.03875042, -1.69785626,
       -0.55101804, -1.22982564, -2.24724546, -2.08596003, -2.34153578,
       -2.0473899 , -1.07322837, -2.29220242, -0.39401995, -1.23605291,
       -1.80442839,  0.31525964, -2.44945512, -0.82973357, -1.02236084,
       -2.99539228, -2.54752709, -1.75990313, -2.36078148, -1.53050982,
       -2.70721694, -2.4380919 , -1.86157249, -1.0367861 , -1.89263998,
       -0.02311389, -0.34288489, -3.7108971 , -1.55119083, -0.41827569,
       -1.78780259, -1.46309698, -3.64249176, -1.32356635,  0.71841889,
       -2.39273607, -1.15208875, -1.54374844, -2.57589794, -0.39375106,
       -0.31765549, -1.27078759, -0.51027064, -1.37272987, -2.01363473,
       -0.88720237, -3.69271963, -0.89436108, -0.52820748, -1.94272673,
       -4.77474193, -2.6904684 , -1.95294779, -2.8489241 , -2.77149486,
       -2.93252274, -1.01958646, -1.15750537, -0.64864626, -2.25703904,
        1.26080127, -2.27214907, -2.72253715, -2.09706245, -0.8955787 ,
       -2.68859656, -2.48702228, -0.34305671, -1.54605425,  0.60382468,
        0.1133617 , -2.57707811, -3.28418356, -1.87261997, -1.69958169,
       -2.82379031, -2.3756548 , -0.87076293, -1.39397603, -1.77887277,
       -3.36260701, -5.15839175, -1.52796661, -0.80519283,  0.05620846,
       -1.83091132, -3.41943977, -2.74793331, -3.55565468, -0.3539139 ,
       -0.95624937, -1.49710204, -0.91026168, -1.90925874, -0.83388972,
       -1.65573122, -3.53141502, -0.7726148 , -1.86265018, -1.57723751,
       -4.35524896, -2.7494085 , -2.35158644, -1.6996943 , -2.85766149,
       -2.15393283, -2.45954209, -4.54617084, -1.19933068, -2.06612211,
       -1.37108065, -1.78812531, -2.70520585, -0.98318329, -3.37645698,
       -1.6221609 , -1.87253225, -2.71292632, -3.45797588, -1.60015619,
       -3.72772514, -1.2675499 , -1.3711287 , -2.35254709, -3.44504725,
       -2.75825436, -1.02253387, -1.36404703, -2.48239528, -1.24427172,
       -1.5685858 , -1.22526184, -4.56626536, -1.58000018, -1.34923441,
       -3.19646915, -2.62552435, -1.89516912, -1.96042835, -1.56475563,
       -0.8128138 , -3.79838451, -2.41406839, -3.83845292, -1.41452985,
       -0.96224858, -3.4002083 , -2.08157001, -2.86889731, -3.08539877,
       -2.40232839, -1.88164583, -3.59161311, -2.65291213, -1.13726552,
       -0.56842821, -1.23698963, -2.20078183, -4.05867197, -1.22718839,
       -2.9272554 , -2.10309139, -2.59034452, -2.88071231, -2.94975435,
       -3.31172567, -3.42194898, -3.9514965 , -2.33644028, -1.97773389,
       -1.92098998, -2.50595659, -0.78749051, -1.5579515 , -1.69631492,
       -1.92887193, -0.97501723, -2.88039556, -1.02697176, -4.42289384,
       -2.67163971, -1.79853721, -1.20599686, -1.99437224, -0.46091282,
       -1.84683512, -2.00420291, -4.68472214, -0.33337093, -1.47390889,
       -1.74505439, -1.05114357, -2.44249219, -1.89921232, -1.56172199,
       -1.73534513, -1.83339538, -1.08494657, -0.66239907, -1.96258247,
        0.28238732, -2.18914036, -3.62624174, -2.05996477, -3.39963501,
       -1.65161479, -1.6777315 , -2.76003129, -1.24819187, -1.32146017,
       -0.93987417, -2.36598516, -1.71948611, -1.07129473, -3.47361559,
       -0.68228247, -5.47141603, -0.72184111, -4.53923461,  0.29532597,
       -1.22797069, -0.40342427, -0.34178026, -2.40661438, -1.65959181,
       -0.02190792, -0.44219318, -3.50271046, -1.42980953, -1.69524821,
       -1.51048941])

### 1-4) 생성한 모델 성능지표 확인하기

In [232]:
#오차행렬
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[646,  22],
       [132,  16]])